{% extends "layout-pom-blank-nav.html" %}


{% block pageTitle %}
Handover cases
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Handover notifications
  </h1>

  <h2 class="govuk-heading-m govuk-!-margin-top-9">To let you know to start planning for handover</h2>
  <img src="../../../public/images/handover-emails/1-8-weeks-before.png">

  <h2 class="govuk-heading-m govuk-!-margin-top-9">To start sharing case information with the COM at start of handover</h2>
  <img src="../../../public/images/handover-emails/2-handover-start.png">

  <h2 class="govuk-heading-m govuk-!-margin-top-9">If COM allocation overdue</h2>
  <img src="../../../public/images/handover-emails/3-com-overdue.png">

  <h2 class="govuk-heading-m govuk-!-margin-top-9">To check handover tasks are in hand towards the end of the process</h2>
  <img src="../../../public/images/handover-emails/4-near-end.png">

  <h2 class="govuk-heading-m govuk-!-margin-top-9">When a COM has become responsible for the case</h2>
  <img src="../../../public/images/handover-emails/5-com-responsible.png">
</div>

</div>
</div>
{% endblock %}