{% extends "layout-pom-blank-nav.html" %}


{% block pageTitle %}
Handover cases
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-bottom-3"></div>
<a href="/handover/prepare-for-handover-list" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Manage email reminders
    </h1>

    <p>You can receive email reminders to help you keep track of case handovers. The preferences you choose below will apply to all your handover cases.</p>

    <p>Emails will be sent to <strong>elizabeth.taylor@justice.gov.uk</strong>. You can update this address on NOMIS.</p>

    <form action="prepare-for-handover-list-confirmation" method="post" novalidate>

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="reminder-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-4">
      Send me an email reminder
      </h1>
    </legend>
    <!-- <div id="reminder-hint" class="govuk-hint">
      Select all that apply.
    </div> -->
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder" name="reminder" type="checkbox" value="before handover starts" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder">
          To let you know to start planning for handover
        </label>
        <div class="govuk-hint govuk-checkboxes__hint">
          We send this 8 weeks before COM allocation to give you time to prepare more complex cases.
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-2" name="reminder" type="checkbox" value="handover start date" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-2">
          When a COM has been allocated
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-3" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-3">
          If COM allocation is overdue
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-4" name="reminder" type="checkbox" value="towards the end of handover" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-4">
          To check handover tasks are in hand towards the end of the process
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-5" name="reminder" type="checkbox" value="handover end date" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-5">
          When a COM has become responsible for the case
        </label>
      </div>
    </div>

  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button" style="margin-right: 15px;">
            Update
          </button>

            <a href="/handover/prepare-for-handover-list" class="govuk-link govuk-link--no-visited-state">Cancel</a>

        </form>




  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h3 class="govuk-heading-m">
              More on handovers
            </h3>
            <ul class="govuk-list">
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#">View handover guidance on EQuiP</a>
              </li>
    </div>
  </div>





{% endblock %}
