{% extends "layout-error.html" %}


{% block pageTitle %}
Error 500
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}




<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Sorry, there is a problem with the allocation service</h1>


        <p class="govuk-body">
          Try again later.</p>

          <p><a class="govuk-link govuk-link--no-visited-state" href="https://digital-dev.prison.service.justice.gov.uk/">Go to the Digital Prison Services homepage.
          </a></p>

      </div>
    </div>
  </main>
</div>



{% endblock %}
