{% extends "layout-error.html" %}


{% block pageTitle %}
POM inactive error
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<a href="#" class="govuk-back-link">Back</a>


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Check this POM is still active</h1>


        <p class="govuk-body govuk-!-margin-bottom-6">
          This person is no longer recorded as a POM in NOMIS or Digital Prison Services.
        </p>



        <h2 class="govuk-heading-m">If they are still managing cases</h2>

        <p class="govuk-body">Check that:</p>

      
        <ul class="govuk-body">
          <li> they have the right role in Digital Prison Services by <a class="govuk-link govuk-link--no-visited-state" href="https://allocation-manager-staging.apps.live-1.cloud-platform.service.justice.gov.uk/help_step2">following these instructions</a>
          </li></br>
          <li> their NOMIS account is active and the correct roles are assigned to them – to do this, <a class="govuk-link govuk-link--no-visited-state" href="https://allocation-manager-staging.apps.live-1.cloud-platform.service.justice.gov.uk/help_step3">use these instructions</a>
          </li>
        </ul>  




        <h2 class="govuk-heading-m">If they have left or will be absent for a while</h2>

        <p class="govuk-body govuk-!-margin-bottom-6">Remove them from their cases by <a href="#" class="govuk-link govuk-link--no-visited-state">changing their status to inactive</a>. You can then allocate their cases to another POM.</p>

        

        

      </div>
    </div>
  </main>
</div>



{% endblock %}
