{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
Prisoner Profile – Digital Prison Services
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% endblock %}


{% endblock %}


{% block beforeContent %}


{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Debugging</h1>


    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Sentencing information
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Main offence
            </dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Content TBD
                  </span>
                </summary>
                <div class="govuk-details__text">
                [Main offence would be listed here]
                </div>
              </details>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Category
            </dt>
            <dd class="govuk-summary-list__value">
              Cat C
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Imprisonment status
            </dt>
            <dd class="govuk-summary-list__value">
              Recalled to Prison from Parole (Non HDC)
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sentence type
            </dt>
            <dd class="govuk-summary-list__value">
              Determinate
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sentence start date
            </dt>
            <dd class="govuk-summary-list__value">
              11 Jul 2013
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ERD Earliest release date
            </dt>
            <dd class="govuk-summary-list__value">
              N/A
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              CRD Conditional release date
            </dt>
            <dd class="govuk-summary-list__value">
              N/A
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              TED Tariff end date
            </dt>
            <dd class="govuk-summary-list__value">
              N/A
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ARD Automatic release date
            </dt>
            <dd class="govuk-summary-list__value">
              N/A
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              PED Parole eligibility date
            </dt>
            <dd class="govuk-summary-list__value">
              N/A
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              HDCED Home detention curfew eligibility date
            </dt>
            <dd class="govuk-summary-list__value">
              N/A
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Post recall release date
            </dt>
            <dd class="govuk-summary-list__value">
              10 Sep 2025
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence expiry date
            </dt>
            <dd class="govuk-summary-list__value">
              10 Sep 2025
            </dd>
          </div>






        </dl>
      </div>
    </div>

   
    
      
    
    
    
  



  </div>
</div>
{% endblock %}
