{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
Data protection
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}




<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Protecting your personal information</h1>

        <p class="govuk-body">
          This document explains what we mean when we talk about personal data, why we ask for this information about you and what we do with it. It also explains how we store your data, how you can get a copy of the information we have collected about you and how you can complain if you think we’ve done something wrong.

        </p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Why we collect personal information 
        </h2>
        
        <p class="govuk-body">
          Doing research with people such as yourself helps us to inform and evaluate the MOJ’s services and technologies. The Ministry of Justice (MOJ) is the data controller for the personal information we collect from you and then store. 
        </p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">About personal information 
        </h2>
        
        <p class="govuk-body">
          Personal information is data about you as an individual. It can be your name, address or telephone number. It can also include information about tribunal or court cases you may have been involved with, and details of any offences and convictions. 
        </br>Personal data does not include information relating to dead people, groups or communities of people, organisations or businesses.
        </p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">When we ask for personal data  
        </h2>
        
        <p class="govuk-body">
          Whenever we ask for information about you, we promise to: 

          <ul class="govuk-body">
            <li>ask for your permission up front 
            </li>
            <li>always let you know why we need it 
            </li>
            <li>ask for relevant personal information only </li>
            <li>make sure we don’t keep it longer than needed 
            </li>
            <li>keep your information safe and make sure nobody can access it unless authorised 
            </li>
            <li>only share your data with other organisations for legitimate purposes 
            </li>
            <li>consider any request you make to correct, stop storing or delete your personal data
            </li>
           
          </ul>  

        </p>



        <p class="govuk-body">
          We also promise to make it easy for you to: 

          <ul class="govuk-body">
            <li>tell us at any time if you want us to stop storing your personal data 
            </li>
            <li>make a complaint with the supervisory authority 
            </li>
            
          </ul>  

        </p>


        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">The personal data we collect   
        </h2>


        <p class="govuk-body">
          We only collect the personal data we need to meet our research goals. Depending on the exact nature of the research we do, this can include data such as:


          <ul class="govuk-body">
            <li>Your name, address, telephone number and email address
            </li>
            <li>Information provided to us by research recruitment agencies
            </li>
            <li>Gender and age
            </li>
            <li>Video or audio recordings made during research sessions
            </li>
            <li>Family, lifestyle and social circumstances 
            </li>
            <li>Financial information 
            </li>
            <li>Employment and education details 
            </li>
            <li>Physical or mental health information 
            </li>
            <li>Racial or ethnic origin
            </li>
            <li>Nationality and immigration status
            </li>
            
          </ul>  

        </p>



        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Sharing your personal data  
        </h2>

        <p class="govuk-body">
          We sometimes need to share your personal information with other parts of the MOJ and also with other organisations. We will only do this when the data protection legislation and any other laws says we can. 
        </p>
        
        <p class="govuk-body">
          The organisations we may share your personal information with, can include:

          <ul class="govuk-body">
            <li>Members of digital teams within the MOJ
            </li>
            <li>MOJ employees and agencies 
            </li>
            <li>Data processors
            </li>
            
          </ul>  

        </p>


        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Sharing and storing your personal data abroad</h2>


        <p class="govuk-body">
          Sometimes, we may have to transfer your personal information overseas. If we have to do this, we will make sure that we abide by the relevant data protection laws.  
        </p>


        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Accessing your personal information 
        </h2>


        <p class="govuk-body">
          You can find out what personal data we have about you by making a subject access request. To find out how to do this, please visit:  

          <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter
          ">https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter
        </a> 

        </p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Getting more information 
        </h2>

        <p class="govuk-body">
          You can get more details on: 

          <ul class="govuk-body">
            <li>how to ask us to correct any mistakes 
            </li>
            <li>agreements we have with other organisations for sharing information 
            </li>
            <li>when we can pass on personal information without telling you, for example, to help with the prevention or detection of crime or to produce anonymised statistics</li>
            <li>instructions we give to staff on how to collect, use or delete your personal information </li>
            <li>how we check that the information we hold is accurate and up-to-date 
            </li>
            <li>how to make a complaint. 
            </li>
          </ul>  

        </p>

        <p class="govuk-body">
          For more information about any of these, please contact the MoJ data protection officer at: Data Protection Team, Ministry of Justice, 102 Petty France London, SW1H 9AJ.          
        </p>


        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Complaints 
        </h2>

        <p class="govuk-body">
          When we ask you for information, we will keep to the law. If you think that your information has not been handled correctly, you can contact the Information Commissioner for independent advice about data protection from: 
        </br></br>Information Commissioner's Office, Wycliffe House, Water Lane, Wilmslow, Cheshire, SK9 5AF. Tel: 0303 123 1113
          
        </p>



      </div>
    </div>
  </main>
</div>



{% endblock %}
