{% extends "layout-caseload-pom.html" %}


{% block pageTitle %}
Parole cases
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block pageScripts %}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">



  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
    Caseload
  </h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      

      <div class="moj-search govuk-!-margin-bottom-6">

        <form action="/search/pom/results" method="post">
      
          <div class="govuk-form-group">
            <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
              Find a case
            </label>
      
            <div id="search-hint" class="govuk-hint moj-search__hint ">
              <!--Enter a name or prison number-->
            </div>
      
            <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
          </div>
      
          <button class="govuk-button moj-search__button " data-module="govuk-button">
            Search
          </button>
      
        </form>
      </div>




    </div>
  </div>





  

  <div class="govuk-grid-row">


  <div class="govuk-grid-column-full">
  <nav class="moj-sub-navigation" aria-label="Sub navigation">

    <ul class="moj-sub-navigation__list">

      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/caseload/overview">Overview</a>
      </li>


      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/caseload/your-cases-all">Your cases (14)</a>
      </li>

      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page">Parole cases (8)</a>
      </li>


      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/caseload/case-updates-needed">Case updates needed (1)</a>
      </li>

      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/caseload/prison-cases-all">All allocations in this prison (206)</a>
      </li>


    </ul>

</nav>
</div>
</div>



  <h2 class="govuk-heading-l">
    Parole cases
  </h2>
  

  

  <p class="govuk-body">Cases with a target hearing date, PED or TED in the next 10 months.</p>

 




  <nav class="moj-pagination" id="pagination-label">

    <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
  
    <ul class="moj-pagination__list">
      <li class="moj-pagination__item  moj-pagination__item--prev">
        <!--<a class="moj-pagination__link" href="" style="margin-left: -20px;">Previous<span class="govuk-visually-hidden"> set of pages</span></a>-->
      </li>
  
      <li class="moj-pagination__item"><!--<a class="moj-pagination__link" href="/page=1">1</a></li>-->
  
      <li class="moj-pagination__item moj-pagination__item--active"><!--2--></li>
  
      <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3"><!--3--></a></li>
  
      <li class="moj-pagination__item  moj-pagination__item--next">
        <!--<a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>-->
      </li>
    </ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>8</b> of <b>8</b> results</p>
  </nav>



  <table class="govuk-table govuk-!-margin-top-6" data-module="moj-sortable-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="none">Case</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Role</th>
        <th scope="col" class="govuk-table__header" aria-sort="ascending">Next parole date</th>
    </thead>


    <tbody class="govuk-table__body">


      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Nguyễn" href="./prisoner-profile-release.html">Nguyễn, Bảo</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> A2911GD </span></td> 
        <td class="govuk-table__cell" data-sort-value="Responsible">Responsible</td>
        <td class="govuk-table__cell" data-sort-value="2021.05.01">Target hearing date:
          </br>01 Nov 2021 </td>
        
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Patel" href="./prisoner-profile-remain-closed-conditions.html">Patel, Kirit</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> A2911GD </span></td>
        <td class="govuk-table__cell" data-sort-value="Responsible">Responsible</td>
        <td class="govuk-table__cell" data-sort-value="2023.08.10">Target hearing date: </br>01 Nov 2021</td>
        
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Jameson" href="./prisoner-profile-open-conditions.html">Jameson, Pharrell</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> A2911GD </span></td>
        <td class="govuk-table__cell" data-sort-value="Responsible">Responsible</td>
        <td class="govuk-table__cell" data-sort-value="2023.01.19">Target hearing date: </br>01 Jan 2022</td>
        
      </tr>


      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Simpkin" href="#">Simpkin, Derick</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> A2911GD </span></td>
        <td class="govuk-table__cell" data-sort-value="Responsible">Supporting</td>
        <td class="govuk-table__cell" data-sort-value="2022.01.17">TED: </br>17 Jan 2022</td>
        
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Perry" href="#">Perry, Bryn</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> A2911GD </span></td>
        <td class="govuk-table__cell" data-sort-value="Supporting">Supporting</td>
        <td class="govuk-table__cell" data-sort-value="2022.02.01">TED:</br>26 Feb 2022</td>
       
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Niemec" href="#">Niemec, Tobiasz</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> A2911GD </span></td>
        <td class="govuk-table__cell" data-sort-value="Responsible">Responsible</td>
        <td class="govuk-table__cell" data-sort-value="2022.11.26">PED: </br>26 Apr 2022</td>
        
      </tr>

      

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Holmes" href="#">Holmes, Benjamin</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> A2911GD </span></td>
        <td class="govuk-table__cell" data-sort-value="Responsible">Responsible</td>
        <td class="govuk-table__cell" data-sort-value="2023.07.25">PED: </br>25 Jun 2022</td>
      
      </tr>

  
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Adams" href="#">Adams, Damien</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> A2911GD </span></td>
        <td class="govuk-table__cell" data-sort-value="Responsible">Responsible</td>
        <td class="govuk-table__cell" data-sort-value="2024.02.28">TED:</br>28 Aug 2022</td>
        
      </tr>
      
    </tbody>
  </table>






  <nav class="moj-pagination" id="pagination-label">

    <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
  
    <ul class="moj-pagination__list">
      <li class="moj-pagination__item  moj-pagination__item--prev">
        <!--<a class="moj-pagination__link" href="" style="margin-left: -20px;">Previous<span class="govuk-visually-hidden"> set of pages</span></a>-->
      </li>
  
      <li class="moj-pagination__item"><!--<a class="moj-pagination__link" href="/page=1">1</a></li>-->
  
      <li class="moj-pagination__item moj-pagination__item--active"><!--2--></li>
  
      <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3"><!--3--></a></li>
  
      <li class="moj-pagination__item  moj-pagination__item--next">
        <!--<a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>-->
      </li>
    </ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>8</b> of <b>8</b> results</p>
  </nav>





</div>

  </div>



{% endblock %}
