<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}



<section class="app-masthead" aria-label="head">

<div class="app-masthead">

<div class="govuk-width-container">

  <h1 class="govuk-heading-xl app-masthead__title">Manage POM cases service</h1>
  <h2 class="app-masthead__subtitle govuk-heading-l">Prototype library (version {{releaseVersion}})</h2>
  <p class="app-masthead__description">This site contains the design prototypes for the Manage POM cases service.</p>

</div>

</div>
</section>
