<section class="key-details-bar" aria-label="Key details">
  <div class="key-details-bar__key-details">
    <!-- <div style="display: inline-block"> -->
      <!-- <div class="prisoner-photo">
        <img style="width:100%" src="/public/images/NoPhoto.png" alt="no photo" />
      </div> -->
      <div class="prisoner-info">
      <div class="key-details-bar__top-block">
        <span class="govuk-visually-hidden">Name:</span>
        <span class="key-details-bar__name govuk-!-margin-right-6">Jack Smith</span>
          <span
          class="govuk-body"><strong>NOMIS ID:</strong> G4198UW</span>

      </div>

      <div class="key-details-bar__bottom-block">
        <span
        class="govuk-body"><strong>Date of birth:</strong> 01 October 1985 (36 years)</span>
      </div>
    </div>
  </div>
</section>
