<section class="key-details-bar" aria-label="Key details">
  <div class="key-details-bar__key-details">
    <!-- <div style="display: inline-block"> -->
      <div class="prisoner-info-v2">
      <div class="key-details-bar__top-block">
        <span class="govuk-visually-hidden">Name:</span>
        <span class="key-details-bar__name govuk-!-margin-right-6">Jessica Davey</span>
          <span
          class="govuk-body"><strong>NOMIS ID:</strong> G4198UW</span>
          <span
          class="govuk-body" style="margin-left: 15px;"><strong>Date of birth:</strong> 01 October 2000</span>
      </div>
      <div class="key-details-bar__bottom-block">
        <span class="govuk-body" style="margin-right: 15px;"><strong>Tier B</span>
        <span class="govuk-body" style="margin-right: 15px;"><strong>Medium complexity</span>
            <span class="govuk-body" style="margin-right: 15px;"><strong>Determinate</span>
                <span class="govuk-body" style="margin-right: 15px;"><strong>Recall</span>
        <!-- <span class="key-details-bar__status">Determinate</span>
        <span class="key-details-bar__status">Recall</span> -->
      </div>
        <!-- <span class="key-details-bar__status">Determinate</span>
        <span class="key-details-bar__status">Recall</span> -->
      </div>

    </div>
  </div>
</section>
