<section class="key-details-bar" aria-label="Key details">
  <div class="key-details-bar__key-details">
    <!-- <div style="display: inline-block"> -->

      <div class="prisoner-info-v2">
      <div class="key-details-bar__top-block">
        <span class="govuk-visually-hidden">Name:</span>
        <span class="key-details-bar__name govuk-!-margin-right-6">Maria Nelson</span>
          <span
          class="govuk-body"><strong>NOMIS ID:</strong> G4198UW</span>
          <span
          class="govuk-body" style="margin-left: 15px;"><strong>Date of birth:</strong> 15 March 1991</span>
      </div>
      <!-- <div class="key-details-bar__bottom-block"> -->
        <!-- <span class="govuk-body" style="margin-right: 15px;"><strong>Tier C</span> -->
          <!-- <span class="key-details-bar__status">Determinate</span> -->
          <!-- <span class="govuk-body" style="margin-right: 15px;"><strong>Indeterminate</span>
            <span class="govuk-body" style="margin-right: 15px;"><strong>Parole eligibility</span> -->
      <!-- </div> -->

    </div>
  </div>
</section>
