{% extends "layout-search-pom.html" %}

{% block pageTitle %}
  Has this person's next target hearing date been announced? – Digital Prison Services
{% endblock %}


{% block content %}

<div class="govuk-width-container">

<a href="/parole/pom/manual-entry-v3/parole-eligible" class="govuk-back-link govuk-!-margin-bottom-6">Back</a>


  <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
           
            <form action="/parole-outcome-letter-answer" method="post">
            
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Has James’ next target hearing date been announced?
                  </h1>
                </legend>
                <div id="changed-name-hint" class="govuk-hint">
                  This is set after the 21-day reconsideration stage when it is confirmed that they have not been recommended for release. It is on the 'outcome of Parole Board decision' letter or in PPUD.
                </div>
                <div id="changed-name-hint" class="govuk-hint">
                
                </div>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-many-letters" name="how-many-letters" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="changed-name">
                      Yes
                    </label>
                  </div>

                

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-many-letters" name="how-many-letters" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                      No
                    </label>
                  </div>
                </div>
            
              </fieldset>
            </div>
           
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>

          </form>
           
          </div>
        </div>

      </div>




{% endblock %}
