{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-width-container">

<a href="#" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">


          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You can start this assessment but cannot submit to the community until 18 months before release</h1>

            <p class="govuk-body">You can start the assessment at any time. The assessment cannot be submitted until 18 months before release.</p>

            <p class="govuk-body">We will email the allocated POM to remind them to check any saved assessments 18 months before release. The POM can make changes to the assessment and confirm that it is ready to submit to the community.</p>

            <!-- <p class="govuk-body">Some cases will be referred to the community automatically.</p>

              <p class="govuk-body">Others need the agreement of both the Head of Offender Management Delivery and the community probation team.</p>

            <p class="govuk-body">Use this service to determine what kind of community referral you need to make.</p> -->

            <button class="govuk-button" data-module="govuk-button">Continue</button>

          </div>

          <div class="govuk-grid-column-one-third">

            <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

            <aside class="app-related-items" role="complementary">
              <h2 class="govuk-heading-m" id="subsection-title">
                Guidance
              </h2>
              <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                  <li>
                    <a class="govuk-link" href="#">
                      View EQuiP guidance
                    </a>
                  </li>
                </ul>
              </nav>
            </aside>

          </div>
        </div>
      </main>
    </div>

</div>
</div>
</div>
</main>
</div>






{% endblock %}
