{% extends "layout-main.html" %}


{% block pageTitle %}
Allocate to a POM
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/womens-service-user-banner.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="/womens/allocations-review-case-info" class="govuk-back-link">Back to review case details</a>
{% endblock %}


{% block content %}

<form method="post" action="/womens/confirm-allocation">


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    <span class="govuk-caption-l">Step 2 of 3</span>
    <h1 class="govuk-heading-l">
      Allocate a Prison Offender Manager
    </h1>
    <div class="govuk-inset-text">
Probation POM Andrien Ricketts has previously been allocated to this case.
</div>

    <div class="govuk-!-margin-top-6"></div>


      <h2 class="govuk-heading-m">
          Recommendation: Probation officer POM to work with Jessica Davey.</h2>
        <p>This recommendation takes the prisoner's tier and time left to serve into account.</p>







<h3 class="govuk-heading-s">Active probation officer POMs</h3>

<table class="govuk-table responsive">
  <thead class="govuk-table__head">

  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">POM name</th>
    <th class="govuk-table__header" scope="col">Working pattern</th>
    <!-- <th class="govuk-table__header" scope="col">Worked with service<br>user before</th> -->
    <th class="govuk-table__header" scope="col">Tier A</th>
    <th class="govuk-table__header" scope="col">Tier B</th>
    <th class="govuk-table__header" scope="col">Tier C</th>
    <th class="govuk-table__header" scope="col">Tier D</th>
    <th class="govuk-table__header" scope="col">No tier</th>
    <th class="govuk-table__header" scope="col">Total</th>
    <th class="govuk-table__header" scope="col">Total with <br>complexity uplift</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row recommended_pom_row_0">
      <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="eve">
        <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
          Eve Bayram
          <!-- <p>
            Full time
          </p> -->
        </label>
      </div></td>
      <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
      <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
      </td> -->
      <td aria-label="Tier A cases" class="govuk-table__cell ">30</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">10</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">0</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
      <td aria-label="No tier" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">50</td>
      <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">52.85</td>

    </tr>

    <tr class="govuk-table__row recommended_pom_row_1">
      <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="amy">
        <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
          Amy Cufflin
          <!-- <p>
            Full time
          </p> -->
        </label>
      </div></td>
      <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
      <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
      </td> -->
      <td aria-label="Tier A cases" class="govuk-table__cell ">5</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">40</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">5</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">15</td>
      <td aria-label="No tier" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">55</td>
      <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">56.8</td>

    </tr>

    <tr class="govuk-table__row recommended_pom_row_2">
      <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="stephen">
        <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
          Stephen Dicks
          <!-- <br><p>
            Full time
          </p> -->
        </label>
      </div></td>
      <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
      <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
      </td> -->
      <td aria-label="Tier A cases" class="govuk-table__cell ">22</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">5</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">25</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
      <td aria-label="No tier" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">52</td>
      <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">53.2</td>

    </tr>

    <tr class="govuk-table__row recommended_pom_row_3">
      <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="binit">
        <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
          Binit Hindocha
          <!-- <br><p>
            Full time
          </p> -->
        </label>
      </div></td>
      <td aria-label="Working pattern" class="govuk-table__cell">Part time - 0.5</td>
      <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
      </td> -->
      <td aria-label="Tier A cases" class="govuk-table__cell ">20</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">7</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">4</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
      <td aria-label="No tier" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">31</td>
      <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">31.9</td>

    </tr>

    <tr class="govuk-table__row recommended_pom_row_4">
      <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="katy">
        <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
          Katy McCann
          <!-- <br><p>
            Full time
          </p> -->
        </label>
      </div></td>
      <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
      <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
      </td> -->
      <td aria-label="Tier A cases" class="govuk-table__cell ">20</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">15</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">25</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
      <td aria-label="No tier" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">65</td>
      <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">67.7</td>

    </tr>

    <tr class="govuk-table__row recommended_pom_row_5">
      <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="andrien">
        <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
          Andrien Ricketts
          <!-- <br><p>
            Full time
          </p> -->
        </label>
      </div></td>
      <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
      <!-- <td aria-label="Previous allocation" class="govuk-table__cell">Yes
      </td> -->
      <td aria-label="Tier A cases" class="govuk-table__cell ">20</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">5</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">25</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
      <td aria-label="No tier" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">50</td>
      <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">51.95</td>

    </tr>

    <tr class="govuk-table__row recommended_pom_row_6">
      <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="ollie">
        <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
          Ollie Treend
          <!-- <br><p>
            Full time
          </p> -->
        </label>
      </div></td>
      <td aria-label="Working pattern" class="govuk-table__cell">Part time - 0.8</td>
      <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
      </td> -->
      <td aria-label="Tier A cases" class="govuk-table__cell ">18</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">12</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">7</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">3</td>
      <td aria-label="No tier" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">40</td>
      <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">41.95</td>

    </tr>
  </tbody>
</table>

<div class="govuk-grid-column-full govuk-!-margin-top-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with complexity uplift
    </span>
  </summary>
  <div class="govuk-details__text">
      <p>Complexity uplift is added to the total number of cases to give a more accurate summary of POM workload.</p>
    <p>High complexity cases are recorded with a 30% uplift. This reflects 45 minutes of additional tasks for the POM every week.</p>

    <p>Medium complexity cases are recorded with a 15% uplift. This reflects 30 minutes of additional tasks for the POM every week.</p>
  </div>
</details>


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h3 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Active prison officer POMs
      </span>
    </h3>
  </div>
  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
    <table class="govuk-table responsive">
      <thead class="govuk-table__head">

      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">POM name</th>
        <th class="govuk-table__header" scope="col">Working pattern</th>
        <!-- <th class="govuk-table__header" scope="col">Worked with service<br>user before</th> -->
        <th class="govuk-table__header" scope="col">Tier A</th>
        <th class="govuk-table__header" scope="col">Tier B</th>
        <th class="govuk-table__header" scope="col">Tier C</th>
        <th class="govuk-table__header" scope="col">Tier D</th>
        <th class="govuk-table__header" scope="col">No tier</th>
        <th class="govuk-table__header" scope="col">Total</th>
        <th class="govuk-table__header" scope="col">Total with <br>complexity uplift</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row recommended_pom_row_0">
          <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="annie">
            <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
              Annie Bradley
              <!-- <p>
                Full time
              </p> -->
            </label>
          </div></td>
          <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
          <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
          </td> -->
          <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
          <td aria-label="Tier B cases" class="govuk-table__cell ">10</td>
          <td aria-label="Tier C cases" class="govuk-table__cell ">30</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">10</td>
          <td aria-label="No tier" class="govuk-table__cell ">0</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">50</td>
          <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">52.85</td>

        </tr>

        <tr class="govuk-table__row recommended_pom_row_1">
          <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="geoff">
            <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
              Geoff Colum
              <!-- <p>
                Full time
              </p> -->
            </label>
          </div></td>
          <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
          <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
          </td> -->
          <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
          <td aria-label="Tier B cases" class="govuk-table__cell ">10</td>
          <td aria-label="Tier C cases" class="govuk-table__cell ">30</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">15</td>
          <td aria-label="No tier" class="govuk-table__cell ">0</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">55</td>
          <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">56.8</td>

        </tr>

        <tr class="govuk-table__row recommended_pom_row_2">
          <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="matthew">
            <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
              Matthew Hanson
              <!-- <br><p>
                Full time
              </p> -->
            </label>
          </div></td>
          <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
          <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
          </td> -->
          <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
          <td aria-label="Tier B cases" class="govuk-table__cell ">5</td>
          <td aria-label="Tier C cases" class="govuk-table__cell ">25</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">22</td>
          <td aria-label="No tier" class="govuk-table__cell ">0</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">52</td>
          <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">53.2</td>

        </tr>

        <tr class="govuk-table__row recommended_pom_row_3">
          <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="sophie">
            <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
              Sophie Hill
              <!-- <br><p>
                Full time
              </p> -->
            </label>
          </div></td>
          <td aria-label="Working pattern" class="govuk-table__cell">Part time - 0.5</td>
          <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
          </td> -->
          <td aria-label="Tier A cases" class="govuk-table__cell ">1</td>
          <td aria-label="Tier B cases" class="govuk-table__cell ">7</td>
          <td aria-label="Tier C cases" class="govuk-table__cell ">4</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">19</td>
          <td aria-label="No tier" class="govuk-table__cell ">0</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">31</td>
          <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">31.9</td>

        </tr>

        <tr class="govuk-table__row recommended_pom_row_4">
          <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="helen">
            <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
              Helen James
              <!-- <br><p>
                Full time
              </p> -->
            </label>
          </div></td>
          <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
          <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
          </td> -->
          <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
          <td aria-label="Tier B cases" class="govuk-table__cell ">15</td>
          <td aria-label="Tier C cases" class="govuk-table__cell ">25</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">20</td>
          <td aria-label="No tier" class="govuk-table__cell ">0</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">65</td>
          <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">67.7</td>

        </tr>

        <tr class="govuk-table__row recommended_pom_row_5">
          <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="jim">
            <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
              Jim Roantree
              <!-- <br><p>
                Full time
              </p> -->
            </label>
          </div></td>
          <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
          <!-- <td aria-label="Previous allocation" class="govuk-table__cell">Yes
          </td> -->
          <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
          <td aria-label="Tier B cases" class="govuk-table__cell ">5</td>
          <td aria-label="Tier C cases" class="govuk-table__cell ">25</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">19</td>
          <td aria-label="No tier" class="govuk-table__cell ">1</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">50</td>
          <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">51.95</td>

        </tr>

        <tr class="govuk-table__row recommended_pom_row_6">
          <td aria-label="POM name" class="govuk-table__cell "> <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="choose-pom" name="choose-pom" type="radio" value="carlos">
            <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="choose-pom">
              Carlos Santos
              <!-- <br><p>
                Full time
              </p> -->
            </label>
          </div></td>
          <td aria-label="Working pattern" class="govuk-table__cell">Part time - 0.8</td>
          <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
          </td> -->
          <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
          <td aria-label="Tier B cases" class="govuk-table__cell ">12</td>
          <td aria-label="Tier C cases" class="govuk-table__cell ">7</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">21</td>
          <td aria-label="No tier" class="govuk-table__cell ">0</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">40</td>
          <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">41.95</td>

        </tr>
      </tbody>
    </table>
    <div class="govuk-grid-column-full govuk-!-margin-top-4"></div>



  </div>
</div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
          POMs unavailable for new allocations
        </span>
      </h3>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
        There are 2 POMs unavailable.
      </div>
    </div>
    <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
      <table class="govuk-table responsive">
        <thead class="govuk-table__head">

        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">POM name</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <!-- <th class="govuk-table__header" scope="col">Worked with service<br>user before</th> -->
          <th class="govuk-table__header" scope="col">POM type</th>
          <th class="govuk-table__header" scope="col">Total</th>
          <th class="govuk-table__header" scope="col">Total with <br>complexity uplift</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row recommended_pom_row_0">
            <td aria-label="POM name" class="govuk-table__header ">

                Richard Adams
                <!-- <p>
                  Full time
                </p> --></td>
            <td aria-label="Working pattern" class="govuk-table__cell">Active but unavailable for new cases</td>
            <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
            </td> -->
            <td aria-label="POM type" class="govuk-table__cell ">Probation Officer POM</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">67</td>
            <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">68.95</td>

          </tr>

            <tr class="govuk-table__row recommended_pom_row_0">
              <td aria-label="POM name" class="govuk-table__header ">

                  Shahina Rahman
                  <!-- <p>
                    Full time
                  </p> --></td>
              <td aria-label="Working pattern" class="govuk-table__cell">Inactive</td>
              <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
              </td> -->
              <td aria-label="POM type" class="govuk-table__cell ">Prison Officer POM</td>
              <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">0</td>
              <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">0</td>

            </tr>
  </tbody>
</table>
<div class="govuk-grid-column-full govuk-!-margin-top-4"></div>

    </div>
</div>

</div>
</div>
</div>
<div class="govuk-grid-column-full govuk-!-margin-top-4"></div>
  <button class="govuk-button" data-module="govuk-button" formaction="/womens/confirm-allocation">
    Allocate
  </button>


</div>
</div>
</main>
</div>
</form>





{% endblock %}
