{% extends "layout-staff-view.html" %}


{% block pageTitle %}
Manage staff
{% endblock %}

{% block bodyStart %}

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
      Manage your staff
    </h1>



    <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#active-staff">
          Active staff
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Inactive staff
        </a>
      </li>

    </ul>
    <div class="govuk-tabs__panel" id="active-staff">
      <h2 class="govuk-heading-m">Active probation officer POMs</h2>

      <table class="govuk-table responsive app-table--zebra">
        <thead class="govuk-table__head">

        <tr class="govuk-table__row recommended_pom_row_1">
          <th class="govuk-table__header" scope="col">Prison Offender<br> Manager</th>
          <th class="govuk-table__header" scope="col">Tier A</th>
          <th class="govuk-table__header" scope="col">Tier B</th>
          <th class="govuk-table__header" scope="col">Tier C</th>
          <th class="govuk-table__header" scope="col">Tier D</th>
          <th class="govuk-table__header" scope="col">No tier</th>
          <th class="govuk-table__header" scope="col">Total cases</th>
          <th class="govuk-table__header" scope="col">Total with <br>complexity uplift</th>
          <th class="govuk-table__header" scope="col">Working pattern</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td aria-label="POM name" class="govuk-table__cell "><a class="govuk-link govuk-link--no-visited-state" href=#>Eve Bayram</a></td>

            <td aria-label="Tier A cases" class="govuk-table__cell ">30</td>
            <td aria-label="Tier B cases" class="govuk-table__cell ">20</td>
            <td aria-label="Tier C cases" class="govuk-table__cell ">0</td>
            <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
            <td aria-label="No tier" class="govuk-table__cell ">0</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">50</td>
            <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">52.85</td>
            <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
            <td aria-label="status" class="govuk-table__cell">Available</td>

          </tr>

          <tr class="govuk-table__row recommended_pom_row_2">
            <td aria-label="POM name" class="govuk-table__cell "><a class="govuk-link govuk-link--no-visited-state" href=#>Stephen Dicks</a></td>

            <td aria-label="Tier A cases" class="govuk-table__cell ">22</td>
            <td aria-label="Tier B cases" class="govuk-table__cell ">5</td>
            <td aria-label="Tier C cases" class="govuk-table__cell ">25</td>
            <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
            <td aria-label="No tier" class="govuk-table__cell ">0</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">52</td>
            <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">53.2</td>
            <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
            <td aria-label="status" class="govuk-table__cell">Unavailable<br> for new cases</td>

          </tr>

          <tr class="govuk-table__row recommended_pom_row_3">
            <td aria-label="POM name" class="govuk-table__cell "><a class="govuk-link govuk-link--no-visited-state" href=#>Binit Hindocha</a></td>
            <td aria-label="Tier A cases" class="govuk-table__cell ">20</td>
            <td aria-label="Tier B cases" class="govuk-table__cell ">7</td>
            <td aria-label="Tier C cases" class="govuk-table__cell ">4</td>
            <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
            <td aria-label="No tier" class="govuk-table__cell ">0</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">31</td>
            <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">31.9</td>
            <td aria-label="Working pattern" class="govuk-table__cell">Part time - 0.5</td>
            <td aria-label="status" class="govuk-table__cell">Available</td>

          </tr>

          <tr class="govuk-table__row recommended_pom_row_5">
            <td aria-label="POM name" class="govuk-table__cell "><a class="govuk-link govuk-link--no-visited-state" href=#>Andrien Ricketts</a></td>


            <td aria-label="Tier A cases" class="govuk-table__cell ">20</td>
            <td aria-label="Tier B cases" class="govuk-table__cell ">5</td>
            <td aria-label="Tier C cases" class="govuk-table__cell ">25</td>
            <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
            <td aria-label="No tier" class="govuk-table__cell ">0</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">50</td>
            <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">51.95</td>
            <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
            <td aria-label="status" class="govuk-table__cell">Available</td>

          </tr>

          <tr class="govuk-table__row recommended_pom_row_6">
            <td aria-label="POM name" class="govuk-table__cell "><a class="govuk-link govuk-link--no-visited-state" href=#>Ollie Treend</a></td>


            <td aria-label="Tier A cases" class="govuk-table__cell ">18</td>
            <td aria-label="Tier B cases" class="govuk-table__cell ">12</td>
            <td aria-label="Tier C cases" class="govuk-table__cell ">7</td>
            <td aria-label="Tier D cases" class="govuk-table__cell ">3</td>
            <td aria-label="No tier" class="govuk-table__cell ">0</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">40</td>
            <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">41.95</td>
            <td aria-label="Working pattern" class="govuk-table__cell">Part time - 0.8</td>
            <td aria-label="status" class="govuk-table__cell">Available</td>

          </tr>
        </tbody>
      </table>



      <div class="govuk-grid-column-full govuk-!-margin-top-4"></div>

      <h2 class="govuk-heading-m">Active prison officer POMs</h2>


      <table class="govuk-table responsive app-table--zebra">
        <thead class="govuk-table__head">

        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Prison Offender<br> Manager</th>

          <th class="govuk-table__header" scope="col">Tier A</th>
          <th class="govuk-table__header" scope="col">Tier B</th>
          <th class="govuk-table__header" scope="col">Tier C</th>
          <th class="govuk-table__header" scope="col">Tier D</th>
          <th class="govuk-table__header" scope="col">No tier</th>
          <th class="govuk-table__header" scope="col">Total cases</th>
          <th class="govuk-table__header" scope="col">Total with <br>complexity uplift</th>
          <th class="govuk-table__header" scope="col">Working pattern</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row recommended_pom_row_0">
            <td aria-label="POM name" class="govuk-table__cell "><a class="govuk-link govuk-link--no-visited-state" href=#>Annie Bradley</a></td>


            <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
            <td aria-label="Tier B cases" class="govuk-table__cell ">10</td>
            <td aria-label="Tier C cases" class="govuk-table__cell ">30</td>
            <td aria-label="Tier D cases" class="govuk-table__cell ">10</td>
            <td aria-label="No tier" class="govuk-table__cell ">0</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">50</td>
            <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">52.85</td>
            <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
            <td aria-label="status" class="govuk-table__cell">Available</td>

          </tr>

          <tr class="govuk-table__row recommended_pom_row_1">
            <td aria-label="POM name" class="govuk-table__cell ">
          <a class="govuk-link govuk-link--no-visited-state" href=#>Geoff Colum</a></td>


            <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
            <td aria-label="Tier B cases" class="govuk-table__cell ">10</td>
            <td aria-label="Tier C cases" class="govuk-table__cell ">30</td>
            <td aria-label="Tier D cases" class="govuk-table__cell ">15</td>
            <td aria-label="No tier" class="govuk-table__cell ">0</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">55</td>
            <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">56.8</td>
            <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
            <td aria-label="status" class="govuk-table__cell">Available</td>

          </tr>

          <tr class="govuk-table__row recommended_pom_row_2">
            <td aria-label="POM name" class="govuk-table__cell ">
          <a class="govuk-link govuk-link--no-visited-state" href=#>Matthew Hanson</a></td>

            <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
            <td aria-label="Tier B cases" class="govuk-table__cell ">5</td>
            <td aria-label="Tier C cases" class="govuk-table__cell ">25</td>
            <td aria-label="Tier D cases" class="govuk-table__cell ">22</td>
            <td aria-label="No tier" class="govuk-table__cell ">0</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">52</td>
            <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">53.2</td>
            <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
            <td aria-label="status" class="govuk-table__cell">Available</td>

          </tr>

          <tr class="govuk-table__row recommended_pom_row_3">
            <td aria-label="POM name" class="govuk-table__cell ">
            <a class="govuk-link govuk-link--no-visited-state" href=#>Sophie Hill</a></td>


            <td aria-label="Tier A cases" class="govuk-table__cell ">1</td>
            <td aria-label="Tier B cases" class="govuk-table__cell ">7</td>
            <td aria-label="Tier C cases" class="govuk-table__cell ">4</td>
            <td aria-label="Tier D cases" class="govuk-table__cell ">19</td>
            <td aria-label="No tier" class="govuk-table__cell ">0</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">31</td>
            <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">31.9</td>
            <td aria-label="Working pattern" class="govuk-table__cell">Part time - 0.5</td>
            <td aria-label="status" class="govuk-table__cell">Available</td>

          </tr>

          <tr class="govuk-table__row recommended_pom_row_4">
            <td aria-label="POM name" class="govuk-table__cell ">
            <a class="govuk-link govuk-link--no-visited-state" href=#>Helen James</a></td>
            <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
            <td aria-label="Tier B cases" class="govuk-table__cell ">15</td>
            <td aria-label="Tier C cases" class="govuk-table__cell ">25</td>
            <td aria-label="Tier D cases" class="govuk-table__cell ">20</td>
            <td aria-label="No tier" class="govuk-table__cell ">0</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">65</td>
            <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">67.7</td>
            <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
            <td aria-label="status" class="govuk-table__cell">Available</td>

          </tr>

          <tr class="govuk-table__row recommended_pom_row_5">
            <td aria-label="POM name" class="govuk-table__cell ">
            <a class="govuk-link govuk-link--no-visited-state" href=#>Jim Roantree</a></td>


            <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
            <td aria-label="Tier B cases" class="govuk-table__cell ">5</td>
            <td aria-label="Tier C cases" class="govuk-table__cell ">25</td>
            <td aria-label="Tier D cases" class="govuk-table__cell ">19</td>
            <td aria-label="No tier" class="govuk-table__cell ">1</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">50</td>
            <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">51.95</td>
            <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
            <td aria-label="status" class="govuk-table__cell">Available</td>

          </tr>

          <tr class="govuk-table__row recommended_pom_row_6">
            <td aria-label="POM name" class="govuk-table__cell "><a class="govuk-link govuk-link--no-visited-state" href=#>Carlos Santos</a></td>


            <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
            <td aria-label="Tier B cases" class="govuk-table__cell ">12</td>
            <td aria-label="Tier C cases" class="govuk-table__cell ">7</td>
            <td aria-label="Tier D cases" class="govuk-table__cell ">21</td>
            <td aria-label="No tier" class="govuk-table__cell ">0</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">40</td>
            <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">41.95</td>
            <td aria-label="Working pattern" class="govuk-table__cell">Part time - 0.8</td>
            <td aria-label="status" class="govuk-table__cell">Available</td>
          </tr>
        </tbody>
      </table>

      <!-- <div class="govuk-grid-column-full govuk-!-margin-top-4"></div> -->

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with complexity uplift
          </span>
        </summary>
        <div class="govuk-details__text">
            <p>Complexity uplift is added to the total number of cases to give a more accurate summary of POM workload.</p>
          <p>High complexity cases are recorded with a 30% uplift. This reflects 45 minutes of additional tasks for the POM every week.</p>

          <p>Medium complexity cases are recorded with a 15% uplift. This reflects 30 minutes of additional tasks for the POM every week.</p>
        </div>
      </details>



    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
      <h2 class="govuk-heading-m">Inactive staff</h2>
      <table class="govuk-table responsive app-table--zebra">
        <thead class="govuk-table__head">

        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Prison Offender Manager</th>
          <th class="govuk-table__header" scope="col">POM type</th>
          <th class="govuk-table__header" scope="col">Total cases</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row recommended_pom_row_0">
            <td aria-label="POM name" class="govuk-table__cell "><a class="govuk-link govuk-link--no-visited-state" href=#>Richard Adams</a>
            </td>
            <td aria-label="POM type" class="govuk-table__cell ">Probation Officer POM</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">0</td>

          </tr>

            <tr class="govuk-table__row recommended_pom_row_0">
              <td aria-label="POM name" class="govuk-table__cell "><a class="govuk-link govuk-link--no-visited-state" href=#>Shahina Rahman</a>
              </td>

              <td aria-label="POM type" class="govuk-table__cell ">Prison Officer POM</td>
              <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">0</td>
            </tr>
  </tbody>
</table>

    </div>


  </div>



{% endblock %}
