{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
Cases to update – Digital Prison Services
{% endblock %}

{% block beforeContent %}




{% endblock %}

{% block content %}


    


<h1 class="govuk-heading-xl">
  Allocations
</h1>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
  


<div class="moj-search">

<form action="#" method="post">

<div class="govuk-form-group">
  <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
    Find a case
  </label>

  <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
</div>

<button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
  Search
</button>

</form>
</div>

 
</div>
</div>

<div class="govuk-grid-row  govuk-!-padding-top-6">
  <div class="govuk-grid-column-full">
  


<nav class="moj-sub-navigation" aria-label="Sub navigation">

  <ul class="moj-sub-navigation__list">

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./make-allocations.html">Make allocations (50)</a>
    </li>
  
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./add-missing-details.html" >Add missing details (3)</a>
    </li>
  
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./see-allocations">See allocations (10)</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./change-of-circumstances.html" aria-current="page">TBD: Change of circumstances<span id="notifications" class="moj-notification-badge" style="margin-left: 10px;">44</span></a>
    </li>

  </ul>

</nav>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width" style="margin-left: 15px">


      <h1 class="govuk-heading-l">
        TBD: Change of circumstances
      </h1>

      <p>Content? Significant changes which will impact POM recommendation</p>


      <nav class="moj-pagination govuk-!-padding-bottom-4" id="pagination-label">

        <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

        <ul class="moj-pagination__list">
       <!-- <li class="moj-pagination__item  moj-pagination__item--prev">
          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>


        <li class="moj-pagination__item moj-pagination__item--active">1</li>


        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>-->
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> to <b>3</b> of <b>3</b> results</p>
      </nav>






      <table class="govuk-table"  data-module="moj-sortable-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
  
            <th scope="col" class="govuk-table__header" aria-sort="none">TBD: Case</th>
            <th scope="col" class="govuk-table__header" aria-sort="ascending">TBD: Working days since change</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">TBD: Type of change</th>

          </tr>
        </thead>
  
        <tbody class="govuk-table__body">
          


          <tr class="govuk-table__row">
  
            <td class="govuk-table__cell" data-sort-value="Riley">
              <a href="./change-of-circumstances-review" class="govuk-link govuk-link--no-visited-state">Hunt, John</a><br>
              <span class="govuk-hint govuk-!-margin-bottom-0">AE1234BD</span>
            </td>
    
            <td class="govuk-table__cell govuk-table__cell" data-sort-value="11">11</td>

            <td class="govuk-table__cell govuk-table__cell">
              <span class="moj-badge moj-badge--red">Tier</span>
              <span class="moj-badge moj-badge--red">ROSH</span>
              <span class="moj-badge moj-badge--red">Handover date</span>
            </td>

          </tr>


  
    
        
  
  
        </tbody>
        </table>

        


        <nav class="moj-pagination govuk-!-padding-bottom-4" id="pagination-label">

          <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
  
          <ul class="moj-pagination__list">
         <!-- <li class="moj-pagination__item  moj-pagination__item--prev">
            <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
          </li>
  
  
          <li class="moj-pagination__item moj-pagination__item--active">1</li>
  
  
          <li class="moj-pagination__item  moj-pagination__item--next">
            <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
          </li>-->
          </ul>
          <p class="moj-pagination__results">Showing <b>1</b> to <b>3</b> of <b>3</b> results</p>
        </nav>
  
  







  </div>
</div>

{% endblock %}
