{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
Compare POMs – Digital Prison Services
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% endblock %}


{% endblock %}


{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}


{% block content %}

<form method="post" action="/allocations/final/step3-confirm-allocation-jack-smith">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <div class="moj-page-header-actions">
    
        <div class="moj-page-header-actions__title govuk-!-margin-top-6">
          <h1 class="govuk-heading-l">Compare POMs for Jack Smith</h1></br>
          <span class="govuk-caption-l">Prison number: G4198UW</span>
          <!--<span class="govuk-caption-l">CRN: A165856</span>-->
          <span class="govuk-caption-l">Date of birth: 01 Oct 1985 (36)</span>
        </div>

      </div>
  
  </div>
</div>
  
     
 <div class="govuk-grid-row">

  <!-- ====================================================== -->
  <!-- POM 1: GEOFF COLUM -->
  <!-- ====================================================== -->

  <div class="govuk-grid-column-one-quarter">

    <div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Geoff Colum">
      <div class="govuk-cookie-banner__message govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <h2 class="govuk-cookie-banner__heading govuk-heading-m"
                style="margin-left: 25px; margin-top: 0;">
              Geoff Colum
            </h2>

            <p class="govuk-body-m"
               style="margin-left: 25px; margin-top: -15px;">
              Full time
            </p>

            <div class="govuk-cookie-banner__content"
                 style="margin-left: 25px; margin-right: 25px; margin-top: 80px;">


              <!-- CASE MIX BY ROLE -->

              <h3 class="govuk-heading-s">
                Case mix by role
              </h3>


              <p class="govuk-body-m govuk-!-margin-bottom-1">
                Responsible
              </p>

              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">

                <div class="workforce-progress-bar bar_responsible"
                     aria-hidden="true"
                     style="width: 25%; height: 5px; margin: 0;">
                </div>

                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">
                  15
                </span>

              </div>

              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;">
              </div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">
                Supporting
              </p>

              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">

                <div class="workforce-progress-bar bar_supporting"
                     aria-hidden="true"
                     style="width: 18.3%; height: 5px; margin: 0;">
                </div>

                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">
                  11
                </span>

              </div>

              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;">
              </div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">
                Co-working
              </p>

              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">

                <div class="workforce-progress-bar bar_coworking"
                     aria-hidden="true"
                     style="width: 8.3%; height: 5px; margin: 0;">
                </div>

                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">
                  5
                </span>

              </div>

              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;">
              </div>


              <!-- CASE MIX BY TIER -->

              <h3 class="govuk-heading-s govuk-!-margin-top-6">
                Case mix by tier
              </h3>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier A</p>

              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">

                <div class="workforce-progress-bar tier_a"
                     aria-hidden="true"
                     style="width: 8.3%; height: 5px; margin: 0;"></div>

                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">
                  5
                </span>
              </div>

              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier B</p>

              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">

                <div class="workforce-progress-bar tier_b"
                     aria-hidden="true"
                     style="width: 13.3%; height: 5px; margin: 0;"></div>

                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">
                  8
                </span>
              </div>

              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier C</p>

              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">

                <div class="workforce-progress-bar tier_c"
                     aria-hidden="true"
                     style="width: 1.7%; height: 5px; margin: 0;"></div>

                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">
                  1
                </span>
              </div>

              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier D</p>

              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">

                <div class="workforce-progress-bar tier_d"
                     aria-hidden="true"
                     style="width: 11.7%; height: 5px; margin: 0;"></div>

                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">
                  7
                </span>
              </div>

              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier E</p>

              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">

                <div class="workforce-progress-bar tier_e"
                     aria-hidden="true"
                     style="width: 6.7%; height: 5px; margin: 0;"></div>

                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">
                  4
                </span>
              </div>

              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier F</p>

              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">

                <div aria-hidden="true"
                     style="width: 0; height: 5px; background-color: transparent;"></div>

                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">
                  0
                </span>
              </div>

              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier G</p>

              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">

                <div class="workforce-progress-bar tier_g"
                     aria-hidden="true"
                     style="width: 10%; height: 5px; margin: 0;"></div>

                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">
                  6
                </span>
              </div>

              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <!-- CURRENT WORKLOAD -->

              <div class="govuk-grid-row"
                   style="margin-left: 0; margin-right: 0; margin-top: 40px;">

                <h3 class="govuk-heading-s">
                  Current workload
                </h3>

                <div class="govuk-grid-column-full"
                     style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total"
                       style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">2</span>
                      <p>allocations in last 7 days</p>
                    </a>
                  </div>
                </div>

                <div class="govuk-grid-column-full"
                     style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total"
                       style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">4</span>
                      <p>parole cases</p>
                    </a>
                  </div>
                </div>

                <div class="govuk-grid-column-full"
                     style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total"
                       style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">8</span>
                      <p>handover cases</p>
                    </a>
                  </div>
                </div>

                <div class="govuk-grid-column-full"
                     style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total"
                       style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">10</span>
                      <p>OASys assessments<br>due in the next 2 months</p>
                    </a>
                  </div>
                </div>

              </div>

              <button class="govuk-button govuk-!-margin-top-6"
                      data-module="govuk-button">
                Allocate
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ====================================================== -->
  <!-- POM 2: DANIEL FOSTER -->
  <!-- ====================================================== -->

  <div class="govuk-grid-column-one-quarter">

    <div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Daniel Foster">
      <div class="govuk-cookie-banner__message govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <h2 class="govuk-cookie-banner__heading govuk-heading-m"
                style="margin-left: 25px; margin-top: 0;">
              Daniel Foster
            </h2>

            <p class="govuk-body-m"
               style="margin-left: 25px; margin-top: -15px;">
              Full time
            </p>

            <div class="govuk-cookie-banner__content"
                 style="margin-left: 25px; margin-right: 25px; margin-top: 80px;">


              <h3 class="govuk-heading-s">
                Case mix by role
              </h3>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Responsible</p>

              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">

                <div class="workforce-progress-bar bar_responsible"
                     aria-hidden="true"
                     style="width: 91.7%; height: 5px; margin: 0;"></div>

                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">
                  55
                </span>
              </div>

              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Supporting</p>

              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">

                <div class="workforce-progress-bar bar_supporting"
                     aria-hidden="true"
                     style="width: 58.3%; height: 5px; margin: 0;"></div>

                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">
                  35
                </span>
              </div>

              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Co-working</p>

              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">

                <div class="workforce-progress-bar bar_coworking"
                     aria-hidden="true"
                     style="width: 16.7%; height: 5px; margin: 0;"></div>

                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">
                  10
                </span>
              </div>

              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <h3 class="govuk-heading-s govuk-!-margin-top-6">
                Case mix by tier
              </h3>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier A</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_a"
                     aria-hidden="true"
                     style="width: 20%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">12</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier B</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_b"
                     aria-hidden="true"
                     style="width: 36.7%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">22</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier C</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div aria-hidden="true"
                     style="width: 0; height: 5px; background-color: transparent;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">0</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier D</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_d"
                     aria-hidden="true"
                     style="width: 46.7%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">28</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier E</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_e"
                     aria-hidden="true"
                     style="width: 13.3%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">8</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier F</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_f"
                     aria-hidden="true"
                     style="width: 8.3%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">5</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier G</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_g"
                     aria-hidden="true"
                     style="width: 41.7%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">25</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <div class="govuk-grid-row"
                   style="margin-left: 0; margin-right: 0; margin-top: 40px;">

                <h3 class="govuk-heading-s">Current workload</h3>

                <div class="govuk-grid-column-full" style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total" style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">1</span>
                      <p>allocations in last 7 days</p>
                    </a>
                  </div>
                </div>

                <div class="govuk-grid-column-full" style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total" style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">6</span>
                      <p>parole cases</p>
                    </a>
                  </div>
                </div>

                <div class="govuk-grid-column-full" style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total" style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">3</span>
                      <p>handover cases</p>
                    </a>
                  </div>
                </div>

                <div class="govuk-grid-column-full" style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total" style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">7</span>
                      <p>OASys assessments<br>due in the next 2 months</p>
                    </a>
                  </div>
                </div>

              </div>

              <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Allocate
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ====================================================== -->
  <!-- POM 3: MAYA PATEL -->
  <!-- ====================================================== -->

  <div class="govuk-grid-column-one-quarter">

    <div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Maya Patel">
      <div class="govuk-cookie-banner__message govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <h2 class="govuk-cookie-banner__heading govuk-heading-m"
                style="margin-left: 25px; margin-top: 0;">
              Maya Patel
            </h2>

            <p class="govuk-body-m"
               style="margin-left: 25px; margin-top: -15px;">
              Full time
            </p>

            <div class="govuk-cookie-banner__content"
                 style="margin-left: 25px; margin-right: 25px; margin-top: 80px;">


              <h3 class="govuk-heading-s">Case mix by role</h3>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Responsible</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar bar_responsible"
                     aria-hidden="true"
                     style="width: 58.3%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">35</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Supporting</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar bar_supporting"
                     aria-hidden="true"
                     style="width: 45%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">27</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Co-working</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar bar_coworking"
                     aria-hidden="true"
                     style="width: 16.7%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">10</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <h3 class="govuk-heading-s govuk-!-margin-top-6">Case mix by tier</h3>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier A</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_a"
                     aria-hidden="true"
                     style="width: 8.3%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">5</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier B</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_b"
                     aria-hidden="true"
                     style="width: 13.3%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">8</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier C</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_c"
                     aria-hidden="true"
                     style="width: 20%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">12</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier D</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_d"
                     aria-hidden="true"
                     style="width: 33.3%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">20</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier E</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_e"
                     aria-hidden="true"
                     style="width: 25%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">15</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier F</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_f"
                     aria-hidden="true"
                     style="width: 16.7%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">10</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier G</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_g"
                     aria-hidden="true"
                     style="width: 3.3%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">2</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <div class="govuk-grid-row"
                   style="margin-left: 0; margin-right: 0; margin-top: 40px;">

                <h3 class="govuk-heading-s">Current workload</h3>

                <div class="govuk-grid-column-full" style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total" style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">4</span>
                      <p>allocations in last 7 days</p>
                    </a>
                  </div>
                </div>

                <div class="govuk-grid-column-full" style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total" style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">2</span>
                      <p>parole cases</p>
                    </a>
                  </div>
                </div>

                <div class="govuk-grid-column-full" style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total" style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">5</span>
                      <p>handover cases</p>
                    </a>
                  </div>
                </div>

                <div class="govuk-grid-column-full" style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total" style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">6</span>
                      <p>OASys assessments<br>due in the next 2 months</p>
                    </a>
                  </div>
                </div>

              </div>

              <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Allocate
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ====================================================== -->
  <!-- POM 4: PRIYA SHAH -->
  <!-- ====================================================== -->

  <div class="govuk-grid-column-one-quarter">

    <div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Priya Shah">
      <div class="govuk-cookie-banner__message govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <h2 class="govuk-cookie-banner__heading govuk-heading-m"
                style="margin-left: 25px; margin-top: 0;">
              Priya Shah
            </h2>

            <p class="govuk-body-m"
               style="margin-left: 25px; margin-top: -15px;">
              Full time
            </p>

            <div class="govuk-cookie-banner__content"
                 style="margin-left: 25px; margin-right: 25px; margin-top: 80px;">


              <h3 class="govuk-heading-s">Case mix by role</h3>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Responsible</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar bar_responsible"
                     aria-hidden="true"
                     style="width: 50%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">30</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Supporting</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar bar_supporting"
                     aria-hidden="true"
                     style="width: 41.7%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">25</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Co-working</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar bar_coworking"
                     aria-hidden="true"
                     style="width: 16.7%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">10</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <h3 class="govuk-heading-s govuk-!-margin-top-6">Case mix by tier</h3>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier A</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div aria-hidden="true"
                     style="width: 0; height: 5px; background-color: transparent;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">0</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier B</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_b"
                     aria-hidden="true"
                     style="width: 5%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">3</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier C</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_c"
                     aria-hidden="true"
                     style="width: 11.7%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">7</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier D</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_d"
                     aria-hidden="true"
                     style="width: 16.7%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">10</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier E</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_e"
                     aria-hidden="true"
                     style="width: 20%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">12</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier F</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_f"
                     aria-hidden="true"
                     style="width: 25%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">15</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <p class="govuk-body-m govuk-!-margin-bottom-1">Tier G</p>
              <div class="workforce-progress-container"
                   style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 5px; padding: 0;">
                <div class="workforce-progress-bar tier_g"
                     aria-hidden="true"
                     style="width: 30%; height: 5px; margin: 0;"></div>
                <span class="govuk-body-m govuk-!-margin-bottom-0"
                      style="margin-left: auto; padding-left: 2px; text-align: right; width: 30px;">18</span>
              </div>
              <div aria-hidden="true"
                   style="border-bottom: 1px solid #b1b4b6; margin-top: 8px; margin-bottom: 15px;"></div>


              <div class="govuk-grid-row"
                   style="margin-left: 0; margin-right: 0; margin-top: 40px;">

                <h3 class="govuk-heading-s">Current workload</h3>

                <div class="govuk-grid-column-full" style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total" style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">2</span>
                      <p>allocations in last 7 days</p>
                    </a>
                  </div>
                </div>

                <div class="govuk-grid-column-full" style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total" style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">3</span>
                      <p>parole cases</p>
                    </a>
                  </div>
                </div>

                <div class="govuk-grid-column-full" style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total" style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">1</span>
                      <p>handover cases</p>
                    </a>
                  </div>
                </div>

                <div class="govuk-grid-column-full" style="padding-left: 0; padding-right: 0;">
                  <div class="card card-total" style="width: 100%; box-sizing: border-box;">
                    <a href="#" class="govuk-link--no-visited-state">
                      <span class="card__heading">4</span>
                      <p>OASys assessments<br>due in the next 2 months</p>
                    </a>
                  </div>
                </div>

              </div>

              <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Allocate
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>    


</form>
{% endblock %}
