{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
Compare POMs – Digital Prison Services
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% endblock %}


{% endblock %}


{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}


{% block content %}

<form method="post" action="/allocations/final/step3-confirm-allocation-jack-smith">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <div class="moj-page-header-actions">
    
        <div class="moj-page-header-actions__title govuk-!-margin-top-6">
          <h1 class="govuk-heading-l">Compare POMs for Jack Smith</h1></br>
          <span class="govuk-caption-l">Prison number: G4198UW</span>
          <!--<span class="govuk-caption-l">CRN: A165856</span>-->
          <span class="govuk-caption-l">Date of birth: 01 Oct 1985 (36)</span>
        </div>

      </div>
  
  </div>
</div>
  
     
     
<div class="govuk-grid-row">

<!--POM1-->


<div class="govuk-grid-column-one-quarter">

</div>

     

<!--POM2-->


<div class="govuk-grid-column-one-quarter">

  <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]">
    <div class="govuk-cookie-banner__message govuk-width-container">
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m" style="margin-left: 25px; margin-top: 0px;">Geoff Colum</h2>
          <p style="margin-left: 25px; margin-top: -15px;">Full time</p>
  
          <div class="govuk-cookie-banner__content" style="margin-left: 25px; margin-right: 25px; margin-top: 80px;">

            <h3 class="govuk-heading-s">
              Case mix by role
            </h3>

            <div class="workforce-progress-container">
              <div class="workforce-progress-bar tier_a" style="width:25%"><p>5<p></div>
              <div class="workforce-progress-bar tier_b" style="width:50%; background-color:#f499be"><p>11<p></div>
              <div class="workforce-progress-bar tier_c" style="width:25%; background-color:#b1b4b6"><p>5<p></div>
            </div>

            <ul class="govuk-list">
              <li><span class="caseload-swatch tier_a"></span>Responsible: 5</li>
              <li><span class="caseload-swatch tier_d"></span>Supporting: 11</li>
              <li><span class="caseload-swatch tier_other"></span>Co-working: 5</li>
            </ul>
            
          
<!--NEW BAR DIAGRAM START-->

<h3 class="govuk-heading-s">
  Case mix by tier
</h3>


<p class="govuk-body-m govuk-!-margin-bottom-1">
  Tier A
</p>

<div class="workforce-progress-container"
     style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 30px; padding: 0;">

  <div class="workforce-progress-bar tier_a"
       style="width: 10%; height: 5px; margin: 0;">
  </div>

  <span class="govuk-body-m govuk-!-margin-bottom-0"
        style="margin-left: auto; text-align: right; width: 30px;">
    5
  </span>
</div>


<p class="govuk-body-m govuk-!-margin-bottom-1">
  Tier B
</p>

<div class="workforce-progress-container"
     style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 30px; padding: 0;">

  <div class="workforce-progress-bar tier_b"
       style="width: 16%; height: 5px; margin: 0;">
  </div>

  <span class="govuk-body-m govuk-!-margin-bottom-0"
        style="margin-left: auto; text-align: right; width: 30px;">
    8
  </span>
</div>


<p class="govuk-body-m govuk-!-margin-bottom-1">
  Tier C
</p>

<div class="workforce-progress-container"
     style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 30px; padding: 0;">

  <div class="workforce-progress-bar tier_c"
       style="width: 2%; height: 5px; margin: 0;">
  </div>

  <span class="govuk-body-m govuk-!-margin-bottom-0"
        style="margin-left: auto; text-align: right; width: 30px;">
    1
  </span>
</div>


<p class="govuk-body-m govuk-!-margin-bottom-1">
  Tier D
</p>

<div class="workforce-progress-container"
     style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 30px; padding: 0;">

  <div class="workforce-progress-bar tier_d"
       style="width: 14%; height: 5px; margin: 0;">
  </div>

  <span class="govuk-body-m govuk-!-margin-bottom-0"
        style="margin-left: auto; text-align: right; width: 30px;">
    7
  </span>
</div>


<p class="govuk-body-m govuk-!-margin-bottom-1">
  Tier E
</p>

<div class="workforce-progress-container"
     style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 30px; padding: 0;">

  <div class="workforce-progress-bar tier_e"
       style="width: 8%; height: 5px; margin: 0;">
  </div>

  <span class="govuk-body-m govuk-!-margin-bottom-0"
        style="margin-left: auto; text-align: right; width: 30px;">
    4
  </span>
</div>


<p class="govuk-body-m govuk-!-margin-bottom-1">
  Tier F
</p>

<div class="workforce-progress-container"
     style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 30px; padding: 0;">

  <span class="govuk-body-m govuk-!-margin-bottom-0"
        style="margin-left: auto; text-align: right; width: 30px;">
    0
  </span>
</div>


<p class="govuk-body-m govuk-!-margin-bottom-1">
  Tier G
</p>

<div class="workforce-progress-container"
     style="background-color: transparent; display: flex; align-items: center; height: auto; margin-bottom: 30px; padding: 0;">

  <div class="workforce-progress-bar tier_g"
       style="width: 12%; height: 5px; margin: 0;">
  </div>

  <span class="govuk-body-m govuk-!-margin-bottom-0"
        style="margin-left: auto; text-align: right; width: 30px;">
    6
  </span>
</div>
<!--NEW BAR DIAGRAM END-->    

    <div class="govuk-grid-row" style="margin-left: 0px; margin-right: 0px; margin-top: 40px;">
      
      <h3 class="govuk-heading-s">
        Current workload
      </h3>


      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">2</span>
            <p>allocations in last 7 days
            </p></a>
        </div>
      </div>

      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">4</span>
            <p>parole cases
            </p></a>
        </div>
      </div>

      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">8</span>
            <p>handover cases
            </p></a>
        </div>
      </div>

    </div>



    <div class="govuk-grid-row" style="margin-left: 0px; margin-right: 0px;">

      <!-- <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">14</span>
          <p>high complexity cases</p></a>
        </div>
      </div> -->

      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">10</span>
          <p>OASys assessments</br>due in the next 2 months</p></a>
        </div>
      </div>

      
    </div>









    <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
      Allocate
    </button>

  </div>
          
          
          </div>
        </div>
      </div>
  
      
    </div>
  </div>


<!--POM3-->
 

<div class="govuk-grid-column-one-quarter">
</div>


<!--POM4-->
<div class="govuk-grid-column-one-quarter">
</div>

  
  

  
</div>

</form>
{% endblock %}
