{% extends "layout-mens-homd.html" %}



{% block pageTitle %}
Review case details – Digital Prison Services
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<form method="post" action="./step2-select-pom-jack-smith">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    
    <div class="moj-page-header-actions govuk-!-margin-top-6">
  
      <div class="moj-page-header-actions__title">
        {% if data['MissingCaseDetails'] == 'saveandallocate' %}
        <h1 class="govuk-heading-l">Review William Allen's case</h1></br>
        <span class="govuk-caption-l">Prison number: G2911GD</span>
        <span class="govuk-caption-l">Date of birth: 22 Feb 1980 ([age])</span>
        {% else %}
        <h1 class="govuk-heading-l">Review Jack Smith's case</h1></br>
        <span class="govuk-caption-l">Prison number: G4198UW</span>
        <!--<span class="govuk-caption-l">CRN: A165856</span>-->
        <span class="govuk-caption-l">Date of birth: 01 Oct 1985 (36)</span>
        {% endif %}
      </div>
    
      <div class="moj-page-header-actions__actions">
        <button class="govuk-button" data-module="govuk-button">Choose POM</button>
      </div>
    
    </div>
    
  
  </div>
  </div>
  


      <!-- <div class="govuk-grid-row"> -->
        <!-- <div class="govuk-grid-column-one-half app-!-display-flex--1">
          <div class="app-card app-card--muted">
            <p class="govuk-heading-m govuk-!-margin-0">POM role: responsible</p>
            <br>
            <p class="govuk-body">A co-working POM has not been allocated.</p>
          </div>

      </div> -->


      <!-- <div class="govuk-grid-column-one-half app-!-display-flex--1">
        <div class="app-card app-card--muted">
          <p class="govuk-heading-m govuk-!-margin-0">COM handover: not started</p>
        </br>
        </div>
      </div> -->

  <!-- </div> -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          At a glance
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          
          <p  style="margin-bottom: -40px; margin-top:-5px">
            
    <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-7">Determinate</strong>
  
      </p>

      
      <hr class="govuk-section-break govuk-section-break--visible" style="margin-top: 40px;">


<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Main offence
    </dt>
    <dd class="govuk-summary-list__value">
      Section 18 - wounding with intent
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Tier
    </dt>
    <dd class="govuk-summary-list__value">
      B
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="../add-missing-details/case-all-details-missing">Change<span class="govuk-visually-hidden"> tier</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Category
    </dt>
    <dd class="govuk-summary-list__value">
      C
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      ROSH
    </dt>
    <dd class="govuk-summary-list__value">
      High
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="../add-missing-details/case-all-details-missing">Change<span class="govuk-visually-hidden"> tier</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Sentence start date
    </dt>
    <dd class="govuk-summary-list__value">
      26 May 2015
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Earliest release date
    </dt>
    <dd class="govuk-summary-list__value">
      Conditional release date:</br>
      22 May 2022
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Handover type
    </dt>
    <dd class="govuk-summary-list__value">
      Standard
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="../add-missing-details/case-all-details-missing">Change<span class="govuk-visually-hidden"> tier</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Location
    </dt>
    <dd class="govuk-summary-list__value">
      E-4-017
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      POM role needed
    </dt>
    <dd class="govuk-summary-list__value">
      Supporting
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
</dl>



<h2 class="govuk-heading-m" style="margin-top: 40px;">Key dates</h2>

<hr class="govuk-section-break govuk-section-break--visible" style="margin-top: 20px;">

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Last OASys completed
    </dt>
    <dd class="govuk-summary-list__value">
      Layer 3 – 01 Dec 2021	
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Handover start due
    </dt>
    <dd class="govuk-summary-list__value">
      01 Nov 2021	
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Handover completion due
    </dt>
    <dd class="govuk-summary-list__value">
      09 Jan 2022	
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
</dl>


    
          <a class="govuk-notification-banner__link" href="step2-select-pom-jack-smith">Choose a POM to allocate to now</a> or see more information below before allocating.
        </p>
      </div>
    </div>




<!-- GRAPH

 <h3 class="govuk-heading-m govuk-!-margin-top-6">Sentence</h3>
  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
          Jack's sentence
        </h3>
  <div class="graph">
        <div>
            <span class="amount" style="width:40%">
                <span>5 of 15 years</span>
            </span>
        </div>
      </div>

  <table class="govuk-table govuk-!-margin-top-6">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>

-->

<h2 class="govuk-heading-l govuk-!-margin-top-8">More information</h2>

<p>You can also see Jack's:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link govuk-link--no-visited-state" href="#">full Digital Prison Services profile</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="#">allocation history</a></li>
</ul>




<div class="govuk-accordion govuk-!-margin-top-8" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Sentence and offence
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>
        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Main offence</td>
              <td class="govuk-table__cell govuk-!-width-one-third">Section 18 - wounding with intent</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Sentence start date</td>
              <td class="govuk-table__cell govuk-!-width-one-third">26 May 2015</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Conditional release date</td>
              <td class="govuk-table__cell govuk-!-width-one-third">22 May 2022</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Sentence/licence end date</td>
              <td class="govuk-table__cell govuk-!-width-one-third">26 May 2023</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            </tbody>
          </table>
      
      
      </p>
    </div>
  </div>


  


  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Handover
        </span>
      </h2>
    </div>

    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>


        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">LDU</td>
              <td class="govuk-table__cell govuk-!-width-one-third">Cornwall and Isles of Scilly</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">LDU email</td>
              <td class="govuk-table__cell govuk-!-width-one-third">cornwallldu@justice.gov.uk</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">COM</td>
              <td class="govuk-table__cell govuk-!-width-one-third">Antonia Farro</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">COM email</td>
              <td class="govuk-table__cell govuk-!-width-one-third">antonia.farro@justice.gov.uk</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            </tbody>
          </table>
      
      
      
        </p>
     </div>
  </div>



  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Contacts
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>
        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Previous POM</td>
              <td class="govuk-table__cell govuk-!-width-one-third">Stephen Dicks – 09 Apr 2020 to 03 Mar 2021</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Previous POM email</td>
              <td class="govuk-table__cell govuk-!-width-one-third">stephen.dicks@justice.gov.uk</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Co-working POM</td>
              <td class="govuk-table__cell govuk-!-width-one-third">Tanja Moore</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Co-working POM email</td>
              <td class="govuk-table__cell govuk-!-width-one-third">tanja.moore@justice.gov.uk</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Key worker</td>
              <td class="govuk-table__cell govuk-!-width-one-third">None assigned</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Victim liaison officer (VLO)
              </br>
              <span class="moj-badge moj-badge--red" style="margin-top: 5px;">NON-DISCLOSABLE</span>
              </td>
              <td class="govuk-table__cell govuk-!-width-one-third">
                Jen Carr</br>jen.carr@justice.gov.uk</br></br>
                Wyne Banbury</br>wayne.banbury@justice.gov.uk
              </td>
              <td class="govuk-table__cell govuk-!-width-one-third"></br></td>
            </tr>

          </tbody>
          </table>
        
      
      </p>
    </div>
  </div>







  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Case management
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>
          
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">


              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-width-one-third">Service provider</td>
                <td class="govuk-table__cell govuk-!-width-one-third">NPS (legacy)</td>
                <td class="govuk-table__cell govuk-!-width-one-third"><a href="" class="govuk-link govuk-link--no-visited-state">Change</a></td>
              </tr>
            
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-width-one-third">Last known address in Wales?</td>
                <td class="govuk-table__cell govuk-!-width-one-third">No</td>
                <td class="govuk-table__cell govuk-!-width-one-third"><a href="" class="govuk-link govuk-link--no-visited-state">Change</a></td>
              </tr>



              

          </tbody>
          </table>
        
          

</div>
      
      
      </p>


    </div>
  </div>





  <button class="govuk-button" data-module="govuk-button">Choose POM</button>


  </form>
  

</div>


















<!--Right column-->



  

<div class="govuk-grid-column-one-third">

  
    <!--MAPPA start-->
    {% from "components/mappa-widget/macro.njk" import mappaWidget %}

    {{ mappaWidget({
        level: "CAT 2/LEVEL 1",
        lastUpdated: "10th October 2021"
    }) }}


    <!--MAPPA end-->


    <!--RoSH start-->


    <!--RoSH completed-->
    {% from "components/rosh-widget/macro.njk" import roshWidget %}


    {{ roshWidget({
        hasBeenCompleted: true,
        overallRisk: "MEDIUM",
        lastUpdated: "7 Mar 2026 on OASys",
        riskInCommunity: {
          "Children": "LOW",
          "Public": "MEDIUM",
          "Known Adult": "MEDIUM",
          "Staff": "MEDIUM"
        } 
    }) 
  
  
  }}

    

    <!--RoSH end-->

    
  


    

    <!--Alerts start-->
    <h3 class="govuk-heading-m">Active alerts</h3>

          <p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Racist</li>
              <li>Risk to LGBT</li>
              <li>TACT</li>
            </ul>  
          </p>
          
    <p class="govuk-!-margin-bottom-6"><a class="govuk-link govuk-link--no-visited-state" href="https://digital-dev.prison.service.justice.gov.uk/prisoner/G4227GV/alerts"target="_blank">View more alerts information</a></p>
    <!--Alerts end-->


</div>




</div>
</div>
{% endblock %}
