{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
Check your answers – Digital Prison Services 
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l govuk-!-margin-top-6">Check your answers</h1>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Philips
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Level
            </dt>
            <dd class="govuk-summary-list__value">
              xxx
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="POM-position.html">Change<span class="govuk-visually-hidden"> level</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Working pattern
            </dt>
            <dd class="govuk-summary-list__value">
              xxx
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="POM-workingpattern.html">Change<span class="govuk-visually-hidden"> working pattern</span></a>
            </dd>
          </div>
          
        </dl>


        <form action="confirmation" method="post" novalidate>

          <div class="govuk-button-group">
            
            <button type="submit" class="govuk-button" data-module="govuk-button">Add POM</button>
            <a class="govuk-link" href="#">Cancel</a>

          </div>

        </form>



  </div>
</div>
{% endblock %}
