{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
Make allocations – Digital Prison Services
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            POM added
          </h1>
          <div class="govuk-panel__body">
            {Name} added as a
            {% if data.TypePOM=="PrisonPOM" %}
            prison POM
            {% else %}
            probation POM
            {% endif %}
          </div>
        </div>
        <p class="govuk-body govuk-!-margin-top-4">You can now allocate cases to {% if data.TypePOM=="PrisonPOM" %}
          prison POM
          {% else %}
          probation POM
          {% endif %}
          {NAME}.</br>If you need to change their working pattern, you can do this on the <a class="govuk-link--no-visited-state" href="../staff/staff">staff overview</a>.
        </p>

        <form action="/confirmation" method="post" novalidate>

          <div class="govuk-button-group" style="margin-top: 40px;">
            <button type="submit" class="govuk-button" data-module="govuk-button" name="POMadded" value="MakeAllocations">
              Make allocations
            </button>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="POMadded" value="AddAnotherPOM">
              Add another POM
            </button>
          </div>
        
        </form>

        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}
