{% extends "/Users/evebayram/projects/hmpps-moic-prototype/app/views/womens/pom/layout.html" %}


{% block pageTitle %}
My POM cases
{% endblock %}


{% block content %}




<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">
  My cases
</h1>

<div class="moj-search govuk-body govuk-!-margin-bottom-6">

<form action="#" method="post">

<div class="govuk-form-group">
  <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
    Find a prisoner
  </label>

  <span id="search-hint" class="govuk-hint moj-search__hint ">
    You can search by name or prisoner number
  </span>

  <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
</div>

<button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
  Search
</button>

</form>
</div>

</div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full-width">


<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#caseload">
        Caseload (27)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#recent">
        Recently allocated (3)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#complex">
        High complexity (7)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#handover">
        Handover (5)
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="caseload">
    <p>All cases allocated to you.</p>

    <section class="app-filter-card govuk-!-margin-bottom-6" style="max-width: 100%; border: 0;">
  <p class="govuk-heading-s">Filters</p>

  <div class="app-filter-container">
    <button id="button-record" type="button" class="app-filter-button" data-controls="probation-record-selection" onclick="event.stopPropagation(); toggleFilter(this)" style="width: 244px;">POM role</button>
    <div id="probation-record-selection" class="app-filter-selection govuk-visually-hidden">















<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-visually-hidden">

    POM role

  </legend>


  <div class="govuk-checkboxes govuk-checkboxes--small">








        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkbox-record" name="checkbox-record" type="checkbox" value="current">
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-record">
        Responsible
      </label>

        </div>









        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkbox-record-2" name="checkbox-record" type="checkbox" value="known">
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-record-2">
        Supporting
      </label>

        </div>









        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkbox-record-3" name="checkbox-record" type="checkbox" value="unknown">
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-record-3">
        Co-working
      </label>

        </div>



  </div>
  </fieldset>


</div>


    </div>
  </div>

  <div class="app-filter-container">
    <button id="button-courtroom" type="button" class="app-filter-button" data-controls="courtroom-selection" onclick="event.stopPropagation(); toggleFilter(this)" style="width: 200px;">Complexity level</button>
    <div id="courtroom-selection" class="app-filter-selection govuk-visually-hidden">



<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-visually-hidden">

    Complexity level

  </legend>


  <div class="govuk-checkboxes govuk-checkboxes--small">








        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkbox-courtroom" name="checkbox-courtroom" type="checkbox" value="1">
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-courtroom">
        High
      </label>

        </div>









        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkbox-courtroom-2" name="checkbox-courtroom" type="checkbox" value="2">
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-courtroom-2">
        Medium
      </label>

        </div>









        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkbox-courtroom-3" name="checkbox-courtroom" type="checkbox" value="3">
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-courtroom-3">
        Low
      </label>

        </div>


  </div>
  </fieldset>


</div>


    </div>
  </div>

  
  <button type="button" class="govuk-button app-apply-filters-button" onclick="applyFilters()">Apply filters</button>

  <div class="selected-filters govuk-visually-hidden">
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Applied filters</span> <a href="#" class="govuk-body-s govuk-!-margin-left-2" onclick="event.preventDefault(); applyFilters(true)">Clear all</a></p>

    <p class="applied-record govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0 app-selected-filters--label govuk-visually-hidden">Your POM role</p>
    <div class="app-filters-applied-record"></div>

    <p class="applied-courtroom govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0 app-selected-filters--label govuk-visually-hidden">Complexity level</p>
    <div class="app-filters-applied-courtroom"></div>



  </div>

</section>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Prisoner</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Location</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Tier</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Complexity level</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Role</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Jessica Davey</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">E-5-004</td>
          <td class="govuk-table__cell">B</td>
          <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">14/10/2021</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Lana Riley</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">F-4-019</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">24/11/2024</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Chelsea Adams</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">B-3-041</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">High</td>
          <td class="govuk-table__cell">30/01/2020</td>
          <td class="govuk-table__cell">Supporting</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Vanessa Perry</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">F-5-027</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">14/10/2021</td>
          <td class="govuk-table__cell">Co-working</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Connie Hall</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">A-3-014</td>
          <td class="govuk-table__cell">C</td>
            <td class="govuk-table__cell">Medium</td>
          <td class="govuk-table__cell">29/06/2021</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Maria Nelson</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">D-4-024</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">12/08/2019</td>
          <td class="govuk-table__cell">Supporting</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Adrianna Enuku</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">D-3-004</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">Medium</td>
          <td class="govuk-table__cell">01/02/2021</td>
          <td class="govuk-table__cell">Supporting</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Nadia Patel</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">F-3-034</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">05/10/2023</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Heather Morris</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">A-2-013</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">High</td>
          <td class="govuk-table__cell">20/12/2023</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="recent">
    <p>Cases allocated to you in the past 7 days.</p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Prisoner</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Location</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Tier</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Complexity level</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Role</th>
        </tr>
      </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Heather Morris</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
            <td class="govuk-table__cell">A-2-013</td>
            <td class="govuk-table__cell">A</td>
              <td class="govuk-table__cell">High</td>
            <td class="govuk-table__cell">20/12/2023</td>
            <td class="govuk-table__cell">Responsible</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Connie Hall</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
            <td class="govuk-table__cell">A-3-014</td>
            <td class="govuk-table__cell">C</td>
              <td class="govuk-table__cell">Medium</td>
            <td class="govuk-table__cell">29/06/2021</td>
            <td class="govuk-table__cell">Responsible</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Maria Nelson</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
            <td class="govuk-table__cell">D-4-024</td>
            <td class="govuk-table__cell">B</td>
              <td class="govuk-table__cell">Low</td>
            <td class="govuk-table__cell">12/08/2019</td>
            <td class="govuk-table__cell">Supporting</td>
          </tr>
        </tbody>
      </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="complex">
  <p>Cases with a high women's complexity level. These cases will not have a Key worker.</p>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="ascending">Prisoner</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Location</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Tier</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Complexity level</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Role</th>
      </tr>
    </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Heather Morris</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">A-2-013</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">High</td>
          <td class="govuk-table__cell">20/12/2023</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Celine Gregory</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">A-3-014</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">High</td>
          <td class="govuk-table__cell">29/06/2021</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Chelsea Adams</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">B-3-041</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">High</td>
          <td class="govuk-table__cell">30/01/2020</td>
          <td class="govuk-table__cell">Supporting</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Barbara Smith</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">C-2-001</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">High</td>
          <td class="govuk-table__cell">15/10/2021</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Olivia Campbell</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">A-3-042</td>
          <td class="govuk-table__cell">C</td>
            <td class="govuk-table__cell">High</td>
          <td class="govuk-table__cell">19/02/2022</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Rofiya Khan</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">C-3-042</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">High</td>
          <td class="govuk-table__cell">19/02/2022</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Olivia Campbell</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">A-3-042</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">High</td>
          <td class="govuk-table__cell">19/02/2022</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="handover">
    <p>Cases where responsibility is being handed over (or is within 30 days of handover) to the community probation team.</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            <button type="button" data-index="0">
              Prisoner
          </button>
        </th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">
            <button type="button" data-index="1">
              Handover start date
            </button>
            </th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">
            <button type="button" data-index="2">
              Community become responsible
            </button>
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="none">
            <button type="button" data-index="3">
              Service provider
            </button>
          </th>
          <th scope="col" class="govuk-table__header">
              COM
          </th>

        </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">

            <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">
              Nella Hunter</a> <br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="26072020">26/07/2020</td>

            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="26102020">26/10/2020</td>

            <td class="govuk-table__cell govuk-table__cell">NPS</td>

            <td class="govuk-table__cell govuk-table__cell" data-sort-value="#">Sally Jameson</td>

          </tr>

          <tr class="govuk-table__row">

            <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">
            Sara Rackham</a> <br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="26072020">04/09/2020</td>

            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="26102020">04/09/2020</td>

            <td class="govuk-table__cell govuk-table__cell">CRC</td>


            <td class="govuk-table__cell govuk-table__cell" data-sort-value="#">Unallocated</td>

          </tr>

          <tr class="govuk-table__row">

            <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">
              Greta Castle </a> <br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="26072020">12/08/2020</td>

            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="26102020">12/11/2020</td>

            <td class="govuk-table__cell govuk-table__cell">NPS</td>


            <td class="govuk-table__cell govuk-table__cell" data-sort-value="#">Danielle Keene</td>

          </tr>

          <tr class="govuk-table__row">

            <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">
              Lauren Jennings </a> <br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="26072020">04/09/2020</td>

            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="26102020">04/09/2020</td>

            <td class="govuk-table__cell govuk-table__cell">CRC</td>


            <td class="govuk-table__cell govuk-table__cell" data-sort-value="#">Jenny Brooks</td>

          </tr>


        <tr class="govuk-table__row">

          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">
            Maria Nelson </a> <br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="26072020">26/07/2020</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="26102020">26/10/2020</td>

          <td class="govuk-table__cell govuk-table__cell">NPS</td>


          <td class="govuk-table__cell govuk-table__cell" data-sort-value="#">Joe Bloggs</td>

        </tr>
      </tbody>
    </table>

  </div>
</div>




          </div>
      </div>

{% endblock %}
