{% extends "layout-pom.html" %}

{% block pageTitle %}
My POM cases
{% endblock %}

{% block beforeContent %}
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title">HMP Peterborough (Female)</div>

<a href="/womens/pom/change-prison.html" class="moj-organisation-nav__link">Change prison</a>

</div>

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">
  My cases (27)
</h1>
</div>
</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">
    <p>New cases</p>
    <h2 class="govuk-heading-m"><a class="govuk-link" href="/womens/pom/new-cases.html">5</a></h2>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p>Cases close to handover</p>
    <h2 class="govuk-heading-m"><a class="govuk-link" href="#">3</a></h2>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p>Working pattern</p>
    <h2 class="govuk-heading-m">Part time - 0.8</h2>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p>Status</p>
    <h2 class="govuk-heading-m">Active</h2>
  </div>

</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

<div class="moj-search govuk-body govuk-!-margin-bottom-6">

  <section class="app-filter-card govuk-!-margin-bottom-6" style="max-width: 100%; border: 0;">

    <form action="#" method="post">

    <div class="govuk-form-group">
      <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
        Find a prisoner
      </label>

      <span id="search-hint" class="govuk-hint moj-search__hint ">
        You can search by name or prisoner number
      </span>

      <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
    </div>

  <div class="app-filter-container">
    <p class="govuk-heading-s">Filters</p>
    <button id="button-record" type="button" class="app-filter-button" data-controls="probation-record-selection" onclick="event.stopPropagation(); toggleFilter(this)" style="width: 244px;">Role</button>
    <div id="probation-record-selection" class="app-filter-selection govuk-visually-hidden">


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-visually-hidden">POM role</legend>

  <div class="govuk-checkboxes govuk-checkboxes--small">


    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="checkbox-record-0" name="checkbox-record" type="checkbox" value="all">
      <label class="govuk-label govuk-checkboxes__label" for="checkbox-record-0">
    All
    </label>

    </div>


        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkbox-record" name="checkbox-record" type="checkbox" value="current">
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-record">
        Responsible
      </label>

        </div>


        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkbox-record-2" name="checkbox-record" type="checkbox" value="known">
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-record-2">
        Supporting
      </label>

        </div>



        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkbox-record-3" name="checkbox-record" type="checkbox" value="unknown">
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-record-3">
        Co-working
      </label>

        </div>



  </div>
  </fieldset>


</div>


    </div>
  </div>





  <button type="button" class="govuk-button app-apply-filters-button" onclick="applyFilters()">Search</button>

  <div class="selected-filters govuk-visually-hidden">
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Applied filters</span> <a href="#" class="govuk-body-s govuk-!-margin-left-2" onclick="event.preventDefault(); applyFilters(true)">Clear all</a></p>

    <p class="applied-record govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0 app-selected-filters--label govuk-visually-hidden">Probation status</p>
    <div class="app-filters-applied-record"></div>




  </div>
</form>

</section>

<!-- <form action="#" method="post">

<div class="govuk-form-group">
  <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
    Find a prisoner
  </label>

  <span id="search-hint" class="govuk-hint moj-search__hint ">
    You can search by name or prisoner number
  </span>

  <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
</div>

<button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
  Search
</button>

</form> -->
</div>

</div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full-width">





    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Prisoner</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Location</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Tier</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Complexity level</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Role</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Adams" href="#">Chelsea Adams</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">B-3-041</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">High</td>
          <td class="govuk-table__cell">30/01/2020</td>
          <td class="govuk-table__cell">Supporting</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Ahmed" href="#">Rayan Ahmed</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">B-3-041</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">05/07/2022</td>
          <td class="govuk-table__cell">Supporting</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Brady" href="#">Stephanie Brady-Hughes</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">F-4-019</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">Medium</td>
          <td class="govuk-table__cell">01/03/2022</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Butler" href="#">Rebeccah Butler</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">F-4-019</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">High</td>
          <td class="govuk-table__cell">30/01/2020</td>
          <td class="govuk-table__cell">Supporting</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Charlton" href="#">Hannah Charlton</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">D-1-011</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">01/12/2020</td>
          <td class="govuk-table__cell">Co-working</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"data-sort-value="Daniels" href="#">Gerry Daniels</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">C-1-024</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">01/06/2022</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Davey" href="#">Jessica Davey</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">E-5-004</td>
          <td class="govuk-table__cell">B</td>
          <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">14/10/2021</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Davey" href="#">Lauren Dunn</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">C-1-024</td>
          <td class="govuk-table__cell">A</td>
          <td class="govuk-table__cell">Medium</td>
          <td class="govuk-table__cell">01/03/2022</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Enuku" href="#">Adrianna Enuku</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">D-3-004</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">Medium</td>
          <td class="govuk-table__cell">01/02/2021</td>
          <td class="govuk-table__cell">Supporting</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Hall" href="/womens/pom/pom-profile-info">Connie Hall</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G4198UW </span></td>
          <td class="govuk-table__cell">A-3-014</td>
          <td class="govuk-table__cell">C</td>
            <td class="govuk-table__cell">High</td>
          <td class="govuk-table__cell">29/06/2021</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Hill" href="#">Amelia Hill</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G4198UW </span></td>
          <td class="govuk-table__cell">C-1-021</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">05/03/2021</td>
          <td class="govuk-table__cell">Supporting</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Kelly" href="#">Diana Kelly</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G4198UW </span></td>
          <td class="govuk-table__cell">B-2-007</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">01/02/2021</td>
          <td class="govuk-table__cell">Supporting</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Moody" href="#">Sophia Moody</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">C-1-030</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">01/17/2022</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Morris" href="#">Heather Morris</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">A-2-013</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">High</td>
          <td class="govuk-table__cell">20/12/2023</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Murphy" href="#">Sally Murphy</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">A-2-013</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">Medium</td>
          <td class="govuk-table__cell">01/03/2030</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Nelson" href="#">Maria Nelson</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">D-4-024</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">12/08/2019</td>
          <td class="govuk-table__cell">Supporting</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Ozols" href="#">Bernadice Ozols</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">B-1-034</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Medium</td>
          <td class="govuk-table__cell">05/01/2027</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Patel" href="#">Nadia Patel</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">F-3-034</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">05/10/2023</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Patrick" href="#">Siobhan Patrick</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">C-2-012</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">01/01/2022</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Peters" href="#">Anna Peters</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">B-1-005</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Medium</td>
          <td class="govuk-table__cell">01/02/2022</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Perry" href="#">Vanessa Perry</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">F-5-027</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">14/10/2021</td>
          <td class="govuk-table__cell">Co-working</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Smith" href="#">Gabriella Smith</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">B-4-022</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">01/10/2022</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Reyes" href="#">Aida Reyes</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">B-1-010</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">15/01/2022</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Riley" href="#">Lana Riley</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">F-4-019</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">24/11/2024</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Robinson" href="#">Tanya Robinson</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">B-4-019</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">06/12/2023</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Watson" href="#">Charlotte Watson</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">A-2-011</td>
          <td class="govuk-table__cell">B</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">01/02/2021</td>
          <td class="govuk-table__cell">Supporting</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Webster" href="#">Megan Webster</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell">B-1-003</td>
          <td class="govuk-table__cell">A</td>
            <td class="govuk-table__cell">Low</td>
          <td class="govuk-table__cell">05/07/2023</td>
          <td class="govuk-table__cell">Responsible</td>
        </tr>
      </tbody>
    </table>



  </div>
</div>




          </div>
      </div>

{% endblock %}
