{% extends "layout-pom.html" %}


{% block pageTitle %}
Case profile
{% endblock %}

{% block bodyStart %}

{% endblock %}


{% block beforeContent %}
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title">HMP Peterborough (Female)</div>

<a href="/womens/pom/change-prison.html" class="moj-organisation-nav__link">Change prison</a>

</div>
<div class="govuk-!-margin-bottom-3"></div>
<a href="/womens/pom/caseload-as-is" class="govuk-back-link govuk-!-font-weight-bold">Back to my cases</a>
{% endblock %}


{% block content %}

<!-- <main class="govuk-main-wrapper"> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="prisoner-photo-header">

<img style="width:70%" src="/public/images/NoPhoto.png" alt="no photo"></img>

</div>

<div class="prisoner-photo-header">


    <h1 class="govuk-heading-l" style="display:inline;">Connie Hall</h1>
    <br>

    <!-- <strong class="govuk-tag govuk-tag" style="margin-right: 5px; margin-top:20px;">
    Recall
  </strong> -->
  <strong class="govuk-tag govuk-tag" style="margin-right: 5px; margin-top:20px;">
  High complexity
</strong>
  <strong class="govuk-tag govuk-tag govuk-!-margin-bottom-5">
  Determinate
  </strong>
  <br>

      <ul class="govuk-list">
        <!-- <li>
          <a class="govuk-link govuk-link--no-visited-state" href="appointment">Change POM allocation</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="appointment">Allocate co-working POM</a>
        </li> -->
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#">View case on DPS</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#">Add a case note</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-9" href="#">Assess early allocation referral</a>
        </li>
      </ul>
    </div>
</div>
</div>

<div class="govuk-!-margin-bottom-6"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="/womens/pom/pom-profile-info">Case summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="/womens/pom/pom-profile-contacts">Contacts</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="/womens/pom/pom-profile-activity">Case activity</a>
        </li>
      </ul>

    </nav>
  </div>

        <div class="govuk-grid-column-one-half">
          <div class="app-card app-card--muted">
            <p class="govuk-heading-m govuk-!-margin-0">You are the responsible POM</p>
            <br>
            <p class="govuk-body">You were allocated on 01 February 2021.</p>
            <p class="govuk-body">No co-working POM is allocated.</p>
            <!-- <p class="govuk-body">
              <a href="/spo-prisoner-profile-allocate-tab" class="govuk-link app-link--dark">Change POM allocation</a>
            </p> -->
          </div>

      </div>

      <div class="govuk-grid-column-one-half">
        <div class="app-card app-card--muted">
          <p class="govuk-heading-m govuk-!-margin-0">Handover has not started</p>
        </br>
          <p class="govuk-body">A Community Offender Manager (COM) will support this case from 06 July 2022.</p>
          <p class="govuk-body">The COM will take responsibility for the case on 06 October 2022.</p>
          <!-- <p class="govuk-body">
            <a href="/contact" class="govuk-link app-link--dark">Contact offender manager</a>
          </p> -->
        </div>
      </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

  <div class="govuk-!-margin-bottom-6"></div>

  <h3 class="govuk-heading-m govuk-!-margin-top-3">Personal information</h3>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Name</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Connie Hall</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Date of birth</td>
    <td class="govuk-table__cell govuk-!-width-one-third">01 October 2000</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></a></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Prison number</td>
    <td class="govuk-table__cell govuk-!-width-one-third">G4198UW</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">CRN number</td>
    <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#"></a></td>
  </tr>
  </tbody>
</table>


  <h2 class="govuk-heading-m govuk-!-margin-top-3">Allocation and case handover</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">POM role</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Responsible</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Co-working POM</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Not allocated</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Handover start date</td>
    <td class="govuk-table__cell govuk-!-width-one-third">01 July 2022</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Case responsibility moves to the COM</td>
    <td class="govuk-table__cell govuk-!-width-one-third">06 October 2022</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Early allocation referral</td>
    <td class="govuk-table__cell govuk-!-width-one-third">No saved assessments</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Start assessment</a></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Case responsibility overridden</td>
    <td class="govuk-table__cell govuk-!-width-one-third">N/A - responsibility follows OMiC guidelines</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#"></a></td>
  </tr>
  </tbody>
</table>

<h2 class="govuk-heading-m govuk-!-margin-top-3">Case information</h2>

<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header"></th>
    <th scope="col" class="govuk-table__header"></th>
    <th scope="col" class="govuk-table__header"></th>
  </tr>
</thead>
<tbody class="govuk-table__body">

<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Tiering calculation</td>
  <td class="govuk-table__cell govuk-!-width-one-third">Tier B</td>
  <td class="govuk-table__cell govuk-!-width-one-third"></td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Complexity level</td>
  <td class="govuk-table__cell govuk-!-width-one-third">High</td>
  <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="/womens/pom/change-complexity.html">Change</a></td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Category</td>
  <td class="govuk-table__cell govuk-!-width-one-third">Cat B</td>
  <td class="govuk-table__cell govuk-!-width-one-third"></td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Provider country</td>
  <td class="govuk-table__cell govuk-!-width-one-third">England</td>
  <td class="govuk-table__cell govuk-!-width-one-third"></td>

</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Provider</td>
  <td class="govuk-table__cell govuk-!-width-one-third">National Probation Service (NPS)</td>
  <td class="govuk-table__cell govuk-!-width-one-third"></td>

</tr>
<!-- <tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">OASys due date</td>
  <td class="govuk-table__cell govuk-!-width-one-third">Unknown</td>
  <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Change</a></td>
</tr> -->
</tbody>
</table>

  <h2 class="govuk-heading-m govuk-!-margin-top-6">Offence and sentence</h2>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Main offence</td>
      <td class="govuk-table__cell govuk-!-width-one-third">Section 18 - wounding with intent</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>

    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Sentence type	</td>
      <td class="govuk-table__cell govuk-!-width-one-third">Determinate</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Recall	</td>
      <td class="govuk-table__cell govuk-!-width-one-third">No</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Sentence start date	</td>
      <td class="govuk-table__cell govuk-!-width-one-third">29 May 2015</td>
      <td class="govuk-table__cell govuk-!-width-one-third">
    </td></tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Conditional release date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">21 February 2023</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Automatic release date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Parole eligibility</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Parole review date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Home detentional curfew eligibility</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Tariff date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Post recall release date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Sentence/ licence end date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">26 May 2030</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    </tbody>
  </table>



</div>

<!-- <div class="govuk-grid-column-one-third">
<aside class="app-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
    Quick links
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="appointment">Allocate a co-working POM</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="appointment">View case on DPS</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="case-notes-add">View saved early allocation assessments</a>
      </li>
    </ul>
  </nav>
</aside>
</div> -->

</main>


</div>


{% endblock %}
