{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
Make new allocations
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="moj-search">

<form action="#" method="post">

<div class="govuk-form-group">
  <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
    Find a case
  </label>

  <span id="search-hint" class="govuk-hint moj-search__hint ">
    Enter a prisoner name or number
  </span>

  <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
</div>

<button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
  Search
</button>

</form>
</div>

<div class="govuk-!-padding-bottom-6"></div>


<nav class="moj-sub-navigation" aria-label="Sub navigation">

<ul class="moj-sub-navigation__list">


  <li class="moj-sub-navigation__item">
    <a class="moj-sub-navigation__link" aria-current="page" href="#">Make new allocations (10)</a>
  </li>

  <li class="moj-sub-navigation__item">
    <a class="moj-sub-navigation__link" href="/team-management/missing-details-list">Add missing details (3)</a>
  </li>


  <li class="moj-sub-navigation__item">
    <a class="moj-sub-navigation__link" href="#">See allocations (206)</a>
  </li>

<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link" href="#">Newly arrived (3)</a>
</li>
</ul>

</nav>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">


      <h1 class="govuk-heading-l">
        Make new allocations
      </h1>

      <p>You need to allocate 10 prisoners to a Prison Offender Manager (POM).</p>


      <nav class="moj-pagination" id="pagination-label">

        <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

        <ul class="moj-pagination__list">
        <li class="moj-pagination__item  moj-pagination__item--prev">
          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>


        <li class="moj-pagination__item moj-pagination__item--active">1</li>


        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>10</b> results</p>
      </nav>


      <table class="govuk-table">

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" aria-sort="ascending">Case</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Tier</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>

        <th scope="col" class="govuk-table__header govuk-table__header" aria-sort="none">Case owner</th>

        <th scope="col" class="govuk-table__header govuk-table__header" aria-sort="none">Days waiting<br> for allocation</th>

        <!-- <th scope="col" class="govuk-table__header">
            Action</th> -->

      </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">

          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/team-management/allocations-review-case-info">Jack Smith</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G4198UW </span></td>

          <td class="govuk-table__cell" data-sort-value="B">B</td>

          <td class="govuk-table__cell" data-sort-value="8">21 Feb 2023</td>

          <td class="govuk-table__cell govuk-table__cell">Custody</td>

          <td class="govuk-table__cell govuk-table__cell" data-sort-value="3">3</td>

          <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="/womens/allocations-review-case-info">
            Allocate</a> </td> -->

        </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Simon Riley</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BX </span></td>

        <td class="govuk-table__cell" data-sort-value="A">A</td>

        <td class="govuk-table__cell" data-sort-value="7">01 Aug 2021</td>

        <td class="govuk-table__cell govuk-table__cell">Custody</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="2">2</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Jerome Adams</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="A">A</td>

        <td class="govuk-table__cell" data-sort-value="1">21 Sept 2020</td>

        <td class="govuk-table__cell govuk-table__cell">Community</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="3">3</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Piotr Perry</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="B">B</td>

        <td class="govuk-table__cell" data-sort-value="2">02 Oct 2020</td>

        <td class="govuk-table__cell govuk-table__cell">Community</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="3">3</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Hugh Hall</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

        <td class="govuk-table__cell" data-sort-value="D">D</td>

        <td class="govuk-table__cell" data-sort-value="4">15 Dec 2020</td>

        <td class="govuk-table__cell govuk-table__cell">Community</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="1">1</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Keith Morrison</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

        <td class="govuk-table__cell" data-sort-value="C">C</td>

        <td class="govuk-table__cell" data-sort-value="6">05 Apr 2021</td>

        <td class="govuk-table__cell govuk-table__cell">Community</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="4">4</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Benjamin Enuku</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="A">A</td>

        <td class="govuk-table__cell" data-sort-value="9">01 May 2025</td>

        <td class="govuk-table__cell govuk-table__cell">Custody</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="5">5</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Naeem Patel</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="D">D</td>

        <td class="govuk-table__cell" data-sort-value="8">05 Dec 2021</td>

        <td class="govuk-table__cell govuk-table__cell">Custody</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="7">7</td>
<!--
        <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Otto Morris</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

        <td class="govuk-table__cell" data-sort-value="A">A</td>

        <td class="govuk-table__cell" data-sort-value="10">21 Sept 2025</td>

        <td class="govuk-table__cell govuk-table__cell">Custody</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="4">4</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">John Hunt</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="D">D</td>

        <td class="govuk-table__cell" data-sort-value="5">01 Mar 2021</td>

        <td class="govuk-table__cell govuk-table__cell">Community</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="3">3</td>
<!--
        <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>


      </tbody>
      </table>


      <nav class="moj-pagination" id="pagination-label">

        <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

        <ul class="moj-pagination__list">
        <li class="moj-pagination__item  moj-pagination__item--prev">
          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>

        <li class="moj-pagination__item moj-pagination__item--active">1</li>


        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>10</b> results</p>
      </nav>

          </div>
      </div>

{% endblock %}
