{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
Cases reallocated – Digital Prison Services
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}

{% endblock %}


{% endblock %}


{% block beforeContent %}


{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Cases reallocated
          </h1>
        </div>
        
        
        <h2 class="govuk-heading-m">Reallocation details</h2>
        <p class="govuk-body">
          You have reallocated 20 cases to probation POM Hakim Reeves. 
        </p>


        <h2 class="govuk-heading-m">Update sent</h2>
        <p class="govuk-body">We have emailed Hakim about the new allocations and also notified the previously allocated POMs.</p>
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              You can copy information about this allocation to paste into an email to someone else.
            </span>
          </summary>
          <div class="govuk-details__text">
           
          </div>
        </details>

        <form action="/confirmationbulk" method="post" novalidate>

          <div class="govuk-button-group" style="margin-top: 25px;">

            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="BulkCasesAllocated" value="StaffPage">
              Back to staff list
            </button>
          </div>

        </form>



       
      </div>
    </div>
  </main>
</div>
{% endblock %}
