{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
Confirm this POM can be removed from the service – Digital Prison Services
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    
    <h1 class="govuk-heading-l govuk-!-margin-top-6">
      Confirm Mateo can be removed from this service
    </h1>

    <p class="govuk-body">Mateo is no longer recorded as a POM on NOMIS or Digital Prison Services, but is still registered on this service. </br>
      </br>
      Choose continue to confirm they can be removed from this service once their cases have been reallocated.</p>



    <form action="../bulkallocation/select-pom" method="post">

      
        <div class="govuk-button-group" style="margin-top: 30px;">

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

          <a class="govuk-link govuk-link--no-visited-state" href="./staff#attention-needed">Cancel</a>

        </div>
        

    </form>



  </div>
</div>
{% endblock %}
