{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
Select this POM’s level – Digital Prison Services
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    
    <h1 class="govuk-heading-xl govuk-!-margin-top-6">
      Edit profile
    </h1>

    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-8">
      {% if data['pom'] == 'yasmeen' %}
      Yasmeen Essa
      {% elseif data['pom'] == 'alexis' %}
      Alexis Clarke
      {% elseif data['pom'] == 'hakim' %} 
      Hakim Reeves
      {% else %} 
      Sarah Bailey
      {% endif %} 
    </h2>


    {% if data['pom'] == 'yasmeen' %}
    <form action="../bulkallocation/re-allocate?pom=yasmeen" method="post">
    {% elseif data['pom'] == 'alexis' %}
    <form action="../staff/staff" method="post">
    <input type="hidden" name="pom" value="NoCasesRemoved">
    {% elseif data['pom'] == 'hakim' %}
    <form action="../bulkallocation/allocate-back/caselist" method="post">
    {% else %}
    <form action="/editstaffprofile" method="post">
    {% endif %}


      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
                     
        <!--START set dynamic radio hide/show text-->
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
    
        {% set DetailsParttime %}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Select how many days per week they will work 
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="workpatternDays" name="workpatternDays" type="radio" value="90">
                <label class="govuk-label govuk-radios__label" for="workpatternDays">
                  4.5 days
                </label>
              </div>
              <div class="govuk-radios__item">
                {% if data['pom'] == 'sarah' %} 
                <input class="govuk-radios__input" id="workpatternDays-2" name="workpatternDays" type="radio" value="80" checked>
                {% else %} 
                <input class="govuk-radios__input" id="workpatternDays-2" name="workpatternDays" type="radio" value="80">
                {% endif %} 
                <label class="govuk-label govuk-radios__label" for="workpatternDays-2">
                  4 days 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="workpatternDays-3" name="workpatternDays" type="radio" value="70">
                <label class="govuk-label govuk-radios__label" for="workpatternDays-3">
                  3.5 days  
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="workpatternDays-4" name="workpatternDays" type="radio" value="60">
                <label class="govuk-label govuk-radios__label" for="workpatternDays-4">
                  3 days 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="workpatternDays-5" name="workpatternDays" type="radio" value="50">
                <label class="govuk-label govuk-radios__label" for="workpatternDays-5">
                  2.5 days
                </label>
              </div>
              <div class="govuk-radios__item">
                {% if data['pom'] == 'yasmeen' %}
                <input class="govuk-radios__input" id="workpatternDays-6" name="workpatternDays" type="radio" value="40" checked>
                {% else %}
                <input class="govuk-radios__input" id="workpatternDays-6" name="workpatternDays" type="radio" value="40">
                {% endif %}
                <label class="govuk-label govuk-radios__label" for="workpatternDays-6">
                  2 days 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="workpatternDays-7" name="workpatternDays" type="radio" value="30">
                <label class="govuk-label govuk-radios__label" for="workpatternDays-7">
                  1.5 days 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="workpatternDays-8" name="workpatternDays" type="radio" value="20">
                <label class="govuk-label govuk-radios__label" for="workpatternDays-8">
                  1 day 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="workpatternDays-9" name="workpatternDays" type="radio" value="10">
                <label class="govuk-label govuk-radios__label" for="workpatternDays-9">
                  0.5 day
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {% endset -%}
    
    
        <!--END set dynamic radio hide/show text-->

        
        {% if data['pom'] == 'sarah' or data['pom'] == 'yasmeen' %} 

     
        {{ govukRadios({
          idPrefix: "workingpatternPOM",
          name: "workingpatternPOM",
          fieldset: {
            legend: {
              text: "Select working pattern ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          items: [
    
    
            {
              value: "fulltime",
              text: "Full time"
            },
    
    
            {
              value: "parttime",
              text: "Part time",
              checked: "true",
              conditional: {
                html: DetailsParttime
              }
            }
           
          ]
        }) }}


        {% else %} 


        {{ govukRadios({
          idPrefix: "workingpatternPOM",
          name: "workingpatternPOM",
          fieldset: {
            legend: {
              text: "Select working pattern ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          items: [
    
    
            {
              value: "fulltime",
              text: "Full time",
              checked: "true"
            },
    
    
            {
              value: "parttime",
              text: "Part time",
              conditional: {
                html: DetailsParttime
              }
            }
           
          ]
        }) }}
          
     
        {% endif %} 
      </fieldset>
      </div>
       
        
      

      


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
                            
          <!--STATUS START-->
          {% if data['pom'] == 'alexis' or data['pom'] == 'yasmeen' %}


          {{ govukRadios({
            idPrefix: "statusPOM",
            name: "statusPOM",
            fieldset: {
              legend: {
                text: "Select status",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: ""
            },
            items: [
      
      
              {
                value: "active",
                text: "Available for new cases"
              },
              {
                value: "unavailable",
                text: "Unavailable for new cases ",
                hint: {
                  text: "For example, because they are too busy.
                  Choosing this will remove them from the list of POMs you can allocate to."
                },
                checked: "true"
              },
              {
                value: "inactive",
                text: "Inactive",
                hint: {
                  text: "For example, because they are away from work for a while.  Setting to inactive will temporarily remove this person from the list of POMs you can allocate to and mean you will need to reallocate their cases. "
                }
              },
              {
                value: "delete",
                text: "No longer at HMP Wandsworth",
                hint: {
                  text: "This will permanently remove this person from the service. You will need to reallocate their cases. "
                }
              }
             
            ]
          }) }}


          {% elseif data['pom'] == 'hakim' %}

          {{ govukRadios({
            idPrefix: "statusPOM",
            name: "statusPOM",
            fieldset: {
              legend: {
                text: "Select status",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: ""
            },
            items: [
      
      
              {
                value: "active",
                text: "Available for new cases"
              },
              {
                value: "unavailable",
                text: "Unavailable for new cases ",
                hint: {
                  text: "For example, because they are too busy.
                  Choosing this will remove them from the list of POMs you can allocate to."
                }
              },
              {
                value: "inactive",
                text: "Inactive",
                hint: {
                  text: "For example, because they are away from work for a while.  Setting to inactive will temporarily remove this person from the list of POMs you can allocate to and mean you will need to reallocate their cases. "
                },
                checked: "true"
              },
              {
                value: "delete",
                text: "No longer at HMP Wandsworth",
                hint: {
                  text: "This will permanently remove this person from the service. You will need to reallocate their cases. "
                }
              }
             
            ]
          }) }}

          {% elseif data.statusPOM=="unavailable" %}

          {{ govukRadios({
            idPrefix: "statusPOM",
            name: "statusPOM",
            fieldset: {
              legend: {
                text: "Select status",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: ""
            },
            items: [
      
      
              {
                value: "active",
                text: "Available for new cases"
              },
              {
                value: "unavailable",
                text: "Unavailable for new cases ",
                hint: {
                  text: "For example, because they are too busy.
                  Choosing this will remove them from the list of POMs you can allocate to."
                },
                checked: "true"
              },
              {
                value: "inactive",
                text: "Inactive",
                hint: {
                  text: "For example, because they are away from work for a while.  Setting to inactive will temporarily remove this person from the list of POMs you can allocate to and mean you will need to reallocate their cases. "
                }
              },
              {
                value: "delete",
                text: "No longer at HMP Wandsworth",
                hint: {
                  text: "This will permanently remove this person from the service. You will need to reallocate their cases. "
                }
              }
             
            ]
          }) }}

          {% else %}
          
                 
          {{ govukRadios({
            idPrefix: "statusPOM",
            name: "statusPOM",
            fieldset: {
              legend: {
                text: "Select status",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: ""
            },
            items: [
      
      
              {
                value: "active",
                text: "Available for new cases",
                checked: "true"
              },
              {
                value: "unavailable",
                text: "Unavailable for new cases ",
                hint: {
                  text: "Use if they are too busy.
                  They will be removed from the list of people you can allocate to."
                }
              },
              {
                value: "inactive",
                text: "Away from work",
                hint: {
                  text: "Use for longer periods of absence.
                  This will remove them from the list of people you can allocate to. You will be able to reallocate their cases."
                }
              },
              {
                value: "delete",
                text: "No longer at HMP Wandsworth",
                hint: {
                  text: "Once you have reallocated their cases, they will be removed from this service. They may then need to be removed from Digital Prison Services."
                }
              }
             
            ]
          }) }}


          {% endif %}
            
       
        </fieldset>
        </div>




      
      
      
      
      
        <div class="govuk-button-group">
          
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save
          </button>

          <p><a class="govuk-link--no-visited-state" href="./staff-pom-overview">Cancel</a></p>

        </div>



    </form>
    



  </div>
</div>
{% endblock %}
