{% extends "includes/layouts/main.html" %}

{% block pageTitle %}
Sarah Bailey
{% endblock %}

{% block beforeContent %}

<a href="./staff" class="govuk-back-link govuk-body" style="margin-left: -10px;">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">


    {% if (data.statusPOM=="active") or (data.statusPOM=="unavailable") %}
    <div role="region" class="moj-alert moj-alert--success" aria-label="success: Upload successful" data-module="moj-alert" style="margin-top: 20px;">
      <div>
        <svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
          <path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
        </svg>
      </div>
      <div class="moj-alert__content">Profile updated for Sarah Bailey</div>
      <div class="moj-alert__action">
        <button class="moj-alert__dismiss" hidden>Dismiss</button>
      </div>
    </div>
    {% else %}
    {% endif %}


    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-xl govuk-!-margin-top-4">
          <span class="govuk-caption-xl">
            {% if data['pom'] == 'yasmeen' %} 
            Prison POM
            {% else %} 
            Probation POM
            {% endif %} 
          </span>
          {% if data['pom'] == 'yasmeen' %} 
          Yasmeen Essa
          {% elseif data['pom'] == 'alexis' %} 
          Alexis Clarke
          {% elseif data['pom'] == 'hakim' %} 
          Hakim Reeves
          {% else %} 
          Sarah Bailey
          {% endif %} 
        </h1>
      </div>
    
      <div class="moj-page-header-actions__actions govuk-!-margin-top-7">
        <div class="moj-button-group moj-button-group--inline">
    
          {% if data['pom'] == 'yasmeen' %}
          <form action="staff-edit-profile?pom=yasmeen" method="post">
          {% elseif data['pom'] == 'alexis' %}
          <form action="staff-edit-profile?pom=alexis" method="post">
          {% elseif data['pom'] == 'hakim' %} 
          <form action="staff-edit-profile?pom=hakim" method="post">
          {% else %} 
          <form action="staff-edit-profile?pom=sarah" method="post">
          {% endif %} 


          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Edit profile
          </button>
        </form>
    
        </div>
      </div>
    
    </div>


    

    <div class="govuk-grid-row">


      <div class="govuk-grid-column-full">
      <nav class="moj-sub-navigation" aria-label="Sub navigation">
    
        <ul class="moj-sub-navigation__list">
    
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page">Overview</a>
          </li>
    
    
          <li class="moj-sub-navigation__item">
            {% if data['pom'] == 'yasmeen' %}
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#">Caseload (10)</a>
            {% elseif data['pom'] == 'alexis' or data['pom'] == 'hakim' %} 
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#">Caseload (0)</a>
            {% else %} 
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./staff-pom-caseload">Caseload (71)</a>
            {% endif %} 
          </li>

          <li class="moj-sub-navigation__item">
            {% if data['pom'] == 'alexis' or data['pom'] == 'yasmeen' or data['pom'] == 'hakim' %} 
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#">Handover cases (0)</a>
            {% else %} 
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./staff-pom-handover">Handover cases (4)</a>
            {% endif %} 
          </li>
    
          <li class="moj-sub-navigation__item">
            {% if data['pom'] == 'alexis' or data['pom'] == 'yasmeen' or data['pom'] == 'hakim' %} 
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#">Parole cases (0)</a>
            {% else %}
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./staff-pom-parole">Parole cases (8)</a>
            {% endif %} 
          </li>
    
        </ul>
    
    </nav>
    </div>
    </div>
    
    
    
      <h2 class="govuk-heading-l">
        Overview
      </h2>
      
    
      <div class="govuk-grid-column-two-thirds" style="margin-left: -15px;">
    
    
        <h3 class="govuk-heading-m govuk-!-margin-top-2">
          Current workload</h3>
      
        <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third" style="width: 264px;">
                <div class="card card-total">
                  {% if data['pom'] == 'yasmeen' %}
                  <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">10</span>
                  <p>total cases</p></a>
                  {% elseif data['pom'] == 'alexis' or data['pom'] == 'hakim' %} 
                  <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">0</span>
                  <p>total cases</p></a>
                  {% else %} 
                  <a href="./staff-pom-caseload.html" class="govuk-link--no-visited-state"><span class="card__heading">71</span>
                  <p>total cases</p></a>
                  {% endif %} 
                </div>
              </div>
        
              <div class="govuk-grid-column-one-third" style="width: 264px;">
                <div class="card card-total">
                  {% if data['pom'] == 'alexis' or data['pom'] == 'yasmeen' or data['pom'] == 'hakim' %} 
                  <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">0</span>
                  <p>handovers in progress</p></a>
                  {% else %} 
                  <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">4</span>
                  <p>handovers in progress</p></a>
                  {% endif %} 
                </div>
              </div>
        
              <div class="govuk-grid-column-one-third" style="width: 264px;">
                <div class="card card-total">
                  {% if data['pom'] == 'alexis' or data['pom'] == 'yasmeen' or data['pom'] == 'hakim' %} 
                  <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">0</span>
                  <p>parole cases</p></a>
                  {% else %}
                  <a href="./staff-pom-parole.html" class="govuk-link--no-visited-state"><span class="card__heading">8</span>
                  <p>parole cases</p></a>
                  {% endif %}
                </div>
              </div>
        
              
            </div>
        
        
        
        
        <h3 class="govuk-heading-m govuk-!-margin-top-8">Allocations summary</h3>
        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last case allocated
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['pom'] == 'yasmeen' %}
              23 Feb 2025
              {% elseif data['pom'] == 'alexis' or data['pom'] == 'hakim' %}
              5 Oct 2025
              {% else %}
              10 Nov 2025
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Allocations in last 7 days
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['pom'] == 'alexis' or data['pom'] == 'yasmeen' or data['pom'] == 'hakim' %}
              0
              {% else %}
              2
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="./staff-pom-caseload#past-week">View</a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Releases in next 4 weeks
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['pom'] == 'alexis' or data['pom'] == 'yasmeen' or data['pom'] == 'hakim' %}
              0
              {% else %}
              3
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="./staff-pom-caseload#past-month">View</a>
            </dd>
          </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Working pattern
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['pom'] == 'yasmeen' %}
                      Part time – 2 days per week
                      {% elseif data['pom'] == 'sarah' %}
                      Part time – 4 days per week
                      {% else %}
                      Full time
                      {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      {% if data['pom'] == 'yasmeen' %}
                      <a class="govuk-link govuk-link--no-visited-state" href="./staff-edit-profile?pom=yasmeen">Change<span class="govuk-visually-hidden">working pattern</span></a>
                      {% elseif data['pom'] == 'alexis' %}
                      <a class="govuk-link govuk-link--no-visited-state" href="./staff-edit-profile?pom=alexis">Change<span class="govuk-visually-hidden">working pattern</span></a>
                      {% elseif data['pom'] == 'hakim' %}
                      <a class="govuk-link govuk-link--no-visited-state" href="./staff-edit-profile?pom=hakim">Change<span class="govuk-visually-hidden">working pattern</span></a>
                      {% else %}
                      <a class="govuk-link govuk-link--no-visited-state" href="./staff-edit-profile?pom=sarah">Change<span class="govuk-visually-hidden">working pattern</span></a>
                      {% endif %}
                    </dd>
                  </div>


                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Status
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['pom'] == 'alexis' or data['pom'] == 'yasmeen' %}
                      Unavailable for new cases
                      {% elseif data['pom'] == 'hakim' %} 
                      Away from work
                      {% elseif data.statusPOM=="active" %}
                      Available for new cases	
                      {% elseif data.statusPOM=="unavailable" %}
                      Unavailable for new cases
                      {% elseif data.statusPOM=="inactive" %}
                      Away from work
                      {% else %}
                      Available for new cases
                      {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      {% if data['pom'] == 'yasmeen' %}
                      <a class="govuk-link govuk-link--no-visited-state" href="./staff-edit-profile?pom=yasmeen">Change<span class="govuk-visually-hidden">status</span></a>
                      {% elseif data['pom'] == 'alexis' %}
                      <a class="govuk-link govuk-link--no-visited-state" href="./staff-edit-profile?pom=alexis">Change<span class="govuk-visually-hidden">status</span></a>
                      {% elseif data['pom'] == 'hakim' %}
                      <a class="govuk-link govuk-link--no-visited-state" href="./staff-edit-profile?pom=hakim">Change<span class="govuk-visually-hidden">status</span></a>
                      {% else %}
                      <a class="govuk-link govuk-link--no-visited-state" href="./staff-edit-profile?pom=sarah">Change<span class="govuk-visually-hidden">status</span></a>
                      {% endif %}
                    </dd>
                  </div>



                </dl>
        
        </div>
        
        
        
        
        
        
          <div class="govuk-grid-column-one-third govuk-!-margin-top-4">
            <h3 class="govuk-heading-m">
              Case mix by tier
            </h3>
        
            {% if data['pom'] == 'yasmeen' %}
            <div class="workforce-progress-container">
              <div class="workforce-progress-bar tier_a" style="width:0%"><p style="govuk-colour("white")">0</p></div>
              <div class="workforce-progress-bar tier_b" style="width:0%"><p>0</p></div>
              <div class="workforce-progress-bar tier_c" style="width:20%"><p style="govuk-colour("white")">2</p></div>
              <div class="workforce-progress-bar tier_d" style="width:80%"><p style="govuk-colour("white")">8</p></div>
            </div>
        
            <ul class="govuk-list">
              <li><span class="caseload-swatch tier_a"></span>Tier A: 0</li>
              <li><span class="caseload-swatch tier_b"></span>Tier B: 0</li>
              <li><span class="caseload-swatch tier_c"></span>Tier C: 2</li>
              <li><span class="caseload-swatch tier_d"></span>Tier D: 8</li>
              <li><span class="caseload-swatch tier_other"></span>Tier N/A: 0</li>
            </ul>

            {% elseif data['pom'] == 'alexis' or data['pom'] == 'hakim' %}
            <ul class="govuk-list">
              <li><span class="caseload-swatch tier_a"></span>Tier A: 0</li>
              <li><span class="caseload-swatch tier_b"></span>Tier B: 0</li>
              <li><span class="caseload-swatch tier_c"></span>Tier C: 0</li>
              <li><span class="caseload-swatch tier_d"></span>Tier D: 0</li>
              <li><span class="caseload-swatch tier_other"></span>Tier N/A: 0</li>
            </ul>
            
            {% else %}
            <div class="workforce-progress-container">
              <div class="workforce-progress-bar tier_a" style="width:15%"><p style="govuk-colour("white")">13</p></div>
              <div class="workforce-progress-bar tier_b" style="width:20%"><p>16</p></div>
              <div class="workforce-progress-bar tier_c" style="width:45%"><p style="govuk-colour("white")">25</p></div>
              <div class="workforce-progress-bar tier_d" style="width:20%"><p style="govuk-colour("white")">17</p></div>
            </div>
        
            <ul class="govuk-list">
              <li><span class="caseload-swatch tier_a"></span>Tier A: 13</li>
              <li><span class="caseload-swatch tier_b"></span>Tier B: 16</li>
              <li><span class="caseload-swatch tier_c"></span>Tier C: 25</li>
              <li><span class="caseload-swatch tier_d"></span>Tier D: 17</li>
              <li><span class="caseload-swatch tier_other"></span>Tier N/A: 0</li>
            </ul>
            {% endif %}
        
        
            <h3 class="govuk-heading-m govuk-!-margin-top-6">
              Case mix by POM role
            </h3>

            {% if data['pom'] == 'yasmeen' %}
            <div class="workforce-progress-container">
              <div class="workforce-progress-bar tier_a" style="width:100%"><p style="govuk-colour("white")">10</p></div>
              <!--<div class="workforce-progress-bar tier_d" style="width:0%"><p>0</p></div>-->
            </div>
        
            <ul class="govuk-list">
              <li><span class="caseload-swatch tier_a"></span>Responsible: 10</li>
              <li><span class="caseload-swatch tier_d"></span>Supporting: 0</li>
              <li><span class="caseload-swatch tier_other"></span>Co-working: 0</li>
            </ul>

            {% elseif data['pom'] == 'alexis' or data['pom'] == 'hakim' %}
            <ul class="govuk-list">
              <li><span class="caseload-swatch tier_a"></span>Responsible: 0</li>
              <li><span class="caseload-swatch tier_d"></span>Supporting: 0</li>
              <li><span class="caseload-swatch tier_other"></span>Co-working: 0</li>
            </ul>
            {% else %}
            <div class="workforce-progress-container">
              <div class="workforce-progress-bar tier_a" style="width:40%"><p style="govuk-colour("white")">33</p></div>
              <div class="workforce-progress-bar tier_d" style="width:60%"><p>38</p></div>
            </div>
        
            <ul class="govuk-list">
              <li><span class="caseload-swatch tier_a"></span>Responsible: 33</li>
              <li><span class="caseload-swatch tier_d"></span>Supporting: 38</li>
              <li><span class="caseload-swatch tier_other"></span>Co-working: 0</li>
            </ul>
            {% endif %}
        
          </div>
        </div>

</div>

  </div>



{% endblock %}
