{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
Check this POM is still active – Digital Prison Services 
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-top-6">Check this POM is still active</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  
<p class="govuk-body">This person is no longer recorded as a POM in NOMIS or Digital Prison Services.</p>

<h2 class="govuk-heading-m">If they are still managing cases</h2>

<p class="govuk-body">Check that:</p>
<ul class="govuk-list govuk-list--bullet" style="margin-top: -10px; margin-bottom: 20px;">
  <li style="margin-bottom: 10px;">they have the right role in Digital Prison Services – a local system administrator can check this</li>
  <li style="margin-bottom: 10px;">their NOMIS account is active</li>
  <li style="margin-bottom: 10px;">their primary address is recorded on NOMIS</li>
</ul>


<h2 class="govuk-heading-m">If they have left</h2>

<p class="govuk-body">They can be removed from this service in the <a href="./staff.html#attention-needed">Manage staff section</a>. Their cases can then be reallocated.</p>



  </div>
</div>
{% endblock %}
