{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
See allocations
{% endblock %}

{% block beforeContent %}




{% endblock %}

{% block content %}


<h1 class="govuk-heading-xl">
  Allocations
</h1>

<div class="moj-banner moj-banner--success">

  <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
  <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>
  
  <div class="moj-banner__message">
  <span class="moj-banner__assistive">Success</span>Helen James allocated as co-working POM for Jack Smith with Annie Bradley</div>
  </div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
  


<div class="moj-search">

<form action="#" method="post">

<div class="govuk-form-group">
  <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
    Find a case
  </label>

 <!-- <span id="search-hint" class="govuk-hint moj-search__hint ">
    Enter a prisoner name or number
  </span>-->

  <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
</div>

<button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
  Search
</button>

</form>
</div>

 
</div>
</div>

<div class="govuk-grid-row  govuk-!-padding-top-6">
  <div class="govuk-grid-column-full">
  


<nav class="moj-sub-navigation" aria-label="Sub navigation">

<ul class="moj-sub-navigation__list">


  <li class="moj-sub-navigation__item">
    <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./make-allocations">Make allocations (50)</a>
  </li>

  <li class="moj-sub-navigation__item">
    <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./cases-to-update">Cases to update (7)</a>
  </li>

  

  <li class="moj-sub-navigation__item">
    <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" >See allocations (10)</a>
  </li>

<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#">Newly arrived (3)</a>
</li>
</ul>

</nav>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width" style="margin-left: 15px">


      <h1 class="govuk-heading-l">
        See allocations
      </h1>

      <p></p>


      <nav class="moj-pagination govuk-!-padding-bottom-4" id="pagination-label">

        <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

        <ul class="moj-pagination__list">
       <!-- <li class="moj-pagination__item  moj-pagination__item--prev">
          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>


        <li class="moj-pagination__item moj-pagination__item--active">1</li>


        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>-->
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>10</b> results</p>
      </nav>


      <table class="govuk-table">

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" aria-sort="ascending">Case</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Location</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Tier</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">POM</th>


        <th scope="col" class="govuk-table__header" aria-sort="none">Allocation date</th>


        <!-- <th scope="col" class="govuk-table__header">
            Action</th> -->

      </tr>
      </thead>

      <tbody class="govuk-table__body">
        
      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">James Saunders</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="B">C-2-040</td>

        <td class="govuk-table__cell" data-sort-value="1">21 Sept 2023</td>

        <td class="govuk-table__cell due-date" data-sort-value="2021.05.03">
          <span class="date overdue">B</span>
          <span class="secondary overdue">Tier changed</br>
            <a href="#" class="govuk-link govuk-link--no-visited-state">Reallocate</a> or <a href="#" class="govuk-link govuk-link--no-visited-state">dismiss this</a>
          </span>
          
        </td>

        <td class="govuk-table__cell" data-sort-value="Hill"><a class="govuk-link govuk-link--no-visited-state" href="#">Sophie Hill</a></td>

        
        
        <td class="govuk-table__cell" data-sort-value="3">30 Jun 2021</td>



        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Piotr Perry</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="B">B-4-005</td>

        <td class="govuk-table__cell" data-sort-value="2">02 Oct 2024</td>

        <td class="govuk-table__cell" data-sort-value="B">B</td>

        <td class="govuk-table__cell" data-sort-value="Doe"><a class="govuk-link govuk-link--no-visited-state" href="#">Peter Doe</a></td>

       
        
        <td class="govuk-table__cell" data-sort-value="3">01 Apr 2019</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Hugh Hall</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

        <td class="govuk-table__cell" data-sort-value="B">C-2-022</td>
        
        <td class="govuk-table__cell" data-sort-value="4">15 Dec 2025</td>

        <td class="govuk-table__cell" data-sort-value="D">D</td>

        <td class="govuk-table__cell" data-sort-value="Barker"><a class="govuk-link govuk-link--no-visited-state" href="#">Sylvie Barker</a></td>

        
        
        <td class="govuk-table__cell" data-sort-value="1">05 Sep 2019</td>


        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Keith Morrison</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

        <td class="govuk-table__cell" data-sort-value="B">A-2-016</td>

        <td class="govuk-table__cell" data-sort-value="6">05 Apr 2025</td>

        <td class="govuk-table__cell" data-sort-value="C">C</td>

        <td class="govuk-table__cell" data-sort-value="King"><a class="govuk-link govuk-link--no-visited-state" href="#">Jessica King</a></td>

        
        
        <td class="govuk-table__cell" data-sort-value="4">19 Oct 2021</td>


        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Benjamin Enuku</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="B">F-4-044</td>

        <td class="govuk-table__cell" data-sort-value="9">01 May 2025</td>

        <td class="govuk-table__cell" data-sort-value="A">A</td>

        <td class="govuk-table__cell" data-sort-value="Hill"><a class="govuk-link govuk-link--no-visited-state" href="#">Sophie Hill</a></td>

       
        
        <td class="govuk-table__cell" data-sort-value="5">15 Jul 2021</td>


        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Naeem Patel</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="B">B-3-032</td>

        <td class="govuk-table__cell" data-sort-value="8">05 Dec 2026</td>

        <td class="govuk-table__cell" data-sort-value="D">D</td>

        <td class="govuk-table__cell" data-sort-value="Santos"><a class="govuk-link govuk-link--no-visited-state" href="#">Carlos Santos</a></td>

        
        
        <td class="govuk-table__cell" data-sort-value="7">11 Nov 2019</td>

<!--
        <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Otto Morris</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

        <td class="govuk-table__cell" data-sort-value="B">E-5-006</td>

        <td class="govuk-table__cell" data-sort-value="10">21 Sept 2025</td>

        <td class="govuk-table__cell" data-sort-value="A">A</td>

        <td class="govuk-table__cell" data-sort-value="James"><a class="govuk-link govuk-link--no-visited-state" href="#">Helen James</a></td>

        
        
        <td class="govuk-table__cell" data-sort-value="4">04 Sep 2019</td>


        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">John Hunt</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="B">C-4-019</td>

        <td class="govuk-table__cell" data-sort-value="5">01 Mar 2026</td>

        <td class="govuk-table__cell" data-sort-value="D">D</td>

        <td class="govuk-table__cell" data-sort-value="Santos"><a class="govuk-link govuk-link--no-visited-state" href="#">Carlos Santos</a></td>

       
        
        <td class="govuk-table__cell govuk-table__cell" data-sort-value="3">17 May 2021</td>

<!--
        <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/allocations/reallocation/review-case-reallocate">Jack Smith</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G4198UW </span></td>

        <td class="govuk-table__cell" data-sort-value="B">B-4-037</td>

        <td class="govuk-table__cell" data-sort-value="8">21 Feb 2023</td>

        <td class="govuk-table__cell" data-sort-value="B">B</td>

        <td class="govuk-table__cell" data-sort-value="King"><a class="govuk-link govuk-link--no-visited-state" href="#">Annie Bradley</a></td>

        
        <td class="govuk-table__cell" data-sort-value="3">27 Jan 2022</td>

        

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="/womens/allocations-review-case-info">
          Allocate</a> </td> -->

      </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Simon Riley</a>
        <br><span class="govuk-hint govuk-!-margin-bottom-0">AE1234BX</span></p></td>

      <td class="govuk-table__cell" data-sort-value="B">D-4-029</td>
      
      <td class="govuk-table__cell" data-sort-value="7">01 Aug 2021</td>

      <td class="govuk-table__cell" data-sort-value="A">A</td>

      <td class="govuk-table__cell" data-sort-value="Hanson"><a class="govuk-link govuk-link--no-visited-state" href="#">Matthew Hanson</a></td>
      
      

      <td class="govuk-table__cell" data-sort-value="2">10 Jun 2023</td>


      <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
        Allocate</a> </td> -->

    </tr>



      </tbody>
      </table>


      <nav class="moj-pagination" id="pagination-label">

        <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

        <ul class="moj-pagination__list">
        <li class="moj-pagination__item  moj-pagination__item--prev">
         <!-- <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>

        <li class="moj-pagination__item moj-pagination__item--active">1</li>


        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
        </li> -->
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>10</b> results</p>
      </nav>

          </div>
      </div>


        
  </div>
</div>

{% endblock %}
