{% extends "layout-pom-blank-nav.html" %}


{% block pageTitle %}
Handover cases
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Your handover cases
  </h1>
</div>

<div class="govuk-grid-column-one-third">

  <aside class="app-related-items" role="complementary">
    <h3 class="govuk-heading-m">
            Guidance
          </h3>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">View OMiC handover on EQuiP</a>
            </li>
  </div>
</div>

    <div class="govuk-grid-row">


  <div class="govuk-grid-column-full">
  <nav class="moj-sub-navigation" aria-label="Sub navigation">

    <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/handover/pom-overview-tab">Overview</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="#">Handover case list</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/handover/missing-com-details">Cases missing COM details</a>
    </li>

    </ul>

</nav>
</div>
</div>



  <h2 class="govuk-heading-m">
    Cases in the handover window
  </h2>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Case</th>
              <th scope="col" class="govuk-table__header">COM supports case<br> (start handover)</th>
              <th scope="col" class="govuk-table__header">Complete<br>handover by</th>
              <th scope="col" class="govuk-table__header">COM</th>
                <th scope="col" class="govuk-table__header">Number of tasks<br> complete</th>
              <th scope="col" class="govuk-table__header">Action</th>

            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Pharrell Jameson</a><br> <span class="govuk-!-margin-bottom-0"> G2911GD </span></td>
              <td class="govuk-table__cell">18 Mar 2021</td>
              <td class="govuk-table__cell due-date">
                <span class="date due">18 May 2021</span>
                <span class="secondary due">Due in 8 days</span>
              </td>
              <td class="govuk-table__cell">Deborah Simpson</td>
              <td class="govuk-table__cell">3 out of 5</td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Record progress</a></td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Jack Robinson</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
              <td class="govuk-table__cell">21 Feb 2021</td>
              <td class="govuk-table__cell">24 May 2021</td>
              <td class="govuk-table__cell">Sandra Marcus</td>
                <td class="govuk-table__cell">0 out of 5</td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/handover/task-list">Record progress</a></td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Jerry Coggins</a><br> <span class="govuk-!-margin-bottom-0"> G2911GD </span></td>
              <td class="govuk-table__cell">01 Apr 2021</td>
              <td class="govuk-table__cell">01 Jun 2021</td>
              <td class="govuk-table__cell due-date">
                <span class="date overdue">Unkown</span>
                <span class="secondary overdue">Allocation overdue</span>
              </td>
              <td class="govuk-table__cell">1 out of 5</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Record progress</a></td>

            </tr>


          </tbody>
        </table>


      <div class="govuk-!-padding-bottom-6"></div>


      <h2 class="govuk-heading-m">
        Starting in next 4 weeks
      </h2>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Case</th>
                  <th scope="col" class="govuk-table__header">COM supports case<br> (start handover)</th>
                  <th scope="col" class="govuk-table__header">Complete<br>handover by</th>
                  <th scope="col" class="govuk-table__header">COM</th>
                    <th scope="col" class="govuk-table__header">Number of tasks<br> complete</th>
                  <th scope="col" class="govuk-table__header">Action</th>

                </tr>
              </thead>
              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Damien Adams </a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
                  <td class="govuk-table__cell">03 May 2021</td>
                  <td class="govuk-table__cell">03 Aug 2021</td>
                  <td class="govuk-table__cell">Unknown</td>
                  <td class="govuk-table__cell">0 out of 5</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Record progress</a></td>

                </tr>

              </tbody>
            </table>

            <div class="govuk-!-padding-bottom-6"></div>


            <h2 class="govuk-heading-m">
              COM is responsible
            </h2>

                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Case</th>
                        <th scope="col" class="govuk-table__header">COM supports case<br> (start handover)</th>
                        <th scope="col" class="govuk-table__header">Complete<br>handover by</th>
                        <th scope="col" class="govuk-table__header">COM</th>
                          <th scope="col" class="govuk-table__header">Number of tasks<br> complete</th>
                        <th scope="col" class="govuk-table__header">Action</th>

                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">


                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Kirit Patel</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
                        <td class="govuk-table__cell">21 Jan 2021</td>
                        <td class="govuk-table__cell">24 Apr 2021</td>
                        <td class="govuk-table__cell">Michaela Oliver</td>
                        <td class="govuk-table__cell">5 out of 5</td>
                      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Record progress</a></td>

                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Eoghan Murphy</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
                        <td class="govuk-table__cell">05 Mar 2021</td>
                        <td class="govuk-table__cell">05 Mar 2021</td>
                        <td class="govuk-table__cell">Peter Rooke</td>
                        <td class="govuk-table__cell">5 out of 5</td>
                      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Record progress</a></td>

                      </tr>


                    </tbody>
                  </table>


</div>

  </div>



{% endblock %}
