{% extends "layout-pom-blank-nav.html" %}


{% block pageTitle %}
Handover cases
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


</div>

</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Your handover cases
  </h1>
</div>

<div class="govuk-grid-column-one-third">

  <aside class="app-related-items" role="complementary">
    <h3 class="govuk-heading-m">
            Guidance
          </h3>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">View OMiC handover on EQuiP</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/handover/manage-email-reminders-form">Manage handover reminder emails</a>
            </li>

  </div>
</div>

    <div class="govuk-grid-row">


  <div class="govuk-grid-column-full">
  <nav class="moj-sub-navigation" aria-label="Sub navigation">

    <ul class="moj-sub-navigation__list">

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="#">Prepare for handover (2)</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link govuk-link--no-visited-state"  href="/handover/share-case-information-list">Share case information with COM (4)</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/handover/missing-com-details">Cases missing COM details (2)</a>
    </li>

    </ul>

</nav>
</div>
</div>



  <h2 class="govuk-heading-m">
    Prepare for handover
  </h2>
  <p>A COM will be allocated in the next 8 weeks. Start reviewing the case and getting ready for the move to the community.</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Case</th>
              <th scope="col" class="govuk-table__header">Type of case</th>
              <th scope="col" class="govuk-table__header">Responsibility transfer<br>information</th>
              <th scope="col" class="govuk-table__header">Release date</th>
              <th scope="col" class="govuk-table__header">Tasks<br> complete</th>
              <th scope="col" class="govuk-table__header">Action</th>

            </tr>
          </thead>
          <tbody class="govuk-table__body">



            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Jack Robinson</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
              <td class="govuk-table__cell">Determinate – no parole</td>
              <td class="govuk-table__cell">COM supports: 21 May 2021<br>COM responsibile: 24 Jul 2021</td>
              <td class="govuk-table__cell">21 Feb 2022</td>
              <td class="govuk-table__cell">
                
                <ul class="govuk-list govuk-body-s task-summary-checklist">
                  <li class="yep"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
                  <li class="yep"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Check pre-release needs</li>
                  <li class="yep"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Explain handover process to prisoner</a></li>
                  
                </ul>
                
                </td>

              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/handover/task-list-0-of-5">Record progress</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Damien Adams </a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
              <td class="govuk-table__cell">Legacy CRC</td>
              <td class="govuk-table__cell">COM responsible: 03 Mar 2021</td>
              <td class="govuk-table__cell">15 Feb 2022</td>
              <td class="govuk-table__cell">
                
                <ul class="govuk-list govuk-body-s task-summary-checklist">
                  <li class="yep"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
                  <li class="yep"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Check pre-release needs</li>
                  <li class="yep"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Explain handover process to prisoner</a></li>
                  
                </ul>
               </td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Record progress</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Bảo Nguyễn </a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
              <td class="govuk-table__cell">Indeterminate – parole</td>
              <td class="govuk-table__cell">COM responsible: 29 Jun 2021</td>
              <td class="govuk-table__cell">29 Sep 2022</td>
              <td class="govuk-table__cell">
                
                <ul class="govuk-list govuk-body-s task-summary-checklist">
                  <li class="yep"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
                  <li class="yep"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Check pre-release needs</li>
                  <li class="yep"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Explain handover process to prisoner</a></li>
                  
                </ul>
               </td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Record progress</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Shane Dalton</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
              <td class="govuk-table__cell">Early allocation</td>
              <td class="govuk-table__cell">COM responsible: 21 Jun 2021</td>
              <td class="govuk-table__cell">29 Sep 2022</td>
              <td class="govuk-table__cell">
                
                <ul class="govuk-list govuk-body-s task-summary-checklist">
                  <li class="yep"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
                  <li class="yep"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Check pre-release needs</li>
                  <li class="yep"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Explain handover process to prisoner</a></li>
                  
                </ul>
                
                
                
        </td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Record progress</a></td>
            </tr>

          </tbody>
        </table>

    
</div>

  </div>



{% endblock %}
