{% extends "layout-main.html" %}


{% block pageTitle %}
Make new allocations
{% endblock %}


{% block content %}

<div class="moj-banner moj-banner--success">

<svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
<path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>

<div class="moj-banner__message">
<span class="moj-banner__assistive">Success</span>Jessica Davey (NOMIS ID G2911GD) has been allocated to Andrien Ricketts (Probation officer POM).</div>
</div>

<nav class="moj-sub-navigation" aria-label="Sub navigation">

<ul class="moj-sub-navigation__list">


  <li class="moj-sub-navigation__item">
    <a class="moj-sub-navigation__link" aria-current="page" href="/womens/make-allocations">Make new allocations (9)</a>
  </li>

  <li class="moj-sub-navigation__item">
    <a class="moj-sub-navigation__link" href="/womens/missing-info-list">Add missing information (4)</a>
  </li>


  <li class="moj-sub-navigation__item">
    <a class="moj-sub-navigation__link" href="#">See allocations (198)</a>
  </li>

<li class="moj-sub-navigation__item">
  <a class="moj-sub-navigation__link" href="#">Newly arrived (1)</a>
</li>
</ul>

</nav>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">


      <h1 class="govuk-heading-l">
        Make new allocations (9)
      </h1>


      <nav class="moj-pagination" id="pagination-label">

        <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

        <ul class="moj-pagination__list">
        <li class="moj-pagination__item  moj-pagination__item--prev">
          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>


        <li class="moj-pagination__item moj-pagination__item--active">1</li>


        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> to <b>9</b> of <b>9</b> results</p>
      </nav>


      <table class="govuk-table">

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" aria-sort="ascending">Prisoner</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Tier</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>

        <th scope="col" class="govuk-table__header govuk-table__header" aria-sort="none">Case owner</th>

        <th scope="col" class="govuk-table__header govuk-table__header" aria-sort="none">Waiting</th>

        <!-- <th scope="col" class="govuk-table__header">
            Action</th> -->

      </tr>
      </thead>

      <tbody class="govuk-table__body">

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Lana Riley</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

        <td class="govuk-table__cell" data-sort-value="A">A</td>

        <td class="govuk-table__cell" data-sort-value="7">01 August 2021</td>

        <td class="govuk-table__cell govuk-table__cell">Custody</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="2">2 days</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/womens/allocations-review-case-info">Chelsea Adams</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="A">A</td>

        <td class="govuk-table__cell" data-sort-value="1">21 September 2020</td>

        <td class="govuk-table__cell govuk-table__cell">Community</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="3">3 days</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/womens/allocations-review-case-info">Vanessa Perry</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="B">B</td>

        <td class="govuk-table__cell" data-sort-value="2">02 October 2020</td>

        <td class="govuk-table__cell govuk-table__cell">Community</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="3">3 days</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/womens/allocations-review-case-info">Connie Hall</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

        <td class="govuk-table__cell" data-sort-value="D">D</td>

        <td class="govuk-table__cell" data-sort-value="4">15 December 2020</td>

        <td class="govuk-table__cell govuk-table__cell">Community</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="1">1 days</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/womens/allocations-review-case-info">Maria Nelson</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

        <td class="govuk-table__cell" data-sort-value="C">C</td>

        <td class="govuk-table__cell" data-sort-value="6">05 April 2021</td>

        <td class="govuk-table__cell govuk-table__cell">Community</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="12">12 days</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/womens/allocations-review-case-info">Adrianna Enuku</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="A">A</td>

        <td class="govuk-table__cell" data-sort-value="9">01 May 2025</td>

        <td class="govuk-table__cell govuk-table__cell">Custody</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="5">5 days</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/womens/allocations-review-case-info">Nadia Patel</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="D">D</td>

        <td class="govuk-table__cell" data-sort-value="8">05 December 2021</td>

        <td class="govuk-table__cell govuk-table__cell">Custody</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="7">7 days</td>
<!--
        <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/womens/allocations-review-case-info">Heather Morris</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>

        <td class="govuk-table__cell" data-sort-value="A">A</td>

        <td class="govuk-table__cell" data-sort-value="10">21 September 2025</td>

        <td class="govuk-table__cell govuk-table__cell">Custody</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="12">12 days</td>

        <!-- <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>

      <tr class="govuk-table__row">

        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/womens/allocations-review-case-info">Stefanie Hunt</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> AE1234BD </span></td>

        <td class="govuk-table__cell" data-sort-value="D">D</td>

        <td class="govuk-table__cell" data-sort-value="5">01 March 2021</td>

        <td class="govuk-table__cell govuk-table__cell">Community</td>

        <td class="govuk-table__cell govuk-table__cell" data-sort-value="3">3 days</td>
<!--
        <td class="govuk-table__cell"> <a class="govuk-link" href="#">
          Allocate</a> </td> -->

      </tr>


      </tbody>
      </table>


      <nav class="moj-pagination" id="pagination-label">

        <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

        <ul class="moj-pagination__list">
        <li class="moj-pagination__item  moj-pagination__item--prev">
          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>

        <li class="moj-pagination__item moj-pagination__item--active">1</li>


        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> to <b>9</b> of <b>9</b> results</p>
      </nav>

          </div>
      </div>

{% endblock %}
