{% extends "layout-main.html" %}


{% block pageTitle %}
Allocate to a POM
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/womens-service-user-banner.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="/womens/homd_second_round/allocations-review-case-info" class="govuk-back-link">Back to review case details</a>
{% endblock %}


{% block content %}

<form method="post" action="/womens/confirm-allocation">


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    <span class="govuk-caption-l">Step 2 of 3</span>
    <h1 class="govuk-heading-l">
      Allocate a Probation officer POM
    </h1>

    <div class="govuk-!-margin-top-6"></div>

    <p>This recommendation takes the individual's tier and time left to serve into account.</p>

        <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Andrien Ricketts (Probation officer POM) has previously been allocated to this case.
  </strong>
</div>


<h3 class="govuk-heading-s">Active probation officer POMs</h3>



<table class="govuk-table responsive">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">POM name</th>
    <th class="govuk-table__header" scope="col">Working pattern</th>
    <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Case mix</th>
    <th class="govuk-table__header" scope="col">High<br> complexity cases</th>
      <th class="govuk-table__header" scope="col">Allocations in <br> previous 7 days</th>
    <th class="govuk-table__header" scope="col">Total cases</th>
    <th class="govuk-table__header" scope="col">Action</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row recommended_pom_row_5">
      <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Andrien Ricketts</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
      <td aria-label="case mix" class="govuk-table__cell "><div class="workforce-progress-container">
        <div class="workforce-progress-bar tier-a" style="width:45%"></div>
        <div class="workforce-progress-bar tier-b" style="width:45%"></div>
        <div class="workforce-progress-bar tier-c" style="width:10%"></div>
        <div class="workforce-progress-bar tier-d" style="width:0%"></div>
        <div class="workforce-progress-bar tier-other" style="width:0%"></div>
      </div></td>
      <td aria-label="complexity uplift" class="govuk-table__cell">15</td>
        <td aria-label="recent allocations" class="govuk-table__cell">0</td>
      <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">27</td>
        <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
    </tr>

    <tr class="govuk-table__row recommended_pom_row_4">
      <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Katy McCann</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
      <td aria-label="case mix" class="govuk-table__cell "><div class="workforce-progress-container">
        <div class="workforce-progress-bar tier-a" style="width:30%"></div>
        <div class="workforce-progress-bar tier-b" style="width:50%"></div>
        <div class="workforce-progress-bar tier-c" style="width:10%"></div>
        <div class="workforce-progress-bar tier-d" style="width:5%"></div>
        <div class="workforce-progress-bar tier-other" style="width:5%"></div>
      </div></td>
        <td aria-label="complexity uplift" class="govuk-table__cell">12</td>
        <td aria-label="recent allocations" class="govuk-table__cell">6</td>
      <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">31</td>
      <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
    </tr>

    <tr class="govuk-table__row recommended_pom_row_2">
      <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Stephen Dicks</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
      <td aria-label="case mix" class="govuk-table__cell "><div class="workforce-progress-container">
        <div class="workforce-progress-bar tier-a" style="width:50%"></div>
        <div class="workforce-progress-bar tier-b" style="width:30%"></div>
        <div class="workforce-progress-bar tier-c" style="width:15%"></div>
        <div class="workforce-progress-bar tier-d" style="width:5%"></div>
        <div class="workforce-progress-bar tier-other" style="width:0%"></div>
      </div></td>
      <td aria-label="Total" class="govuk-table__cell">15</td>
        <td aria-label="recent allocations" class="govuk-table__cell">5</td>
      <td aria-label="complexity uplift" class="govuk-table__cell govuk-!-font-weight-bold">35</td>
      <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
    </tr>

    <tr class="govuk-table__row recommended_pom_row_1">
      <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Shahina Rahman</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
      <td aria-label="case mix" class="govuk-table__cell"><div class="workforce-progress-container">
        <div class="workforce-progress-bar tier-a" style="width:40%"></div>
        <div class="workforce-progress-bar tier-b" style="width:60%"></div>
        <div class="workforce-progress-bar tier-c" style="width:0%"></div>
        <div class="workforce-progress-bar tier-d" style="width:0%"></div>
        <div class="workforce-progress-bar tier-other" style="width:0%"></div>
      </div></td>
      <td aria-label="complexity uplift" class="govuk-table__cell">5</td>
        <td aria-label="recent allocations" class="govuk-table__cell">3</td>
      <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">38</td>
      <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
    </tr>

    <tr class="govuk-table__row recommended_pom_row_0">
      <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Eve Bayram</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
      <td aria-label="case mix" class="govuk-table__cell "><div class="workforce-progress-container">
        <div class="workforce-progress-bar tier-a" style="width:60%"></div>
        <div class="workforce-progress-bar tier-b" style="width:30%"></div>
        <div class="workforce-progress-bar tier-c" style="width:10%"></div>
        <div class="workforce-progress-bar tier-d" style="width:0%"></div>
        <div class="workforce-progress-bar tier-other" style="width:0%"></div>
      </div></td>
      <td aria-label="complexity uplift" class="govuk-table__cell">8</td>
        <td aria-label="recent allocations" class="govuk-table__cell">2</td>
      <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">40</td>
      <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
    </tr>

    <tr class="govuk-table__row recommended_pom_row_6">
      <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Ollie Treend</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Part time - 0.8</td>
      <td aria-label="case mix" class="govuk-table__cell "><div class="workforce-progress-container">
        <div class="workforce-progress-bar tier-a" style="width:60%"></div>
        <div class="workforce-progress-bar tier-b" style="width:30%"></div>
        <div class="workforce-progress-bar tier-c" style="width:10%"></div>
        <div class="workforce-progress-bar tier-d" style="width:0%"></div>
        <div class="workforce-progress-bar tier-other" style="width:0%"></div>
      </div></td>
      <td aria-label="complexity uplift" class="govuk-table__cell">9</td>
        <td aria-label="recent allocations" class="govuk-table__cell">1</td>
      <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">38</td>
      <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
    </tr>

    <tr class="govuk-table__row recommended_pom_row_3">
      <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Binit Hindocha</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Part time - 0.5</td>
      <td aria-label="case mix" class="govuk-table__cell "><div class="workforce-progress-container">
        <div class="workforce-progress-bar tier-a" style="width:10%"></div>
        <div class="workforce-progress-bar tier-b" style="width:80%"></div>
        <div class="workforce-progress-bar tier-c" style="width:10%"></div>
        <div class="workforce-progress-bar tier-d" style="width:0%"></div>
        <div class="workforce-progress-bar tier-other" style="width:0%"></div>
      </div></td>
        <td aria-label="complexity uplift" class="govuk-table__cell">8</td>
          <td aria-label="recent allocations" class="govuk-table__cell">4</td>
      <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">36</td>
      <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
    </tr>


  </tbody>
</table>

<h3 class="govuk-heading-s">
  Case mix
</h3>

<ul class="govuk-list">
  <li><span class="caseload-swatch tier-a"></span>Tier A</li>
  <li><span class="caseload-swatch tier-b"></span>Tier B</li>
  <li><span class="caseload-swatch tier-c"></span>Tier C</li>
  <li><span class="caseload-swatch tier-d"></span>Tier D</li>
  <li><span class="caseload-swatch tier-other"></span>No tier</li>
</ul>
<div class="govuk-grid-column-full govuk-!-margin-top-4"></div>


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h3 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Active prison officer POMs
      </span>
    </h3>
    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
      You will need to provide a valid reason for overridding the recommended level of POM.
    </div>
  </div>
  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
    <table class="govuk-table responsive">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">POM name</th>
        <th class="govuk-table__header" scope="col">Working pattern</th>
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Case mix</th>
        <th class="govuk-table__header" scope="col">High<br> complexity cases</th>
          <th class="govuk-table__header" scope="col">Allocations in <br> previous 7 days</th>
        <th class="govuk-table__header" scope="col">Total cases</th>
        <th class="govuk-table__header" scope="col">Action</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row recommended_pom_row_0">
        <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Annie Bradley</td>
          <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
          <td aria-label="case mix" class="govuk-table__cell "><div class="workforce-progress-container">
            <div class="workforce-progress-bar tier-a" style="width:0%"></div>
            <div class="workforce-progress-bar tier-b" style="width:0%"></div>
            <div class="workforce-progress-bar tier-c" style="width:40%"></div>
            <div class="workforce-progress-bar tier-d" style="width:60%"></div>
            <div class="workforce-progress-bar tier-other" style="width:0%"></div>
          </div></td>
          <td aria-label="complexity uplift" class="govuk-table__cell">0</td>
            <td aria-label="recent allocations" class="govuk-table__cell">1</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">38</td>
          <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
        </tr>

        <tr class="govuk-table__row recommended_pom_row_1">
          <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Geoff Colum</td>
          <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
          <td aria-label="case mix" class="govuk-table__cell "><div class="workforce-progress-container">
            <div class="workforce-progress-bar tier-a" style="width:0%"></div>
            <div class="workforce-progress-bar tier-b" style="width:10%"></div>
            <div class="workforce-progress-bar tier-c" style="width:60%"></div>
            <div class="workforce-progress-bar tier-d" style="width:30%"></div>
            <div class="workforce-progress-bar tier-other" style="width:0%"></div>
          </div></td>
          <td aria-label="complexity uplift" class="govuk-table__cell">0</td>
            <td aria-label="recent allocations" class="govuk-table__cell">5</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">39</td>
          <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
        </tr>

        <tr class="govuk-table__row recommended_pom_row_2">
          <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Matthew Hanson</td>
          <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
          <td aria-label="case mix" class="govuk-table__cell "><div class="workforce-progress-container">
            <div class="workforce-progress-bar tier-a" style="width:0%"></div>
            <div class="workforce-progress-bar tier-b" style="width:0%"></div>
            <div class="workforce-progress-bar tier-c" style="width:80%"></div>
            <div class="workforce-progress-bar tier-d" style="width:15%"></div>
            <div class="workforce-progress-bar tier-other" style="width:5%"></div>
          </div></td>
          <td aria-label="complexity uplift" class="govuk-table__cell">1</td>
            <td aria-label="recent allocations" class="govuk-table__cell">1</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">40</td>
          <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
        </tr>

        <tr class="govuk-table__row recommended_pom_row_3">
          <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Sophie Hill</td>
          <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
          <td aria-label="case mix" class="govuk-table__cell "><div class="workforce-progress-container">
            <div class="workforce-progress-bar tier-a" style="width:0%"></div>
            <div class="workforce-progress-bar tier-b" style="width:0%"></div>
            <div class="workforce-progress-bar tier-c" style="width:75%"></div>
            <div class="workforce-progress-bar tier-d" style="width:25%"></div>
            <div class="workforce-progress-bar tier-other" style="width:0%"></div>
          </div></td>
          <td aria-label="complexity uplift" class="govuk-table__cell">0</td>
            <td aria-label="recent allocations" class="govuk-table__cell">6</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">42</td>
          <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
        </tr>

        <tr class="govuk-table__row recommended_pom_row_4">
          <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Helen James</td>
          <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
          <td aria-label="case mix" class="govuk-table__cell "><div class="workforce-progress-container">
            <div class="workforce-progress-bar tier-a" style="width:0%"></div>
            <div class="workforce-progress-bar tier-b" style="width:10%"></div>
            <div class="workforce-progress-bar tier-c" style="width:50%"></div>
            <div class="workforce-progress-bar tier-d" style="width:40%"></div>
            <div class="workforce-progress-bar tier-other" style="width:0%"></div>
          </div></td>
          <td aria-label="complexity uplift" class="govuk-table__cell">0</td>
            <td aria-label="recent allocations" class="govuk-table__cell">3</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">44</td>
          <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
        </tr>

        <tr class="govuk-table__row recommended_pom_row_5">
          <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Jim Roantree</td>
          <td aria-label="Working pattern" class="govuk-table__cell">Full time</td>
          <td aria-label="case mix" class="govuk-table__cell "><div class="workforce-progress-container">
            <div class="workforce-progress-bar tier-a" style="width:0%"></div>
            <div class="workforce-progress-bar tier-b" style="width:0%"></div>
            <div class="workforce-progress-bar tier-c" style="width:30%"></div>
            <div class="workforce-progress-bar tier-d" style="width:70%"></div>
            <div class="workforce-progress-bar tier-other" style="width:0%"></div>
          </div></td>
          <td aria-label="complexity uplift" class="govuk-table__cell">0</td>
            <td aria-label="recent allocations" class="govuk-table__cell">4</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">51</td>
          <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
        </tr>

        <tr class="govuk-table__row recommended_pom_row_6">
          <td aria-label="POM name" class="govuk-table__cell govuk-!-font-weight-bold">Carlos Santos</td>
          <td aria-label="Working pattern" class="govuk-table__cell">Part time - 0.8</td>
          <td aria-label="case mix" class="govuk-table__cell "><div class="workforce-progress-container">
            <div class="workforce-progress-bar tier-a" style="width:0%"></div>
            <div class="workforce-progress-bar tier-b" style="width:5%"></div>
            <div class="workforce-progress-bar tier-c" style="width:55%"></div>
            <div class="workforce-progress-bar tier-d" style="width:40%"></div>
            <div class="workforce-progress-bar tier-other" style="width:0%"></div>
          </div></td>
          <td aria-label="complexity uplift" class="govuk-table__cell">0</td>
            <td aria-label="recent allocations" class="govuk-table__cell">3</td>
          <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">36</td>
          <td aria-label="recent allocations" class="govuk-table__cell"><a class="govuk-link" href="#">Allocate</a></td>
        </tr>
      </tbody>
    </table>
    <div class="govuk-grid-column-full govuk-!-margin-top-4"></div>



  </div>
</div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
          POMs unavailable for new allocations
        </span>
      </h3>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
        There are 2 POMs unavailable.
      </div>
    </div>
    <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
      <table class="govuk-table responsive">
        <thead class="govuk-table__head">

        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">POM name</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col">POM level</th>
          <th class="govuk-table__header" scope="col">Total</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row recommended_pom_row_0">
            <td aria-label="POM name" class="govuk-table__header ">

                Richard Adams
        </td>
            <td aria-label="Working pattern" class="govuk-table__cell">Active but unavailable for new cases</td>
            <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
            </td> -->
            <td aria-label="POM type" class="govuk-table__cell ">Probation Officer POM</td>
            <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">37</td>

          </tr>

            <tr class="govuk-table__row recommended_pom_row_0">
              <td aria-label="POM name" class="govuk-table__header ">

                  Amy Cufflin
                </td>
              <td aria-label="Working pattern" class="govuk-table__cell">Inactive</td>
              <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
              </td> -->
              <td aria-label="POM type" class="govuk-table__cell ">Prison Officer POM</td>
              <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold">0</td>
            </tr>
  </tbody>
</table>
<div class="govuk-grid-column-full govuk-!-margin-top-4"></div>

    </div>
</div>

</div>
</div>
</div>
<div class="govuk-grid-column-full govuk-!-margin-top-4"></div>


</div>
</div>
</main>
</div>
</form>





{% endblock %}
