{% extends "layout-womens-homd.html" %}


{% block pageTitle %}
Review case before allocating
{% endblock %}



{% block beforeContent %}
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title">HMP Peterborough (Female)</div>

<a href="/womens/homd_second_round/change-prison.html" class="moj-organisation-nav__link">Change prison</a>

</div>
<div class="govuk-!-margin-bottom-3"></div>

<a href="/womens/homd_second_round/make-allocations" class="govuk-back-link govuk-body">Back to make allocations list</a>

{% endblock %}


{% block content %}



<form method="post" action="/womens/homd_second_round/allocation-select-pom-mix">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <span class="govuk-caption-l">Step 1 of 3</span>
    <h1 class="govuk-heading-l">Review case
  </h1>
</div>
</div>

    <!-- <div class="govuk-!-padding-bottom-3"></div>
      <button class="govuk-button" data-module="govuk-button" formaction="/womens/allocations-select-pom">
        Continue
      </button> -->









<div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width">


          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link govuk-link--no-visited-state"
                  href="/womens/homd_second_round/allocations-review-case-info">Case summary</a>
              </li>
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link govuk-link--no-visited-state"
                  href="/womens/homd_second_round/allocations-review-case-info-contacts">Contacts</a>
              </li>
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
                  href="/womens/homd_second_round/allocations-review-case-info-activity">Case activity</a>
              </li>
            </ul>

          </nav>
        </div>
      </div>




        <!-- <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Case activity</h1>
        </div> -->



<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        <section class="app-filter-card govuk-!-margin-bottom-6" style="max-width: 100%; border: 0;">
          <p class="govuk-heading-s">Filters</p>

          <div class="app-filter-container">
            <button id="button-record" type="button" class="app-filter-button" data-controls="probation-record-selection" onclick="event.stopPropagation(); toggleFilter(this)" style="width: 244px;">Select</button>
            <div id="probation-record-selection" class="app-filter-selection govuk-visually-hidden">
    <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-visually-hidden">

            Select filters

          </legend>


          <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="checkbox-record" name="checkbox-record" type="checkbox" value="current">
                  <label class="govuk-label govuk-checkboxes__label" for="checkbox-record">
                Allocation
              </label>

                </div>


                <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="checkbox-record-3" name="checkbox-record" type="checkbox" value="known">
                          <label class="govuk-label govuk-checkboxes__label" for="checkbox-record-3">
                        Movement
                      </label>

                        </div>
                        <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="checkbox-record-4" name="checkbox-record" type="checkbox" value="known">
                                  <label class="govuk-label govuk-checkboxes__label" for="checkbox-record-4">
                                Case information update
                              </label>

                                </div>


          </div>
          </fieldset>


        </div>


            </div>
          </div>



          <button type="button" class="govuk-button app-apply-filters-button" onclick="applyFilters()">Apply filters</button>


          <div class="selected-filters govuk-visually-hidden">
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Applied filters</span> <a href="#" class="govuk-body-s govuk-!-margin-left-2" onclick="event.preventDefault(); applyFilters(true)">Clear all</a></p>

            <p class="applied-record govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0 app-selected-filters--label govuk-visually-hidden"></p>
            <div class="app-filters-applied-record"></div>

            <p class="applied-courtroom govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0 app-selected-filters--label govuk-visually-hidden"></p>
            <div class="app-filters-applied-courtroom"></div>

            <p class="applied-session govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0 app-selected-filters--label govuk-visually-hidden"></p>
            <div class="app-filters-applied-session"></div>

          </div>

        </section>

      </div>

      <div class="govuk-grid-column-one-third">
          <ul class="govuk-list">
            <!-- <li>
              <a class="govuk-link govuk-link--no-visited-state" href="appointment">Change POM allocation</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="appointment">Allocate co-working POM</a>
            </li> -->
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">View case on DPS (new NOMIS)</a>
            </li>
          </ul>
        </div>
    </div>

    <div class="govuk-grid-row">
          <div class="govuk-grid-full-width">

        <table class="govuk-table">
      <!-- <caption class="govuk-table__caption">Dates and amounts</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date and time</th>
          <th scope="col" class="govuk-table__header">Event</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">Done by</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">08 Feb 2021 at 8:45am</td>
            <td scope="row" class="govuk-table__cell govuk-!-font-weight-bold">Case information update</th>
          <td class="govuk-table__cell">High complexity of need level recorded</td>
          <td scope="row" class="govuk-table__cell">Mark Berridge</th>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">06 Feb 2021 at 6:00pm</td>
          <td scope="row" class="govuk-table__cell govuk-!-font-weight-bold">Movement</th>
          <td class="govuk-table__cell">Arrival at HMP Peterborough (Female)</td>
          <td scope="row" class="govuk-table__cell">System action</th>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">06 Feb 2021 at 10:00am</td>
          <td scope="row" class="govuk-table__cell govuk-!-font-weight-bold">Allocation</th>
          <td class="govuk-table__cell">Prisoner de-allocated from Eve Bayram (Probation officer POM) <a class="govuk-link govuk-link--no-visited-state" href="#">eve.bayram@justice.gov.uk</a></td>
          <td scope="row" class="govuk-table__cell">System action</th>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">06 Feb 2021 at 10:00am</td>
          <td scope="row" class="govuk-table__cell govuk-!-font-weight-bold">Movement</th>
          <td class="govuk-table__cell">Movement out of HMP New Hall</td>
          <td scope="row" class="govuk-table__cell">System action</th>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">12 Dec 2020 at 9:05am</td>
            <td scope="row" class="govuk-table__cell govuk-!-font-weight-bold">Case information update</th>
          <td class="govuk-table__cell">Tier changed from C to B</td>
          <td scope="row" class="govuk-table__cell">Sarah Jameson</th>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">30 Nov 2020 at 1:12pm</td>
            <td scope="row" class="govuk-table__cell govuk-!-font-weight-bold">Allocation</th>
          <td class="govuk-table__cell">Prisoner allocated to  Eve Bayram (Probation officer POM) <a class="govuk-link govuk-link--no-visited-state" href="#">eve.bayram@justice.gov.uk</a></td>
          <td scope="row" class="govuk-table__cell">Sarah Jameson</th>
        </tr>
      </tbody>
    </table>




    </div>




            <div class="govuk-!-padding-bottom-4"></div>

            <button class="govuk-button" data-module="govuk-button" formaction="/womens/homd_second_round/allocation-select-pom-mix">
              Continue
            </button>


</div>



{% endblock %}
