{% extends "layout-womens-homd.html" %}


{% block pageTitle %}
Review case before allocating
{% endblock %}

{% block bodyStart %}


{% endblock %}


{% block beforeContent %}

<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title">HMP Peterborough (Female)</div>

<a href="/womens/homd_second_round/change-prison.html" class="moj-organisation-nav__link">Change prison</a>

</div>
<div class="govuk-!-margin-bottom-3"></div>

<a href="/womens/homd_second_round/make-allocations" class="govuk-back-link govuk-body">Back to make allocations list</a>
{% endblock %}


{% block content %}

<form method="post" action="/womens/allocaton-select-pom-uplift">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <span class="govuk-caption-l">Step 1 of 3</span>
    <h1 class="govuk-heading-l">Review case details
  </h1>



    <!-- <div class="govuk-!-padding-bottom-3"></div>
      <button class="govuk-button" data-module="govuk-button" formaction="/womens/allocations-select-pom">
        Continue
      </button> -->


    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="/womens/homd_second_round/allocations-review-case-info">Case summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="/womens/homd_second_round/allocations-review-case-info-contacts">Contacts</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="/womens/homd_second_round/allocations-review-case-info-activity">Case activity</a>
        </li>
      </ul>

    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <h2 class="govuk-heading-l">Case summary</h2> -->
    <strong class="govuk-tag govuk-tag--blue" style="margin-right: 5px;">
    Recall
  </strong>
  <strong class="govuk-tag govuk-tag--blue" style="margin-right: 5px;">
  High complexity
</strong>
  <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-7">
  Determinate
  </strong>
  </div>
  <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#">View case on DPS (new NOMIS)</a>
        </li>
      </ul>
    </div>
</div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half app-!-display-flex--1">
          <div class="app-card app-card--muted">
            <p class="govuk-heading-m govuk-!-margin-0">POM role: responsible</p>
            <br>
            <p class="govuk-body">A co-working POM has not been allocated.</p>
          </div>

      </div>


      <div class="govuk-grid-column-one-half app-!-display-flex--1">
        <div class="app-card app-card--muted">
          <p class="govuk-heading-m govuk-!-margin-0">Handover: not started</p>
        </br>
          <p class="govuk-body">A Community Offender Manager (COM) will support this case from 06 July 2022.</p>
          <p class="govuk-body">The COM will take responsibility for the case on 06 October 2022.</p>
          <!-- <p class="govuk-body">
            <a href="/contact" class="govuk-link app-link--dark">Contact offender manager</a>
          </p> -->
        </div>
      </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

  <div class="govuk-!-margin-bottom-6"></div>

  <h3 class="govuk-heading-m govuk-!-margin-top-3">Prisoner information</h3>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Name</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Jessica Davey</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Date of birth</td>
    <td class="govuk-table__cell govuk-!-width-one-third">01 Oct 1997</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></a></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">NOMIS ID</td>
    <td class="govuk-table__cell govuk-!-width-one-third">G4198UW</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">CRN number</td>
    <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#"></a></td>
  </tr>
  </tbody>
</table>

  <h3 class="govuk-heading-m govuk-!-margin-top-3">Allocation and case handover</h3>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">POM role</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Responsible</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Change</a></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Has POM role been manually overriden?</td>
    <td class="govuk-table__cell govuk-!-width-one-third">No - responsibility follows OMiC guidelines</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <!-- <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">POM name</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Not allocated</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr> -->
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Co-working POM</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Unallocated</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Handover start date</td>
    <td class="govuk-table__cell govuk-!-width-one-third">06 Jul 2022</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#"></a></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Case responsibility transfers to COM</td>
    <td class="govuk-table__cell govuk-!-width-one-third">06 Oct 2022</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#"></a></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Early allocation referral</td>
    <td class="govuk-table__cell govuk-!-width-one-third">No early allocation notes</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  </tbody>
</table>

<h3 class="govuk-heading-m govuk-!-margin-top-3">Case information</h3>

<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header"></th>
    <th scope="col" class="govuk-table__header"></th>
    <th scope="col" class="govuk-table__header"></th>
  </tr>
</thead>
<tbody class="govuk-table__body">

<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Tier</td>
  <td class="govuk-table__cell govuk-!-width-one-third">B</td>
  <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Change</a></td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Complexity of need level</td>
  <td class="govuk-table__cell govuk-!-width-one-third">High</td>
  <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href=#>Change</a></td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Category</td>
  <td class="govuk-table__cell govuk-!-width-one-third">Closed</td>
  <td class="govuk-table__cell govuk-!-width-one-third"></td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Recall</td>
  <td class="govuk-table__cell govuk-!-width-one-third">Yes</td>
  <td class="govuk-table__cell govuk-!-width-one-third"></td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Provider country</td>
  <td class="govuk-table__cell govuk-!-width-one-third">England</td>
  <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Change</a></td>

</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Provider</td>
  <td class="govuk-table__cell govuk-!-width-one-third">National Probation Service (NPS)</td>
  <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Change</a></td>

</tr>
<!-- <tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">OASys due date</td>
  <td class="govuk-table__cell govuk-!-width-one-third">Unknown</td>
  <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Change</a></td>
</tr> -->
</tbody>
</table>

  <h3 class="govuk-heading-m govuk-!-margin-top-6">Offence and sentence</h3>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Main offence</td>
      <td class="govuk-table__cell govuk-!-width-one-third">Section 18 - wounding with intent</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>

    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Sentence type	</td>
      <td class="govuk-table__cell govuk-!-width-one-third">Determinate</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Sentence start date	</td>
      <td class="govuk-table__cell govuk-!-width-one-third">29 May 2015</td>
      <td class="govuk-table__cell govuk-!-width-one-third">
    </td></tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Conditional release date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">21 Feb 2023</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Automatic release date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Parole eligibility</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Parole review date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Home detentional curfew eligibility</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Tariff date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Post recall release date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Sentence/ licence end date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">26 May 2030</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    </tbody>
  </table>



</div>


<button class="govuk-button" data-module="govuk-button" formaction="/womens/homd_second_round/allocation-select-pom-mix">
  Continue
</button>



</div>
</div>


{% endblock %}
