{% extends "layout-womens-homd.html" %}


{% block pageTitle %}
View case
{% endblock %}

{% block bodyStart %}


{% endblock %}


{% block beforeContent %}

<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title">HMP Peterborough (Female)</div>

<a href="/womens/homd_second_round/change-prison.html" class="moj-organisation-nav__link">Change prison</a>

</div>
<div class="govuk-!-margin-bottom-3"></div>

<a href="/womens/homd_second_round/search_results" class="govuk-back-link govuk-body">Back</a>
{% endblock %}


{% block content %}

<div class="moj-banner moj-banner--success">

<svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
<path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>

<div class="moj-banner__message">
<span class="moj-banner__assistive">Success</span>You have updated the complexity of need level for Louise Parker (NOMIS ID G2911GD).</div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="prisoner-photo-header">

<img style="width:70%" src="/public/images/NoPhoto.png" alt="no photo"></img>

</div>

<div class="prisoner-photo-header">


    <h1 class="govuk-heading-l" style="display:inline;">Louise Parker</h1>
    <br>

    <!-- <strong class="govuk-tag govuk-tag" style="margin-right: 5px; margin-top:20px;">
    Recall
  </strong> -->
  <strong class="govuk-tag govuk-tag" style="margin-right: 5px; margin-top:20px;">
  Medium complexity
</strong>
  <strong class="govuk-tag govuk-tag govuk-!-margin-bottom-5">
  Determinate
  </strong>
  <br>

      <ul class="govuk-list">
        <!-- <li>
          <a class="govuk-link govuk-link--no-visited-state" href="appointment">Change POM allocation</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="appointment">Allocate co-working POM</a>
        </li> -->
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#">View case on DPS (new NOMIS)</a>
        </li>

      </ul>
    </div>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

<div class="govuk-!-margin-bottom-6"></div>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="/womens/homd_second_round/allocated-case">Allocation and case handover</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="/womens/homd_second_round/allocated-case">Case details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="/womens/homd_second_round/allocated-case-contacts">Contacts</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="/womens/homd_second_round/allocated-case-activity">Case activity</a>
        </li>
      </ul>

    </nav>
  </div>
</div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

  <div class="govuk-!-margin-bottom-6"></div>

  <h3 class="govuk-heading-m govuk-!-margin-top-3">Prisoner information</h3>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Name</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Louise Parker</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Date of birth</td>
    <td class="govuk-table__cell govuk-!-width-one-third">27 Oct 1970</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></a></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">NOMIS ID</td>
    <td class="govuk-table__cell govuk-!-width-one-third">G2911GD</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">CRN number</td>
    <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#"></a></td>
  </tr>
  </tbody>
</table>

<h3 class="govuk-heading-m govuk-!-margin-top-3">Case information</h3>

<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header"></th>
    <th scope="col" class="govuk-table__header"></th>
    <th scope="col" class="govuk-table__header"></th>
  </tr>
</thead>
<tbody class="govuk-table__body">

<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Tier</td>
  <td class="govuk-table__cell govuk-!-width-one-third">B</td>
  <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Change</a></td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Complexity of need level</td>
  <td class="govuk-table__cell govuk-!-width-one-third">Medium</td>
  <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="/womens/homd_second_round/change-complexity">Change</a></td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Category</td>
  <td class="govuk-table__cell govuk-!-width-one-third">Closed</td>
  <td class="govuk-table__cell govuk-!-width-one-third"></td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Recall</td>
  <td class="govuk-table__cell govuk-!-width-one-third">No</td>
  <td class="govuk-table__cell govuk-!-width-one-third"></td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Provider country</td>
  <td class="govuk-table__cell govuk-!-width-one-third">England</td>
  <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Change</a></td>

</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Provider</td>
  <td class="govuk-table__cell govuk-!-width-one-third">National Probation Service (NPS)</td>
  <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Change</a></td>

</tr>
<!-- <tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">OASys due date</td>
  <td class="govuk-table__cell govuk-!-width-one-third">Unknown</td>
  <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Change</a></td>
</tr> -->
</tbody>
</table>

  <h3 class="govuk-heading-m govuk-!-margin-top-6">Offence and sentence</h3>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Main offence</td>
      <td class="govuk-table__cell govuk-!-width-one-third">Section 18 - wounding with intent</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>

    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Sentence type	</td>
      <td class="govuk-table__cell govuk-!-width-one-third">Determinate</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Sentence start date	</td>
      <td class="govuk-table__cell govuk-!-width-one-third">29 May 2015</td>
      <td class="govuk-table__cell govuk-!-width-one-third">
    </td></tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Conditional release date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">21 Feb 2023</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Automatic release date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Parole eligibility</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Parole review date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Home detentional curfew eligibility</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Tariff date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Post recall release date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Sentence/ licence end date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">26 May 2030</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    </tbody>
  </table>



</div>


</div>
</div>


{% endblock %}
