{% extends "layout-womens-homd.html" %}


{% block pageTitle %}
Review case before allocating
{% endblock %}

{% block bodyStart %}


{% endblock %}


{% block beforeContent %}

<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title">HMP Peterborough (Female)</div>

<a href="/womens/homd_second_round/change-prison.html" class="moj-organisation-nav__link">Change prison</a>

</div>
<div class="govuk-!-margin-bottom-3"></div>

<a href="/womens/homd_second_round/search_results" class="govuk-back-link govuk-body">Back</a>
{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="prisoner-photo-header">

<img style="width:70%" src="/public/images/NoPhoto.png" alt="no photo"></img>

</div>

<div class="prisoner-photo-header">


    <h1 class="govuk-heading-l" style="display:inline;">Louise Parker</h1>
    <br>

    <!-- <strong class="govuk-tag govuk-tag" style="margin-right: 5px; margin-top:20px;">
    Recall
  </strong> -->
  <strong class="govuk-tag govuk-tag" style="margin-right: 5px; margin-top:20px;">
  Low complexity
</strong>
  <strong class="govuk-tag govuk-tag govuk-!-margin-bottom-5">
  Determinate
  </strong>
  <br>

      <ul class="govuk-list">
        <!-- <li>
          <a class="govuk-link govuk-link--no-visited-state" href="appointment">Change POM allocation</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="appointment">Allocate co-working POM</a>
        </li> -->
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#">View case on DPS (new NOMIS)</a>
        </li>

      </ul>
    </div>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

<div class="govuk-!-margin-bottom-6"></div>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="/womens/homd_second_round/allocated-case">Allocation and case handover</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="/womens/homd_second_round/allocated-case-details">Case details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="/womens/homd_second_round/allocated-case-contacts">Contacts</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="/womens/homd_second_round/allocated-case-activity">Case activity</a>
        </li>
      </ul>

    </nav>
  </div>
</div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half app-!-display-flex--1">
          <div class="app-card app-card--muted">
            <p class="govuk-heading-m govuk-!-margin-0">POM role: responsible</p>
            <br>
            <p class="govuk-body">Shahina Rahman is the allocated POM.</p>
            <br>
            <p class="govuk-body">A co-working POM has not been allocated.</p>
          </div>

      </div>


      <div class="govuk-grid-column-one-half app-!-display-flex--1">
        <div class="app-card app-card--muted">
          <p class="govuk-heading-m govuk-!-margin-0">Handover: not started</p>
        </br>
          <p class="govuk-body">A Community Offender Manager (COM) will support this case from 06 July 2022.</p>
          <p class="govuk-body">The COM will take responsibility for the case on 06 October 2022.</p>
          <!-- <p class="govuk-body">
            <a href="/contact" class="govuk-link app-link--dark">Contact offender manager</a>
          </p> -->
        </div>
      </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

  <div class="govuk-!-margin-bottom-6"></div>


  <h3 class="govuk-heading-m govuk-!-margin-top-3">Allocation and case handover</h3>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">POM</td>
      <td class="govuk-table__cell govuk-!-width-one-third">Shahina Rahman</td>
      <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Reallocate</a></td>
    </tr>

  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">POM role</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Responsible</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Change</a></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Has case responsibility been overriden?</td>
    <td class="govuk-table__cell govuk-!-width-one-third">No</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <!-- <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">POM name</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Not allocated</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr> -->
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Co-working POM</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Unallocated</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#">Allocate co-working POM</a></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Handover start date</td>
    <td class="govuk-table__cell govuk-!-width-one-third">06 Jul 2022</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#"></a></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Case responsibility transfers to COM</td>
    <td class="govuk-table__cell govuk-!-width-one-third">06 Oct 2022</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#"></a></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Early allocation referral</td>
    <td class="govuk-table__cell govuk-!-width-one-third">No early allocation notes</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  </tbody>
</table>




</div>


</div>
</div>


{% endblock %}
