{% extends "layout-womens-homd.html" %}


{% block pageTitle %}
Change prison
{% endblock %}

{% block bodyStart %}

{% endblock %}


{% block beforeContent %}
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title">HMP Peterborough (Female)</div>

<a href="/womens/pom/change.prison.html" class="moj-organisation-nav__link">Change prison</a>

</div>

{% endblock %}


{% block content %}

<form method="post" action="#">
<div class="govuk-width-container">

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-padding-bottom-4">
        Choose prison
      </h1>

<p><a class="govuk-link govuk-link--no-visited-state" href="/womens/homd_second_round/make-allocations-male.html">HMP Peterborough</a></p>
<p><a class="govuk-link govuk-link--no-visited-state" href="/womens/homd_second_round/make-allocations.html">HMP Peterborough (Female)</a></p>




{% endblock %}
