{% extends "layout-womens-homd.html" %}

{% block pageTitle %}
Change complexity
{% endblock %}

{% block beforeContent %}
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title">HMP Peterborough (Female)</div>

<a href="/womens/homd_second_round/change-prison.html" class="moj-organisation-nav__link">Change prison</a>

</div>
<div class="govuk-!-margin-bottom-3"></div>

<a href="#" class="govuk-back-link govuk-body">Back</a>

{% endblock %}


{% block content %}

<form method="post" action="#">
<div class="govuk-width-container">

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Update complexity of need level
    </h1>
    <p>Complexity of need level can change during a sentence.</p>
    <p>See EQUIP guidance on <a class="govuk-link" href="#">how to manually reassess a person's complexity of need</a>.</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-heading-m govuk-!-padding-top-4">
        Select the new complexity of need level
      </h2>

    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="record-complexity" name="record-complexity" type="radio" value="high">
        <label class="govuk-label govuk-radios__label" for="record-complexity">
          High
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="record-complexity-2" name="record-complexity" type="radio" value="medium">
        <label class="govuk-label govuk-radios__label" for="record-complexity-2">
          Medium
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="record-complexity-3" checked="true"  name="record-complexity" type="radio" value="low">
        <label class="govuk-label govuk-radios__label" for="record-complexity-3">
          Low
        </label>
      </div>

    </div>

    <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m govuk-!-padding-top-6" for="more-detail">
      Provide the reason(s) for this change
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    You must justify why you are changing the complexity of need level – include any key dates and details.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="4" aria-describedby="more-detail-hint"></textarea>
</div>

  </fieldset>
</div>

  <button class="govuk-button" data-module="govuk-button" formaction="/womens/homd_second_round/confirm-complexity-changed" style="margin-right: 15px;">
    Update
  </button>



</div>
</div>
</main>
</div>
</form>



{% endblock %}
