{% extends "layouts/main.html" %}
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l govuk-!-static-margin-top-6">Licences</h1>

<div class="homepage-content" style="margin-top: -50px;">
    <div class="govuk-width-container">
        <ul class="govuk-grid-row card-group">


            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="secure-move">
                    <h2 class="govuk-heading-m card__heading">
                        
                          <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Print or generate a licence</a></h2>
                            <p class="govuk-body card__description">Print licences and post sentence supervision orders or generate standard licences.</p>
                </div>
            </li>

            <li class="govuk-grid-column-one-third card-group__item">
              <div class="card card--clickable" data-test="secure-move">
                  <h2 class="govuk-heading-m card__heading">
                      
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="../afer/case-list"> Assess for HDC 
                        </a></h2>
                          <p class="govuk-body card__description">Check if someone is eligible and suitable for HDC release.
                          </p>
              </div>
          </li>
      


          <li class="govuk-grid-column-one-third card-group__item">
              <div class="card card--clickable" data-test="secure-move">
                  <h2 class="govuk-heading-m card__heading">
                      
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Create and edit a licence before a release date</a></h2>
                          <p class="govuk-body card__description">Create standard determinate licences and post sentence supervision orders for people in custody and send to prison for approval.</p>
              </div>
          </li>

          <li class="govuk-grid-column-one-third card-group__item">
            <div class="card card--clickable" data-test="secure-move">
                <h2 class="govuk-heading-m card__heading">
                    
                      <a class="govuk-link card__link govuk-link--no-visited-state" href="#">View and vary a licence after a release date</a></h2>
                        <p class="govuk-body card__description">Find standard determinate licences and post sentence supervision orders for people on licence and send variation requests to the PDU head for approval.</p>
            </div>
        </li>

          <li class="govuk-grid-column-one-third card-group__item">
            <div class="card card--clickable" data-test="secure-move">
                <h2 class="govuk-heading-m card__heading">
                    
                      <a class="govuk-link card__link govuk-link--no-visited-state" href="../afer/case-list">Home detention curfew
                      </a></h2>
                        <!--<p class="govuk-body card__description">Complete HDC checks and work on licences
                        </p>-->
            </div>
        </li>
  


          <li class="govuk-grid-column-one-third card-group__item">
              <div class="card card--clickable" data-test="secure-move">
                  <h2 class="govuk-heading-m card__heading">
                      
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Approve a licence</a></h2>
                          <p class="govuk-body card__description">Approve standard determinate licences and post sentence supervision orders.</p>
              </div>
          </li>

          <li class="govuk-grid-column-one-third card-group__item">
            <div class="card card--clickable" data-test="secure-move">
                <h2 class="govuk-heading-m card__heading">
                    
                  <a class="govuk-link card__link govuk-link--no-visited-state" href="../afer/case-list">Approve HDC applications</a></h2>
                  <p class="govuk-body card__description">Confirm if someone can be released on HDC and review their licence</p>
                  
            </div>
        </li>
 


        </ul>
    </div>
</div>
{% endblock %}
