{% extends "layout-womens-homd.html" %}

{% block pageTitle %}
Change complexity
{% endblock %}

{% block beforeContent %}
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title">HMP Peterborough (Female)</div>

<a href="/womens/homd_second_round/change-prison.html" class="moj-organisation-nav__link">Change prison</a>

</div>
<div class="govuk-!-margin-bottom-3"></div>

{% endblock %}


{% block content %}

<form method="post" action="#">
<div class="govuk-width-container">

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      New complexity of need level
    </h1>
    <p>You have updated the complexity of need level for Louise Parker to:</p>
    <p class="govuk-body govuk-!-font-size-24 govuk-body govuk-!-font-weight-bold" style="padding-left: 20px">High</p>

    <h2 class="govuk-heading-m">
      Next steps
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>As the complexity of need level has increased from low to high,
the keyworker on this case will be removed.</li>
      <li>You may also need to review the POM for this case and reallocate if
necessary.</li>

    </ul>

    <p><a class="govuk-link" href="#">Return to prisoner page</a></p>




</div>
</div>
</main>
</div>
</form>



{% endblock %}
