{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
Find a staff member – Digital Prison Services 
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l govuk-!-margin-top-6">Find a staff member</h1>

<p class="govuk-hint">Search people who have not been added to the service yet.</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
  

    <div class="moj-search">

      <form action="./find-staff-member-results" method="GET">
    
        <div class="govuk-form-group">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
            Use name, email address or username 
          </label>
    
          <!--<div id="search-hint" class="govuk-hint moj-search__hint ">
            Search by name, email address or username 
          </div>-->
    
          <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
    
        </div>
    
        <button type="submit" class="govuk-button moj-search__button" data-module="govuk-button">
          Search
        </button>
    
      </form>
    </div>

 
</div>
</div>

{% endblock %}
