{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
What type of POM is this person? – Digital Prison Services
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l govuk-!-margin-top-6">What type of POM is this person?</h1>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <div class="govuk-inset-text" style="margin-top: 10px; margin-bottom: 40px;">
      
        <strong>Name:</strong>xxxx</br>
        <strong>Email address:</strong>xxxx</br>
        <strong>Username:</strong>xxxx

    </div>



    <form action="what-is-their-working-pattern" method="POST" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Select one option
          </legend>
          <div class="govuk-radios" data-module="govuk-radios" style="margin-top: 15px;">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="TypePOM" name="TypePOM" type="radio" value="PrisonPOM">
              <label class="govuk-label govuk-radios__label" for="TypePOM">
                Prison POM
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="TypePOM-2" name="TypePOM" type="radio" value="ProbationPOM">
              <label class="govuk-label govuk-radios__label" for="TypePOM-2">
                Probation POM
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>





  </div>
</div>
{% endblock %}
