{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
Review case – Digital Prison Services
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% endblock %}


{% endblock %}


{% block beforeContent %}


<div class="govuk-!-margin-bottom-3"></div>

<a href="/allocations/make-allocations" class="govuk-back-link govuk-body">Back</a>
{% endblock %}


{% block content %}

<form method="post" action="/allocations/step2-select-pom">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    
    <div class="moj-page-header-actions">
  
      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">Review Jack Smith's case</h1></br>
        <span class="govuk-caption-l">Prison number: G4198UW</span>
        <span class="govuk-caption-l">Date of birth: 01 Oct 1985 (36)</span>


<p class="govuk-!-margin-top-2">

        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-7">
          Determinate
          </strong>
      
          <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-7">
            Parole eligible
            </strong>
      
            <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-7">
              Recall
              </strong>
        
    </p>
        
      </div>
    
      <div class="moj-page-header-actions__actions">
    
        
    
     <!--  <button class="govuk-button" data-module="govuk-button">
          Allocate
        </button>--> 
    
  
      </div>
    
    </div>
    
  
  
    <!--<strong class="govuk-tag govuk-tag--red" style="margin-right: 5px;">
    High complexity
  </strong>
  
    <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-7">
    Determinate
    </strong>-->
  
  </div>
  </div>
  
<!--

<div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#">View case on DPS (new NOMIS)</a>
        </li>
      </ul>
    </div>-->


      <!-- <div class="govuk-grid-row"> -->
        <!-- <div class="govuk-grid-column-one-half app-!-display-flex--1">
          <div class="app-card app-card--muted">
            <p class="govuk-heading-m govuk-!-margin-0">POM role: responsible</p>
            <br>
            <p class="govuk-body">A co-working POM has not been allocated.</p>
          </div>

      </div> -->


      <!-- <div class="govuk-grid-column-one-half app-!-display-flex--1">
        <div class="app-card app-card--muted">
          <p class="govuk-heading-m govuk-!-margin-0">COM handover: not started</p>
        </br>
        </div>
      </div> -->

  <!-- </div> -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">At a glance</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Main offence</th>
          <td class="govuk-table__cell">Section 18 - wounding with intent</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Tier</th>
          <td class="govuk-table__cell">B</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Change</a></td>
          
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sentence start date</th>
          <td class="govuk-table__cell">29 May 2015</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Earliest release date</th>
          <td class="govuk-table__cell">Conditional release date: 26 May 2030</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Location</th>
          <td class="govuk-table__cell">E-4-017</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Case responsibility</th>
          <td class="govuk-table__cell">Custody</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Alerts</th>
          <td class="govuk-table__cell"><p>8 active, 11 inactive</p>

    <span class="moj-badge moj-badge--red">Racist</span>
    <span class="moj-badge moj-badge--purple">Risk to LGBT</span>
    <span class="moj-badge moj-badge--red">Arsonist</span>
    <span class="moj-badge moj-badge--green">Risk to females</span>
 
  </td>

      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://digital-dev.prison.service.justice.gov.uk/prisoner/G4227GV/alerts"target="_blank">View alerts</a></td>
    
            
        </tr>

      


      </tbody>
    </table> 
    





    

    <!--<p>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Allocate now
      </button>
    
      <span>or see more information below before allocating.</span>

    </p>-->


    <p>
      <a class="govuk-notification-banner__link" href="/allocations/step2-select-pom">Allocate now</a> or see more information below before allocating.
    </p>


<!-- GRAPH

 <h3 class="govuk-heading-m govuk-!-margin-top-6">Sentence</h3>
  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
          Jack's sentence
        </h3>
  <div class="graph">
        <div>
            <span class="amount" style="width:40%">
                <span>5 of 15 years</span>
            </span>
        </div>
      </div>

  <table class="govuk-table govuk-!-margin-top-6">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>

-->

<h2 class="govuk-heading-m govuk-!-margin-top-8">More information</h2>


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Sentence
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>
      

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Automatic release date</td>
              <td class="govuk-table__cell govuk-!-width-one-third">29 May 2015</td>
              <td class="govuk-table__cell govuk-!-width-one-third">
            </td></tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Parole eligibility date</td>
              <td class="govuk-table__cell govuk-!-width-one-third">21 Feb 2023</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Target parole hearing date</td>
              <td class="govuk-table__cell govuk-!-width-one-third">21 Feb 2023</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Home detention curfew eligibility 
              </td>
              <td class="govuk-table__cell govuk-!-width-one-third">21 Feb 2023</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Tariff expiry date</td>
              <td class="govuk-table__cell govuk-!-width-one-third">26 May 2030</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Post-recall release date
              </td>
              <td class="govuk-table__cell govuk-!-width-one-third">26 May 2030</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Sentence/licence end date</td>
              <td class="govuk-table__cell govuk-!-width-one-third">26 May 2030</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            </tbody>
          </table>
      
      
      </p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Other offences
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>
        
        
        <div class="moj-timeline">
          <div class="moj-timeline__item">
        
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Assaults occasioning actual bodily harm - 00806</h2>
        
            </br><p class="moj-timeline__byline">CJA Community Order (12 Months)</p>
        
            </div>
        
            <p class="moj-timeline__date">
              <time datetime="2019-06-14T14:01:00.000Z"></time>
            </p>
        
            <div class="moj-timeline__description">
              Active
            </div>
        
          </div>
        
          <div class="moj-timeline__item">
        
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Careless driving - 80400</h2>
        
            </br><p class="moj-timeline__byline">ORA Community Order (12 Months)</p>
        
            </div>
        
            <p class="moj-timeline__date">
              <time datetime="2019-06-07T12:32:00.000Z"></time>
            </p>
        
            <div class="moj-timeline__description">Ended on 17 May 2013</div>
        
          </div>
        
          <div class="moj-timeline__item">
        
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Offences against Public Order (Summary) - 12500</h2>
        
            </br><p class="moj-timeline__byline">CJA Community Order (12 Months)</p>
        
            </div>
        
            <p class="moj-timeline__date">
              <time datetime="2019-06-06T09:12:00.000Z"></time>
            </p>
        
            <div class="moj-timeline__description">Ended on 30 June 2010</div>
        
          </div>
        
          
        
        
          </div>
        </div>
        



        <!--
        <p class="govuk-heading-s govuk-!-margin-bottom-0">Assaults occasioning actual bodily harm - 00806</p>
        <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">CJA Community Order (12 Months)</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Active</td>
        </tr>
      </tbody>
    </table>
<p class="govuk-heading-s govuk-!-margin-bottom-0">Careless driving - 80400</p>
        <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ORA Community Order (12 Months)</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Ended on 17 May 2013</td>
        </tr>
      </tbody>
    </table>
    <p class="govuk-heading-s govuk-!-margin-bottom-0">Offences against Public Order (Summary) - 12500	</p>
            <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">CJA Community Order (12 Months)</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">Ended on 30 June 2010</td>
            </tr>
          </tbody>
        </table>
      
      </p>
    </div>-->
  </div>




  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Risks and needs
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>
        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-width-one-third">Category</td>
                <td class="govuk-table__cell govuk-!-width-one-third">Cat C</td>
                <td class="govuk-table__cell govuk-!-width-one-third"></td>
              </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-one-third">Previous tier</td>
            <td class="govuk-table__cell govuk-!-width-one-third">C – changed in Sep 2019</td>
            <td class="govuk-table__cell govuk-!-width-one-third"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-one-third">ROSHA</td>
            <td class="govuk-table__cell govuk-!-width-one-third">???</td>
            <td class="govuk-table__cell govuk-!-width-one-third"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-one-third">MAPPA</td>
            <td class="govuk-table__cell govuk-!-width-one-third">???</td>
            <td class="govuk-table__cell govuk-!-width-one-third"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-one-third">Early allocation</td>
            <td class="govuk-table__cell govuk-!-width-one-third">Eligible – case handover date has been updated</td>
            <td class="govuk-table__cell govuk-!-width-one-third"></td>
          </tr>
          </tbody>
          </table>
        
          <ul class="govuk-list">
            <li>
              <!-- <a class="govuk-link govuk-link--no-visited-state" href="#" target="_blank">View risk information</a> -->
            </li>
          </ul>
        
      
      
      
      </p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Case management
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>
        
        
        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
      

  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Co-working POM</td>
    <td class="govuk-table__cell govuk-!-width-one-third">None allocated</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>

  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Provider country</td>
    <td class="govuk-table__cell govuk-!-width-one-third">England</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link govuk-link--no-visited-state" href="#">Change</a></td>
  </tr>
  


  </tbody>
</table>

</div>
      
      
      </p>
    </div>
  </div>

  <button class="govuk-button" data-module="govuk-button">
    Allocate
  </button>
  
</div>




















<div class="govuk-grid-column-one-third">
 

    <div class="govuk-notification-banner govuk-!-margin-top-9" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Upcoming tasks
        </h2>
      </div>
      <div class="govuk-notification-banner__content">



<table class="govuk-table" style>
  
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Parole custody</br> report due</th>
      <td class="govuk-table__cell">16 Mar 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Last OASys completed</th>
      <td class="govuk-table__cell">02 Feb 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Next OASys due by</th>
      <td class="govuk-table__cell">02 Jun 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Handover due to start</th>
      <td class="govuk-table__cell">18 Nov 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Handover due to finish</th>
      <td class="govuk-table__cell">06 Mar 2023</td>
    </tr>
    
  </tbody>
</table> 






      </div>
    </div>
</div>


<p>
  <a class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-3" href="https://digital-dev.prison.service.justice.gov.uk/prisoner/G4227GV" target="_blank">View all case information</a>
  </p>
  <p>
      <!-- <a class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-3" href="https://digital-dev.prison.service.justice.gov.uk/prisoner/G4227GV/case-notes" target="_blank">View case notes</a> -->
  </p>

</div>
</div>



</div>
</div>
</form>


{% endblock %}
