{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
Choose cases to reallocate – Digital Prison Services
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="moj-page-header-actions govuk-!-margin-top-6">
  
      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">Choose cases to reallocate</h1></br>
        <span class="govuk-caption-l">Reallocating from: probation POM Sarah Bailey</span>
        {% if data.BulkCasesAllocated=="MoreBulkAllocations" %}
        <span class="govuk-caption-l">Reallocating to: probation POM Binit Hindocha</span>
        <span class="govuk-caption-l">Cases remaining: 51</span>
        {% else %}
        <span class="govuk-caption-l">Reallocating to: probation POM Jessica King</span>
        <span class="govuk-caption-l">Cases remaining: 71</span>
        {% endif %}
      </div>
      
    </div>

   
  </div>
</div>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  
    
   


      <table class="govuk-table" data-module="moj-sortable-table">
        <caption class="govuk-table__caption"></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 20px;">Select case</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Case</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Recommended POM type</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">POM role needed</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Location</th>
            <th scope="col" class="govuk-table__header" aria-sort="ascending">Earliest release date</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Tier</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Additional information</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">


          {% for pipnames in data ['pipnames'] %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label" for="selectcase">
                    </label>
                  </div>
                </div>
              </td>
            <td aria-label="POM role" class="govuk-table__cell due-date" data-sort-value="POM role"><a class="govuk-link govuk-link--no-visited-state" href="../prisoner/profile">{{pipnames.case}}</a><br>{{pipnames.number}}
                <span class="date highlight" style="margin-top: 5px;">{{pipnames.mappa}}</span>
                <span class="secondary highlight"></span>
            </td>
            <td class="govuk-table__cell">{{pipnames.recommendation}}</td>
            <td class="govuk-table__cell">{{pipnames.role}}</td>
            <td class="govuk-table__cell">{{pipnames.location}}</td>
            <td class="govuk-table__cell">{{pipnames.date}}</td>
            <td class="govuk-table__cell">{{pipnames.tier}}</td>
            <td class="govuk-table__cell">{{pipnames.additionalinfo}}</td>
          </tr>
          {% endfor %}



        </tbody>
      </table>



      
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox">
            {% if data.BulkCasesAllocated=="MoreBulkAllocations" %}
            <label class="govuk-label govuk-checkboxes__label" for="selectcase" style="margin-left: 10px;"><strong>Select all cases (51)</strong></label>
            {% else %}
            <label class="govuk-label govuk-checkboxes__label" for="selectcase" style="margin-left: 10px;"><strong>Select all cases (71)</strong></label>
            {% endif %}
          </div>
        </div>

      


    {% if data.BulkCasesAllocated=="MoreBulkAllocations" %}
    <form action="./confirm-allocation" method="post">
    {% else %}
    <form action="./override-probationPOM" method="post">
    {% endif %}

      <div class="govuk-button-group" style="margin-top: 40px;">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>

    </form>



  </div>
</div>
{% endblock %}
