{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
Cases reallocated – Digital Prison Services
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}

{% endblock %}


{% endblock %}


{% block beforeContent %}


{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-6">
          <h1 class="govuk-panel__title">
            Cases reallocated
          </h1>
        </div>
        
        
        <h2 class="govuk-heading-m govuk-!-margin-top-6">Reallocation details</h2>
        <p class="govuk-body">
          {% if data.BulkCasesAllocated=="MoreBulkAllocations" %}
          You have reallocated 51 cases from probation POM Sarah Bailey to probation POM Binit Hindocha. 
          {% else %}
          You have reallocated 20 cases from probation POM Sarah Bailey to probation POM Jessica King. 
          {% endif %}
        </p>


        <h2 class="govuk-heading-m">Update sent</h2>
        <p class="govuk-body">We have emailed
          {% if data.BulkCasesAllocated=="MoreBulkAllocations" %}
          Binit Hindocha
          {% else %}
          Jessica King
          {% endif %}
          about the new allocations.</p>
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              You can copy information about this allocation to paste into an email to someone else.
            </span>
          </summary>
          <div class="govuk-details__text">
           
            {% if data.BulkCasesAllocated=="MoreBulkAllocations" %}

            {% set counter = 0 %}
            {% for pipnames in data['pipnames'] %}
              {% if counter < 51 %}
                <ul class="govuk-list govuk-list--bullet">
                  <li style="margin-bottom: -10px;">{{ pipnames.case }} ({{ pipnames.number }})</li>
                </ul>
                {% set counter = counter + 1 %}
              {% else %}
                
              {% endif %}
            {% endfor %}


            {% else %}

            {% set counter = 0 %}
            {% for pipnames in data['pipnames'] %}
              {% if counter < 20 %}
                <ul class="govuk-list govuk-list--bullet">
                  <li style="margin-bottom: -10px;">{{ pipnames.case }} ({{ pipnames.number }})</li>
                </ul>
                {% set counter = counter + 1 %}
              {% else %}
                
              {% endif %}
            {% endfor %}

            {% endif %}

            <p class="govuk-body" style="margin-top: 40px; margin-bottom: 40px;">Additional notes: Since Sarah left our team please take over these cases. We can discuss the details next week.</p>

            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Copy this information
            </button>

            

          </div>
        </details>
        
      
        {% if data.BulkCasesAllocated=="MoreBulkAllocations" %}
        <h2 class="govuk-heading-m">What next</h2>
        <p class="govuk-body">Sarah Bailey has no more cases and has been removed from this service.</p>

        {% else %}
        <h2 class="govuk-heading-m">What next</h2>
        <p class="govuk-body">Sarah Bailey has 51 cases left to reallocate.</p>
        {% endif %}

        {% if data.BulkCasesAllocated=="MoreBulkAllocations" %}
        <form action="../staff/staff" method="post" novalidate>
        {% else %}
        <form action="/confirmationbulk" method="post" novalidate>
        {% endif %}

          <div class="govuk-button-group" style="margin-top: 25px;">
            {% if data.BulkCasesAllocated=="MoreBulkAllocations" %}
            {% else %}
            <button type="submit" class="govuk-button" data-module="govuk-button" name="BulkCasesAllocated" value="MoreBulkAllocations">
              Reallocate cases now
            </button>
            {% endif %}
            {% if data.BulkCasesAllocated=="MoreBulkAllocations" %}
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="BulkCasesAllocated" value="Done">
              Back to staff list
            </button>
            {% else %}
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="BulkCasesAllocated" value="CasesLeftLater">
              Back to staff list
            </button>
            {% endif %}
          </div>

        </form>



       
      </div>
    </div>
  </main>
</div>
{% endblock %}
