{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
Confirm allocation
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}

{% endblock %}


{% endblock %}


{% block beforeContent %}
<div class="govuk-!-margin-bottom-3"></div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}


{% block content %}

<form method="post" action="./confirmation">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    
    <div class="moj-page-header-actions">
  
      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">REWRITE Check allocation details for Jack Smith</h1></br>
        <span class="govuk-caption-l">Prison number: G4198UW</span>
        <!--<span class="govuk-caption-l">CRN: A165856</span>-->
        <span class="govuk-caption-l">Date of birth: 01 Oct 1985 (36)</span>
      </div>
    </div>
  
    <!--<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"></hr>-->

  </div>
  </div>

      
  
      





<div class="govuk-width-container">

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<p>We will send the information below to <strong>annie.bradley@justice.gov.uk</strong></p>



<div class="govuk-form-group">
  <!-- <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="allocation-note">
      Add a note to the email
    </label>
  </h2>
  <div id="allocation-note-hint" class="govuk-hint">
    For example you can tell the POM about any special requirements.
  </div> -->

  


  <div class="govuk-inset-text" style="margin-top:40px ;">
    
    <ul class="govuk-list">
      <li>Name: Jack Smith</li>
      <li>Prison number: G4198UW</li>
      <li>POM: Annie Bradley</li>
      <li>POM role: Supporting</li>

      <p>
        <li>MAPPA: Cat2/Level2</li>
        <li style="margin-top: 15px;">High RoSH:</li>
        <ul class="govuk-list govuk-list--bullet">
          <li>Children – low</li>
          <li>Public – high</li>
          <li>Known adult – low</li>
          <li>Staff – medium</li>
          <li>Prisoners – low</li>
        </ul>  
      
        <li>Active alerts: Racist, Risk to LGBT, TACT</li>
      </p>


      <li>Last OASys completed: Layer 1 – 01 Dec 2021</li>
      <li>Handover start due: 01 Nov 2021</li>
      <li>Handover completion due: 09 Jan 2022</li>

    </ul>

    <ul class="govuk-list">
      <li>LDU: Cornwall and Isles of Scilly</li>
      <li>LDU email: cornwallldu@justice.gov.uk</li>
      <li>COM: Antonia Farro</li>
      <li>COM email: antonia.farro@justice.gov.uk</li>

      </ul>

    
    

    <h2 class="govuk-heading-s">Add a note to the email</h2>

    <textarea class="govuk-textarea" id="allocation-note" name="allocation-note" rows="3" aria-describedby="allocation-note-hint"></textarea>
    

    
  

  </div>




<!--

  <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]">
    <div class="govuk-cookie-banner__message govuk-width-container">
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          
  
          <div class="govuk-cookie-banner__content" style="margin-left: 20px; margin-top: 20px;">
            
            <ul class="govuk-list">
              <li>Name: Jack Smith</li>
              <li>Prison number: G4198UW</li>
              <li>POM: Stephen Dicks</li>
              <li>POM role: Responsible</li>
            </br>
              <li>Last OASys completed: 01 Dec 2021</li>
              <li>Handover due to start: 01 Nov 2021</li>
              <li> Handover due to finish: 09 Jan 2022</li>
            
            </ul>
            

            <h2 class="govuk-heading-m">Add a note</h2>

            <textarea class="govuk-textarea" id="allocation-note" name="allocation-note" rows="3" aria-describedby="allocation-note-hint"></textarea>
            

            <button class="govuk-button govuk-button--secondary govuk-!-margin-top-2" data-module="govuk-button">
              Copy this
            </button>
            
            
            
          </div>
        </div>
      </div>
  
      
    </div>
  </div>



-->


  
</div>



<button class="govuk-button govuk-!-margin-top-2" data-module="govuk-button" style="margin-right: 15px;">
  Complete allocation
</button>



</form>






</div>
</div>
</main>
</div>
</form>



{% endblock %}
