{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
Confirm allocation
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}

{% endblock %}


{% endblock %}


{% block beforeContent %}


{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application complete
          </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>
        </div>
        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          We’ve sent your application to Hackney Electoral Register Office.
        </p>
        <p class="govuk-body">
          They will contact you either to confirm your registration, or to ask for more information.
        </p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with nationality
            </span>
          </summary>
          <div class="govuk-details__text">
            We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
          </div>
        </details>



        <form action="/confirmationbulk" method="post" novalidate>

          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" name="BulkCasesAllocated" value="MoreBulkAllocations">
              Bulk allocate?
            </button>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="BulkCasesAllocated" value="StaffPage">
              staff page
            </button>
          </div>

        </form>



       
      </div>
    </div>
  </main>
</div>
{% endblock %}
