{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
Reallocate this POM's cases – Digital Prison Services
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    
    <h1 class="govuk-heading-l govuk-!-margin-top-6">
      {% if data['pom'] == 'yasmeen' %}
      Reallocate 10 cases
      {% else %}
      Reallocate 71 cases
      {% endif %}
    </h1>

    <p class="govuk-body">As
      {% if data['pom'] == 'yasmeen' %}
      Yasmeen Essa
      {% else %}
      Sarah Bailey
      {% endif %}
       has left or will be absent for a while, you must reallocate their cases.</br>
      You can do this now or later.</p>

              <h3 class="govuk-heading-m govuk-!-margin-top-8">Allocations summary for
                {% if data['pom'] == 'yasmeen' %}
                Yasmeen Essa
                {% else %}
                Sarah Bailey
                {% endif %}
              </h3>
        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last case allocated
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['pom'] == 'yasmeen' %}
              23 Feb 2025
              {% else %}
              10 Nov 2025
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Allocations in last 7 days
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['pom'] == 'yasmeen' %}
              0
              {% else %}
              2
              {% endif %}
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Releases in next 4 weeks
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['pom'] == 'yasmeen' %}
              0
              {% else %}
              3
              {% endif %}
            </dd>
          </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Responsible cases
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['pom'] == 'yasmeen' %}
                      10
                      {% else %}
                      33
                      {% endif %}
                    </dd>
                  </div>


                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Supporting cases
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['pom'] == 'yasmeen' %}
                      0
                      {% else %}
                      38
                      {% endif %}
                    </dd>
  
                  </div>



                </dl>
      
  
    


    {% if data['pom'] == 'yasmeen' %}
    
    <div class="govuk-button-group" style="margin-top: 30px;">

    <button type="submit" class="govuk-button" data-module="govuk-button" name="BulkAllocateCases" value="nowYasmeen">
      Continue
    </button>

    <form action="../staff/staff#inactive-staff" method="post">

    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="BulkAllocateCases" value="laterYasmeen" style="margin-top: -12px;">
      Reallocate cases later 
    </button>

    </div>

    </form>
    

    {% elseif data['pom'] == 'sarah' %}

    <form action="/reallocate" method="post">
      
      <div class="govuk-button-group" style="margin-top: 30px;">

        <button type="submit" class="govuk-button" data-module="govuk-button" name="BulkAllocateCases" value="now">
          Continue
        </button>

        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="BulkAllocateCases" value="later">
          Reallocate cases later 
        </button>

      </div>
      
    </form>
    
    {% endif %}

    

  </div>
</div>
{% endblock %}
