{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
Select this POM’s level – Digital Prison Services
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  
    
    <h1 class="govuk-heading-xl govuk-!-margin-top-6">
      We tell them they must reallocate someone's cases but they can choose to do it later
    </h1>



    <form action="./select-pom" method="post">


      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a class="govuk-link" href="#">Cancel</a>
      </div>

    </form>



  </div>
</div>
{% endblock %}
