{% extends "includes/layouts/main.html" %}


{% block pageTitle %}
Allocate a POM – Digital Prison Services
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}


{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <div class="moj-page-header-actions__title govuk-!-margin-top-6">
        <h1 class="govuk-heading-l">Heading</h1>
        <span class="govuk-caption-l">x amount of cases</span>
      </div>

      <p class="govuk-!-margin-top-6">Content</p>

<br>

    </div>
  </div>

  
  <form method="post" action="./select-pom-compare">

  
  
  
  <!-- Table here -->

  <table class="govuk-table" data-module="moj-sortable-table">

    <thead class="govuk-table__head">
      
      <th class="govuk-table__header" scope="col" aria-sort="none" style="width: 200px;">POM</th>
      <th class="govuk-table__header" scope="col" aria-sort="none" style="width: 200px;">POM type</th>
      <!--<th class="govuk-table__header" scope="col"aria-sort="ascending">Role</th>-->
      <th class="govuk-table__header" scope="col"aria-sort="none" style="width: 140px;">Working pattern</th>
      <!--<th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Tier A</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Tier B</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Tier C</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Tier D</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Tier N/A</th>
      <th class="govuk-table__header" scope="col" aria-sort="none">Parole cases</th>
      <th class="govuk-table__header" scope="col" aria-sort="none">Handover cases</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">High complexity cases</th>-->
      <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Allocations in  last 7 days</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Supporting cases</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Responsible cases</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Co-working cases</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Total cases</th>
      <th class="govuk-table__header">Select POMs </br>to compare workloads</th>

    <tbody class="govuk-table__body">

      <tr class="govuk-table__row recommended_pom_row_1">
        
        <td aria-label="POM name" class="govuk-table__cell" data-sort-value="Hill" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="./bulk-cases">Sophie Hill</a></td>

          <td aria-label="POM role" class="govuk-table__cell due-date" data-sort-value="POM role">Prison POM</td>

          <!--<td aria-label="POM name" class="govuk-table__cell">Prison POM - <strong>recommended</strong></td>-->
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
        <td aria-label="case mix" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5">5</td>
        <!-- <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">0</td> -->
          <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric"data-sort-value="6">6</td>
        <td aria-label="Total prison" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="10">10</td>
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="19">19</td>
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="35">35</td>
        

        <td aria-label="select" class="govuk-table__cell">    
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              </label>
            </div>
          </div>
        </td>

      </tr>



      <tr class="govuk-table__row recommended_pom_row_2">
        
        <td aria-label="POM name" class="govuk-table__cell"  data-sort-value="Barker" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="./bulk-cases">Sylvie Barker</a></td>

        <td aria-label="POM role" class="govuk-table__cell due-date" data-sort-value="POM role">Prison POM</td>

        <!-- <td aria-label="POM name" class="govuk-table__cell">Probation POM</td>-->
         <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
         <!--<td aria-label="tier_a" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="24">24</td>
         <td aria-label="tier_b" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12">12</td>
         <td aria-label="tier_c" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
         <td aria-label="tier_d" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
         <td aria-label="tier_other" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
          
           <div class="workforce-progress-container">
           <div class="workforce-progress-bar tier_a" style="width:60%"><p style="govuk-colour("white")">24<p></div>
           <div class="workforce-progress-bar tier_b" style="width:30%">12</div>
           <div class="workforce-progress-bar tier_c" style="width:10%"><p style="govuk-colour("white")">4<p></div>
           <div class="workforce-progress-bar tier_d" style="width:0%"></div>
           <div class="workforce-progress-bar tier_other" style="width:0%"></div>
           </div>
       
         <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">8</td>
         <td aria-label="parole cases" class="govuk-table__cell govuk-table__cell--numeric">1</td>
         <td aria-label="handover casese" class="govuk-table__cell govuk-table__cell--numeric">0</td>--> 
         <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="10">10</td>
         <td aria-label="supporting cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5">5</td>
         <td aria-label="responsible cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
         <td aria-label="coworking cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="18">18</td>
         <td aria-label="Total" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="26">26</td>
         

         <td aria-label="select" class="govuk-table__cell">    
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              </label>
            </div>
          </div>
        </td>

      </tr>


   
       <tr class="govuk-table__row recommended_pom_row_3">
        
        <td aria-label="POM name" class="govuk-table__cell" data-sort-value="Bradely" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Annie Bradley</a></td>

        <td aria-label="POM role" class="govuk-table__cell due-date" data-sort-value="POM role">Prison POM</td>

        <!--<td aria-label="POM name" class="govuk-table__cell">Prison POM - <strong>recommended</strong></td>-->
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
        <td aria-label="case mix" class="govuk-table__cell govuk-table__cell--numeric"data-sort-value="3">3</td>
        <!-- <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">0</td> -->
          <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        <td aria-label="Total prison" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="17">17</td>
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="9">9</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="27">27</td>
       
        <td aria-label="select" class="govuk-table__cell">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              </label>
            </div>
          </div>
        </td>

      </tr>



      <tr class="govuk-table__row recommended_pom_row_4">
        
        <td aria-label="POM name" class="govuk-table__cell" data-sort-value="Colum" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Geoff Colum</a></td>

        <td aria-label="POM role" class="govuk-table__cell due-date" data-sort-value="POM role">Prison POM</td>

       <!-- <td aria-label="POM name" class="govuk-table__cell">Prison POM - <strong>recommended</strong></td>-->
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
        <td aria-label="case mix" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
        <!-- <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">0</td> -->
          <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5">5</td>
        <td aria-label="Total prison" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11">11</td>
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5">5</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="21">21</td>
        

        <td aria-label="select" class="govuk-table__cell">     
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              </label>
            </div>
          </div>
        </td>

      </tr>



      <tr class="govuk-table__row recommended_pom_row_5">
        
        <td aria-label="POM name" class="govuk-table__cell" data-sort-value="Hanson" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Matthew Hanson</a></td>

        <td aria-label="POM role" class="govuk-table__cell due-date" data-sort-value="POM role">Prison POM</td>

        <!--<td aria-label="POM name" class="govuk-table__cell">Prison POM - <strong>recommended</strong></td>-->
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
        <td aria-label="case mix" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
        <!-- <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">1</td> -->
          <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        <td aria-label="Total prison" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">8</td>
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="10">10</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="19">19</td>
        

        <td aria-label="select" class="govuk-table__cell">     
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              </label>
            </div>
          </div>
        </td>

      </tr>



      <tr class="govuk-table__row recommended_pom_row_6">
       
        <td aria-label="POM name" class="govuk-table__cell" data-sort-value="James" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Helen James</a></td>

        <td aria-label="POM role" class="govuk-table__cell due-date" data-sort-value="POM role">Prison POM</td>

        <!--<td aria-label="POM name" class="govuk-table__cell">Prison POM - <strong>recommended</strong></td>-->
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
        <td aria-label="case mix" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="7">7</td>
        <!-- <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">0</td> -->
          <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
        <td aria-label="Total prison" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="17">17</td>
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="9">9</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="29">29</td>
        

        <td aria-label="select" class="govuk-table__cell">       
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              </label>
            </div>
          </div>
        </td>

      </tr>



      <tr class="govuk-table__row recommended_pom_row_7">
        
        <td aria-label="POM name" class="govuk-table__cell" data-sort-value="Roantree" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Jim Roantree</a></td>

        <td aria-label="POM role" class="govuk-table__cell due-date" data-sort-value="POM role">Prison POM</td>

        <!--<td aria-label="POM name" class="govuk-table__cell">Prison POM - <strong>recommended</strong></td>-->
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
        <td aria-label="case mix" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
        <!-- <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">0</td> -->
          <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
        <td aria-label="Total prison" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="16">16</td>
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="24">24</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="44">44</td>
        

        <td aria-label="select" class="govuk-table__cell">       
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation"> 
              </label>
            </div>
          </div>
        </td>

      </tr>



      <tr class="govuk-table__row recommended_pom_row_8">
        
        <td aria-label="POM name" class="govuk-table__cell" data-sort-value="Santos" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Carlos Santos</a></td>

        <td aria-label="POM role" class="govuk-table__cell due-date" data-sort-value="POM role">Prison POM</td>

        <!--<td aria-label="POM name" class="govuk-table__cell">Prison POM - <strong>recommended</strong></td>-->
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Part time – 4 days per week">Part time – 4 days per week</td>
        <td aria-label="case mix" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
        <!-- <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">0</td> -->
          <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
        <td aria-label="Total prison" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="14">14</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="20">20</td>
        

        <td aria-label="select" class="govuk-table__cell">    
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              </label>
            </div>
          </div>
        </td>

      </tr>



      <tr class="govuk-table__row recommended_pom_row_9">
        
        <td aria-label="POM name" class="govuk-table__cell"  data-sort-value="Upshaw" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Eve Upshaw</a></td>

        <td aria-label="POM role" class="govuk-table__cell due-date" data-sort-value="POM role">Prison POM</td>

        <!--<td aria-label="POM name" class="govuk-table__cell">Probation POM</td>-->
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
        <!--<td aria-label="tier_a" class="govuk-table__cell" data-sort-value="12">12
          <div class="workforce-progress-container">
          <div class="workforce-progress-bar tier_a" style="width:45%"><p style="govuk-colour("white")">12<p></div>
          <div class="workforce-progress-bar tier_b" style="width:45%">12</div>
          <div class="workforce-progress-bar tier_c" style="width:10%"><p style="govuk-colour("white")">3<p></div>
          <div class="workforce-progress-bar tier_d" style="width:0%"></div>
          <div class="workforce-progress-bar tier_other" style="width:0%"></div>
          </div>

      </td>
      <td aria-label="tier_b" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12">12</td>
      <td aria-label="tier_c" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
      <td aria-label="tier_d" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
      <td aria-label="tier_other" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>

        <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">15</td>
        <td aria-label="parole cases" class="govuk-table__cell govuk-table__cell--numeric">3</td>
        <td aria-label="handover casese" class="govuk-table__cell govuk-table__cell--numeric">5</td>-->  
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
        <td aria-label="supporting cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="17">17</td>
        <td aria-label="responsible cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11">11</td>
        <td aria-label="coworking cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5">5</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="33">33</td>
          

          <td aria-label="select" class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation"> 
                </label>
              </div>
            </div>
          </td>

      </tr>
  


      <tr class="govuk-table__row recommended_pom_row_10">
        
        <td aria-label="POM name" class="govuk-table__cell"  data-sort-value="Dicks" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Stephen Dicks</a></td>
         <td aria-label="POM name" class="govuk-table__cell">Probation POM</td>
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
        <!--<td aria-label="tier_a" class="govuk-table__cell " data-sort-value="10">10
          
          <div class="workforce-progress-container">
          <div class="workforce-progress-bar tier_a" style="width:30%"><p style="govuk-colour("white")">10<p></div>
          <div class="workforce-progress-bar tier_b" style="width:50%">15</div>
          <div class="workforce-progress-bar tier_c" style="width:10%"><p style="govuk-colour("white")">4<p></div>
          <div class="workforce-progress-bar tier_d" style="width:5%">1</div>
          <div class="workforce-progress-bar tier_other" style="width:5%">1</div>
          </div>
      
      </td>

      <td aria-label="tier_b" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="15">15</td>
      <td aria-label="tier_c" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
      <td aria-label="tier_d" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
      <td aria-label="tier_other" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>

      <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">12</td>
      <td aria-label="parole cases" class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td aria-label="handover casese" class="govuk-table__cell govuk-table__cell--numeric">0</td>--> 
      <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="6">6</td>
      <td aria-label="supporting cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="19">19</td>
      <td aria-label="responsible cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="20">20</td>
      <td aria-label="coworking cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
      <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="42">42</td>
      
      <td aria-label="select" class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            </label>
          </div>
        </div>
      </td>

      </tr>
  


      <tr class="govuk-table__row recommended_pom_row_11">
        
        <td aria-label="POM name" class="govuk-table__cell"  data-sort-value="Hindocha" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Binit Hindocha</a></td>
        <td aria-label="POM name" class="govuk-table__cell">Probation POM</td>
        
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
        <!--<td aria-label="tier_a" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="18">18</td>
          
      <td aria-label="tier_b" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11">11</td>
      <td aria-label="tier_c" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5">5</td>
      <td aria-label="tier_d" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
      <td aria-label="tier_other" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
          
          <div class="workforce-progress-container">
          <div class="workforce-progress-bar tier_a" style="width:50%"><p style="govuk-colour("white")">18<p></div>
          <div class="workforce-progress-bar tier_b" style="width:30%">11</div>
          <div class="workforce-progress-bar tier_c" style="width:15%"><p style="govuk-colour("white")">5<p></div>
          <div class="workforce-progress-bar tier_d" style="width:5%">1</div>
          <div class="workforce-progress-bar tier_other" style="width:0%"></div>
          </div>

        <td aria-label="Total" class="govuk-table__cell govuk-table__cell--numeric">15</td>
        <td aria-label="parole cases" class="govuk-table__cell govuk-table__cell--numeric">4</td>
        <td aria-label="handover casese" class="govuk-table__cell govuk-table__cell--numeric">6</td>-->   
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="10">10</td>
        <td aria-label="supporting cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="7">7</td>
        <td aria-label="responsible cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="16">16</td>
        <td aria-label="coworking cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5">5</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="28">28</td>
        

        <td aria-label="select" class="govuk-table__cell">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              </label>
            </div>
          </div>
        </td>

      </tr>
  


      <tr class="govuk-table__row recommended_pom_row_12">

        <td aria-label="POM name" class="govuk-table__cell"  data-sort-value="King" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Jessica King</a></td>
        <td aria-label="POM name" class="govuk-table__cell">Probation POM</td>
        
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
        <!--<td aria-label="tier_a" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="18">18</td>
          
      <td aria-label="tier_b" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11">11</td>
      <td aria-label="tier_c" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5">5</td>
      <td aria-label="tier_d" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
      <td aria-label="tier_other" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
          
          <div class="workforce-progress-container">
          <div class="workforce-progress-bar tier_a" style="width:50%"><p style="govuk-colour("white")">18<p></div>
          <div class="workforce-progress-bar tier_b" style="width:30%">11</div>
          <div class="workforce-progress-bar tier_c" style="width:15%"><p style="govuk-colour("white")">5<p></div>
          <div class="workforce-progress-bar tier_d" style="width:5%">1</div>
          <div class="workforce-progress-bar tier_other" style="width:0%"></div>
          </div>

        <td aria-label="Total" class="govuk-table__cell govuk-table__cell--numeric">15</td>
        <td aria-label="parole cases" class="govuk-table__cell govuk-table__cell--numeric">4</td>
        <td aria-label="handover casese" class="govuk-table__cell govuk-table__cell--numeric">6</td>-->   
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="7">7</td>
        <td aria-label="supporting cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="7">7</td>
        <td aria-label="responsible cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="10">10</td>
        <td aria-label="coworking cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="16">16</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="33">33</td>
        

        <td aria-label="select" class="govuk-table__cell">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              </label>
            </div>
          </div>
        </td>

      </tr>
  


      <tr class="govuk-table__row recommended_pom_row_13">
      
        <td aria-label="POM name" class="govuk-table__cell"  data-sort-value="McCann" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Katy McCann</a></td>
       <td aria-label="POM name" class="govuk-table__cell">Probation POM</td>
        
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
        <!--<td aria-label="tier_a" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="15">15</td>
        <td aria-label="tier_b" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="23">23</td>
        <td aria-label="tier_c" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td aria-label="tier_d" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td aria-label="tier_other" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
          
          <div class="workforce-progress-container">
          <div class="workforce-progress-bar tier_a" style="width:40%"><p style="govuk-colour("white")">15<p></div>
          <div class="workforce-progress-bar tier_b" style="width:60%">23</div>
          <div class="workforce-progress-bar tier_c" style="width:0%"></div>
          <div class="workforce-progress-bar tier_d" style="width:0%"></div>
          <div class="workforce-progress-bar tier_other" style="width:0%"></div>
          </div>
      
        <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">5</td>
        <td aria-label="parole cases" class="govuk-table__cell govuk-table__cell--numeric">0</td>
        <td aria-label="handover casese" class="govuk-table__cell govuk-table__cell--numeric">0</td>--> 
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
        <td aria-label="supporting cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="7">7</td>
        <td aria-label="responsible cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="27">27</td>
        <td aria-label="coworking cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="35">35</td>
        

        <td aria-label="select" class="govuk-table__cell">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              </label>
            </div>
          </div>
        </td>

      </tr>
  


      <tr class="govuk-table__row recommended_pom_row_14">
        
        <td aria-label="POM name" class="govuk-table__cell"  data-sort-value="Rahman" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Shahina Rahman</a></td>
        <td aria-label="POM name" class="govuk-table__cell">Probation POM</td>
        
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
        <!--<td aria-label="tier_a" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="24">24</td>
        <td aria-label="tier_b" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12">12</td>
        <td aria-label="tier_c" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
        <td aria-label="tier_d" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td aria-label="tier_other" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
          
          <div class="workforce-progress-container">
          <div class="workforce-progress-bar tier_a" style="width:60%"><p style="govuk-colour("white")">24<p></div>
          <div class="workforce-progress-bar tier_b" style="width:30%">12</div>
          <div class="workforce-progress-bar tier_c" style="width:10%"><p style="govuk-colour("white")">4<p></div>
          <div class="workforce-progress-bar tier_d" style="width:0%"></div>
          <div class="workforce-progress-bar tier_other" style="width:0%"></div>
          </div>
     
        <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">8</td>
        <td aria-label="parole cases" class="govuk-table__cell govuk-table__cell--numeric">1</td>
        <td aria-label="handover casese" class="govuk-table__cell govuk-table__cell--numeric">0</td>--> 
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">8</td>
        <td aria-label="supporting cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5">5</td>
        <td aria-label="responsible cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="13">13</td>
        <td aria-label="coworking cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="9">9</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="27">27</td>
        

        <td aria-label="select" class="govuk-table__cell">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              </label>
            </div>
          </div>
        </td>

      </tr>
  


      <tr class="govuk-table__row recommended_pom_row_15">
       
        <td aria-label="POM name" class="govuk-table__cell"  data-sort-value="Ricketts" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Andrien Ricketts</a></td>
        <td aria-label="POM name" class="govuk-table__cell">Probation POM</td>

        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Part time – 4 days per week">Part time – 4 days per week</td>
        <!--<td aria-label="tier_a" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="23">23</td>
        <td aria-label="tier_b" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11">11</td>
        <td aria-label="tier_c" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
        <td aria-label="tier_d" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td aria-label="tier_other" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
          
          <div class="workforce-progress-container">
          <div class="workforce-progress-bar tier_a" style="width:55%"><p style="govuk-colour("white")">23<p></div>
          <div class="workforce-progress-bar tier_b" style="width:35%">11</div>
          <div class="workforce-progress-bar tier_c" style="width:10%"><p style="govuk-colour("white")">4<p></div>
          <div class="workforce-progress-bar tier_d" style="width:0%"></div>
          <div class="workforce-progress-bar tier_other" style="width:0%"></div>
          </div>

      <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">9</td>
      <td aria-label="parole cases" class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td aria-label="handover casese" class="govuk-table__cell govuk-table__cell--numeric">2</td>--> 
      <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
      <td aria-label="supporting cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="19">19</td>
      <td aria-label="responsible cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="26">26</td>
      <td aria-label="coworking cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12">12</td>
      <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="57">57</td>
      

      <td aria-label="select" class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            </label>
          </div>
        </div>
      </td>

      </tr>
  


      <tr class="govuk-table__row recommended_pom_row_16">

        <td aria-label="POM name" class="govuk-table__cell"  data-sort-value="Treend" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Ollie Treend</a></td>
      <td aria-label="POM name" class="govuk-table__cell">Probation POM</td>

        <td aria-label="Working pattern" class="govuk-table__cell" style="width: 120px;">Part time – 4 days per week</td>
        <!--<td aria-label="tier_a" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
        <td aria-label="tier_b" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="24">24</td>
        <td aria-label="tier_c" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
        <td aria-label="tier_d" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        <td aria-label="tier_other" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        
          <div class="workforce-progress-container">
          <div class="workforce-progress-bar tier_a" style="width:10%"><p style="govuk-colour("white")">3<p></div>
          <div class="workforce-progress-bar tier_b" style="width:80%">24</div>
          <div class="workforce-progress-bar tier_c" style="width:10%"><p style="govuk-colour("white")">3<p></div>
          <div class="workforce-progress-bar tier_d" style="width:0%"></div>
          <div class="workforce-progress-bar tier_other" style="width:0%"></div>
          </div>
      
        <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">8</td>
        <td aria-label="parole cases" class="govuk-table__cell govuk-table__cell--numeric">0</td>
        <td aria-label="handover casese" class="govuk-table__cell govuk-table__cell--numeric">0</td>--> 
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
        <td aria-label="supporting cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="17">17</td>
        <td aria-label="responsible cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="42">42</td>
        <td aria-label="coworking cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">8</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="67">67</td>
        

        <td aria-label="select" class="govuk-table__cell">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              </label>
            </div>
          </div>
        </td>

      </tr>
  


      <tr class="govuk-table__row recommended_pom_row_17">
        
        <td aria-label="POM name" class="govuk-table__cell"  data-sort-value="Valentine" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Laura Valentine</a></td>
        <td aria-label="POM name" class="govuk-table__cell">Probation POM</td>
        
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Full time">Full time</td>
        <!--<td aria-label="tier_a" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="15">15</td>
        <td aria-label="tier_b" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="23">23</td>
        <td aria-label="tier_c" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td aria-label="tier_d" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td aria-label="tier_other" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
          
          <div class="workforce-progress-container">
          <div class="workforce-progress-bar tier_a" style="width:40%"><p style="govuk-colour("white")">15<p></div>
          <div class="workforce-progress-bar tier_b" style="width:60%">23</div>
          <div class="workforce-progress-bar tier_c" style="width:0%"></div>
          <div class="workforce-progress-bar tier_d" style="width:0%"></div>
          <div class="workforce-progress-bar tier_other" style="width:0%"></div>
          </div>
      
        <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">5</td>
        <td aria-label="parole cases" class="govuk-table__cell govuk-table__cell--numeric">0</td>
        <td aria-label="handover casese" class="govuk-table__cell govuk-table__cell--numeric">0</td>--> 
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
        <td aria-label="supporting cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="7">7</td>
        <td aria-label="responsible cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="27">27</td>
        <td aria-label="coworking cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="35">35</td>
        

        <td aria-label="select" class="govuk-table__cell">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation"> 
              </label>
            </div>
          </div>
        </td>

      </tr>
  


      <tr class="govuk-table__row recommended_pom_row_17">
       
        <td aria-label="POM name" class="govuk-table__cell"  data-sort-value="Wilson" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Michael Wilson</a></td>
       <td aria-label="POM name" class="govuk-table__cell">Probation POM</td>

        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Part time – 4 days per week">Part time – 4 days per week</td>
        <!--<td aria-label="tier_a" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="23">23</td>
        <td aria-label="tier_b" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11">11</td>
        <td aria-label="tier_c" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
        <td aria-label="tier_d" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        <td aria-label="tier_other" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
          
          <div class="workforce-progress-container">
          <div class="workforce-progress-bar tier_a" style="width:55%"><p style="govuk-colour("white")">23<p></div>
          <div class="workforce-progress-bar tier_b" style="width:35%">11</div>
          <div class="workforce-progress-bar tier_c" style="width:10%"><p style="govuk-colour("white")">4<p></div>
          <div class="workforce-progress-bar tier_d" style="width:0%"></div>
          <div class="workforce-progress-bar tier_other" style="width:0%"></div>
          </div>
      
      <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">9</td>
      <td aria-label="parole cases" class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td aria-label="handover casese" class="govuk-table__cell govuk-table__cell--numeric">2</td>--> 
      <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
      <td aria-label="supporting cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">8</td>
      <td aria-label="responsible cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12">12</td>
      <td aria-label="coworking cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12">12</td>
      <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="32">32</td>
      

      <td aria-label="select" class="govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            </label>
          </div>
        </div>
      </td>

      </tr>
  


      <tr class="govuk-table__row recommended_pom_row_18">

        <td aria-label="POM name" class="govuk-table__cell"  data-sort-value="Yates" style="width: 250px;"><a class="govuk-link govuk-link--no-visited-state" href="#">Penny Yates</a></td>
        <td aria-label="POM name" class="govuk-table__cell">Probation POM</td>

        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="Part time – 4 days per week">Part time – 4 days per week</td>
        <!--<td aria-label="tier_a" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
        <td aria-label="tier_b" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="24">24</td>
        <td aria-label="tier_c" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
        <td aria-label="tier_d" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        <td aria-label="tier_other" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0">0</td>
        
          <div class="workforce-progress-container">
          <div class="workforce-progress-bar tier_a" style="width:10%"><p style="govuk-colour("white")">3<p></div>
          <div class="workforce-progress-bar tier_b" style="width:80%">24</div>
          <div class="workforce-progress-bar tier_c" style="width:10%"><p style="govuk-colour("white")">3<p></div>
          <div class="workforce-progress-bar tier_d" style="width:0%"></div>
          <div class="workforce-progress-bar tier_other" style="width:0%"></div>
          </div>
      
        <td aria-label="complexity" class="govuk-table__cell govuk-table__cell--numeric">8</td>
        <td aria-label="parole cases" class="govuk-table__cell govuk-table__cell--numeric">0</td>
        <td aria-label="handover casese" class="govuk-table__cell govuk-table__cell--numeric">0</td>--> 
        <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
        <td aria-label="supporting cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="10">10</td>
        <td aria-label="responsible cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11">11</td>
        <td aria-label="coworking cases" class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">8</td>
        <td aria-label="total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="29">29</td>
        

        <td aria-label="select" class="govuk-table__cell">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="margin-left: 20px; margin-top: -8px;">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              </label>
            </div>
          </div>
        </td>

      </tr>
  


    </tbody>
  </table>

  <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-left: 1030px;">
    Compare workloads
  </button>
  

</form>
  

<div class="govuk-grid-column-full govuk-!-margin-top-4"></div>



<!--Accordion-->  

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Unavailable POMs
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      


      <table class="govuk-table">
        <thead class="govuk-table__head">

        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">POM</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col">POM type</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total cases</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row recommended_pom_row_0">
            <td aria-label="POM name" class="govuk-table__cell">

                Richard Adams
        </td>
            <td aria-label="Working pattern" class="govuk-table__cell">Unavailable for new allocations</td>
            <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
            </td> -->
            <td aria-label="POM type" class="govuk-table__cell ">Probation POM</td>
            <td aria-label="Total" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">37</td>

          </tr>

            <tr class="govuk-table__row recommended_pom_row_0">
              <td aria-label="POM name" class="govuk-table__cell">

                  Malcolm Casimir
                </td>
              <td aria-label="Working pattern" class="govuk-table__cell">Unavailable for new allocations</td>
              <!-- <td aria-label="Previous allocation" class="govuk-table__cell">-
              </td> -->
              <td aria-label="POM type" class="govuk-table__cell ">Prison POM</td>
              <td aria-label="Total" class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">25</td>
            </tr>

  </tbody>
</table>






    </div>
  </div>


 
</div>





{% endblock %}
