{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
Review case details – Digital Prison Services
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% endblock %}


{% endblock %}


{% block beforeContent %}


<div class="govuk-!-margin-bottom-3"></div>

<a href="/allocations/check-tier-changes" class="govuk-back-link govuk-body">Back</a>
{% endblock %}


{% block content %}

<form method="post" action="/allocations/reallocate/step2-select-pom-simon-riley">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    <div class="moj-page-header-actions">
  
      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">Review Simon Riley's case</h1></br>
        <span class="govuk-caption-l" style="margin-bottom: 10px;">Currently allocated to Jessica King</span>
        <span class="govuk-caption-l">Prison number: AE1234BX</span>
        <!--<span class="govuk-caption-l">CRN: A165856</span>-->
        <span class="govuk-caption-l">Date of birth: 04 Jun 1986 (35)</span>
        
      </div>
    
      <div class="moj-page-header-actions__actions">
    
        
    
        <button class="govuk-button" data-module="govuk-button">
          Choose POM
        </button>
    
  
      </div>
    
    </div>
    
  
  
    <!--<strong class="govuk-tag govuk-tag--red" style="margin-right: 5px;">
    High complexity
  </strong>
  
    <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-7">
    Determinate
    </strong>-->
  
  </div>
  </div>
  


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          At a glance
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          
          <p  style="margin-bottom: -40px; margin-top:-5px">
            
    <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-7">
    Determinate
    </strong>
      </p>


<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m"></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-third">Main offence</th>
      <td class="govuk-table__cell govuk-!-width-one-third">Driving while disqualified (other than by reason of age)</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-third">Tier</th>
      <td class="govuk-table__cell govuk-!-width-one-third">D</td>
      <td class="govuk-table__cell govuk-!-width-one-third"><a href="" class="govuk-link govuk-link--no-visited-state">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-third">Sentence start date</th>
      <td class="govuk-table__cell govuk-!-width-one-third">18 Feb 2022</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-third">Earliest release date</th>
      <td class="govuk-table__cell govuk-!-width-one-third">Home detention curfew eligibility date: 18 Feb 2023 </td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-third">Location</th>
      <td class="govuk-table__cell govuk-!-width-one-third">E-4-017</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-third">POM role needed</th>
      <td class="govuk-table__cell govuk-!-width-one-third">Responsible</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
  </tbody>
</table> 



<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Key dates</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-third">Last OASys completed</th>
      <td class="govuk-table__cell govuk-!-width-one-third">Layer 1 - 05 Feb 2022</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-third">Handover start due</th>
      <td class="govuk-table__cell">18 Feb 2023</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-third">Handover completion due</th>
      <td class="govuk-table__cell">18 Feb 2023</td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table> 


    
          <a class="govuk-notification-banner__link" href="/allocations/reallocate/step2-select-pom-simon-riley">Choose a POM to allocate to now</a> or see more information below before allocating.
        </p>
      </div>
    </div>





<h2 class="govuk-heading-l govuk-!-margin-top-8">More information</h2>

<p>You can also see Simon's:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link govuk-link--no-visited-state" href="#">full Digital Prison Services profile</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="#">allocation history</a></li>
</ul>

<div class="govuk-accordion govuk-!-margin-top-8" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Sentence
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>
        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Conditional release date</td>
              <td class="govuk-table__cell govuk-!-width-one-third">26 May 2023</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">Sentence/licence end date</td>
              <td class="govuk-table__cell govuk-!-width-one-third">26 Nov 2023</td>
              <td class="govuk-table__cell govuk-!-width-one-third"></td>
            </tr>
            </tbody>
          </table>
      
      
      </p>
    </div>
  </div>



  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Other offences
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>
        

  
    No other offences recorded
        



        


      </p>
    </div>
  </div>





  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Risk
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>
        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-width-one-third">Category</td>
                <td class="govuk-table__cell govuk-!-width-one-third">C</td>
                <td class="govuk-table__cell govuk-!-width-one-third"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-width-one-third">Previous tier</td>
                <td class="govuk-table__cell govuk-!-width-one-third">B – changed in Feb 2022</td>
                <td class="govuk-table__cell govuk-!-width-one-third"></td>
              </tr>
          </tbody>
          </table>
        
          
        
    
      </p>
    </div>
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Case management
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>
        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

  
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Service provider</td>
    <td class="govuk-table__cell govuk-!-width-one-third">CRC (legacy)</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a href="" class="govuk-link govuk-link--no-visited-state">Change</a></td>
  </tr>

  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Last known address in Wales?</td>
    <td class="govuk-table__cell govuk-!-width-one-third">No</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a href="" class="govuk-link govuk-link--no-visited-state">Change</a></td>
  </tr>

  </tbody>
</table>
        
          
    
      </p>
    </div>
  </div>


  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Contacts
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>
        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-width-one-third">LDU name</td>
                <td class="govuk-table__cell govuk-!-width-one-third">Cornwall and Isles of Scilly</td>
                <td class="govuk-table__cell govuk-!-width-one-third"></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-width-one-third">COM name</td>
                <td class="govuk-table__cell govuk-!-width-one-third">Jason Smith</td>
                <td class="govuk-table__cell govuk-!-width-one-third"></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-width-one-third">Co-working POM</td>
                <td class="govuk-table__cell govuk-!-width-one-third">None allocated</td>
                <td class="govuk-table__cell govuk-!-width-one-third"></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-width-one-third">Victim liaison officer</td>
                <td class="govuk-table__cell govuk-!-width-one-third">None allocated</td>
                <td class="govuk-table__cell govuk-!-width-one-third"></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-width-one-third">Key worker</td>
                <td class="govuk-table__cell govuk-!-width-one-third">Sara Coleman</td>
                <td class="govuk-table__cell govuk-!-width-one-third"></td>
              </tr>

          </tbody>
          </table>
        
          
    
      </p>
    </div>
  </div>






    
  </div>



  

  <button class="govuk-button" data-module="govuk-button">
    Choose POM
  </button>
  
</div>



















<!--OLD SECTION-->



  

<div class="govuk-grid-column-one-third">

  <aside class="app-related-items" role="complementary">

    <h3 class="govuk-heading-m">
            Active alerts
          </h3>


          <p>
            <ul class="govuk-list">
              <p class="govuk-body">None</p>
            </ul>  
          </p>
          
         

  <p  class="govuk-!-margin-bottom-6">
    <a class="govuk-link govuk-link--no-visited-state" href="https://digital-dev.prison.service.justice.gov.uk/prisoner/G4227GV/alerts"target="_blank">View more alerts information</a>
  </p>

<!--

<p>
  <ul class="govuk-list">
    <li>Racist</li>
    <li>Risk to LGBT</li>
    <li>Tact</li>
    <li>Care experienced</li>
  </ul>  
</p>
-->



<img src="/public/images/risk/Rosh_Low.png" style="width:380px; margin-top: 20px;" alt="RoSH">



<!--
<h3 class="govuk-heading-m">
  RoSH
</h3>

<p>A RoSH has not been completed</p>

-->

<!-- <p>Risk to known adults, children, staff, and/or public</p> -->



</div>







<!-- <h3 class="govuk-heading-m">
  Useful links???
</h3>


</div>

<ul class="govuk-list">
  <li>
    <a class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-3" href="https://digital-dev.prison.service.justice.gov.uk/prisoner/G4227GV" target="_blank">View all case information</a>
  </li>
</ul>
    </aside>
</div>
</div> -->




</div>
</div>
</form>


{% endblock %}
