{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
Compare POMs – Digital Prison Services
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% endblock %}


{% endblock %}


{% block beforeContent %}


<div class="govuk-!-margin-bottom-3"></div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}


{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    
    <div class="moj-page-header-actions">
  
      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">Compare POMs for Simon Riley</h1></br>
        <span class="govuk-caption-l" style="margin-bottom: 10px;">Currently allocated to Jessica King</span>
        <span class="govuk-caption-l">Prison number: AE1234BX</span>
        <!--<span class="govuk-caption-l">CRN: A165856</span>-->
        <span class="govuk-caption-l">Date of birth: 04 Jun 1986 (35)</span>
      </div>
    </div>
  
  </div>
</div>
  
      <!--<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"></hr>-->
  
  
      <div class="govuk-!-margin-top-4 govuk-!-margin-bottom-6">
      <!--<h2 class="govuk-heading-m">
        POM comparison
      </h2>
      <p>Compare the POM details to make your decision.</p>-->
        </div>
      


      <div class="govuk-grid-row">



<!--Teaser 1-->


       <div class="govuk-grid-column-one-quarter">

        <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]" style="background-color: white; border:1px solid black;">
          <div class="govuk-cookie-banner__message govuk-width-container">
        
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <h2 class="govuk-cookie-banner__heading govuk-heading-m" style="margin-left: 25px; margin-top: 0px; margin-bottom: 5px;">Jessica King</h2>
                <p style="margin-left: 25px; margin-bottom: 20px;">Full time</p>

                <div class="govuk-warning-text" style="margin-left: 25px; margin-top: -15px; margin-bottom: -10px;">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <p class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  Currently allocated
                  </p>
                  </div>
                  

                <div class="govuk-cookie-banner__content" style="margin-left: 25px; margin-right: 25px; margin-top: 20px;">

                  <h3 class="govuk-heading-s">
                    Case mix by role
                  </h3>

                  <div class="workforce-progress-container">
                    <div class="workforce-progress-bar tier_a" style="width:30%"><p>9<p></div>
                    <div class="workforce-progress-bar tier_b" style="width:58%; background-color:#f499be"><p>17</p></div>
                    <div class="workforce-progress-bar tier_c" style="width:7%; background-color: #b1b4b6; padding-left: 5px; padding-right: 5px;"><p>1<p></div>
                  </div>

                  <ul class="govuk-list">
                    <li><span class="caseload-swatch tier_a"></span>Responsible: 9</li>
                    <li><span class="caseload-swatch tier_d"></span>Supporting: 17</li>
                    <li><span class="caseload-swatch tier_other"></span>Co-working: 1</li>
                  </ul>
                  
                
          <h3 class="govuk-heading-s">
            Case mix by tier
          </h3>
      
          <div class="workforce-progress-container">
            <div class="workforce-progress-bar tier_a" style="width:19%"><p>5</p></div>
            <div class="workforce-progress-bar tier_b" style="width:30%"><p>8</p></div>
            <div class="workforce-progress-bar tier_c" style="width:40%"><p>11</p></div>
            <div class="workforce-progress-bar tier_d" style="width:10%"><p>3</p></div>
          </div>
      
          <ul class="govuk-list">
            <li><span class="caseload-swatch tier_a"></span>Tier A: 5</li>
            <li><span class="caseload-swatch tier_b"></span>Tier B: 8</li>
            <li><span class="caseload-swatch tier_c"></span>Tier C: 11</li>
            <li><span class="caseload-swatch tier_d"></span>Tier D: 3</li>
            <li><span class="caseload-swatch tier_other"></span>Tier N/A: 0</li>
          </ul>
      


          
      
          <div class="govuk-grid-row" style="margin-left: 0px; margin-right: 0px; margin-top: 40px;">
            
            <h3 class="govuk-heading-s">
              Current workload
            </h3>


            <div class="govuk-grid-column-half">
              <div class="card card-total">
                <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">3</span>
                  <p>allocations in last 7 days
                  </p></a>
              </div>
            </div>

            <div class="govuk-grid-column-half">
              <div class="card card-total">
                <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">4</span>
                  <p>parole cases
                  </p></a>
              </div>
            </div>
  
            <div class="govuk-grid-column-half">
              <div class="card card-total">
                <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">8</span>
                  <p>handover cases
                  </p></a>
              </div>
            </div>

          </div>



          <div class="govuk-grid-row" style="margin-left: 0px; margin-right: 0px;">
      
            <!-- <div class="govuk-grid-column-half">
              <div class="card card-total">
                <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">14</span>
                <p>high complexity cases</p></a>
              </div>
            </div> -->

            <div class="govuk-grid-column-half">
              <div class="card card-total">
                <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">14</span>
                <p>OASys assessments</br>due in the next 2 months</p></a>
              </div>
            </div>

            
          </div>









          <form method="post" action="/allocations/final/reallocate/step3b-validate-allocation-simon-riley">

          <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" style="margin-bottom: 40px">
            Keep allocation
          </button>


        </form>


        </div>
                
                
                </div>
              </div>
            </div>
        
            
          </div>
        </div>






       

<!--Teaser 2-->


<div class="govuk-grid-column-one-quarter">

  <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]">
    <div class="govuk-cookie-banner__message govuk-width-container">
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m" style="margin-left: 25px; margin-top: 0px; margin-bottom: 5px;">Annie Bradley</h2>
          <p style="margin-left: 25px;">Full time</p>

          <div class="govuk-cookie-banner__content" style="margin-left: 25px; margin-right: 25px; margin-top: 80px;">

            <h3 class="govuk-heading-s">
              Case mix by role
            </h3>

            <div class="workforce-progress-container">
              <div class="workforce-progress-bar tier_a" style="width:42%"><p>5<p></div>
              <div class="workforce-progress-bar tier_b" style="width:16%; background-color:#f499be"><p>11</p></div>
              <div class="workforce-progress-bar tier_c" style="width:42%; background-color: #b1b4b6;"><p>5<p></div>
            </div>

            <ul class="govuk-list">
              <li><span class="caseload-swatch tier_a"></span>Responsible: 5</li>
              <li><span class="caseload-swatch tier_d"></span>Supporting: 11</li>
              <li><span class="caseload-swatch tier_other"></span>Co-working: 5</li>
            </ul>
            
          
    <h3 class="govuk-heading-s">
      Case mix by tier
    </h3>

    <div class="workforce-progress-container">
      <div class="workforce-progress-bar tier_a" style="width:20%"><p>5</p></div>
      <div class="workforce-progress-bar tier_b" style="width:37%"><p>8</p></div>
      <div class="workforce-progress-bar tier_c" style="width:5%; padding-left: 5px; padding-right: 5px;"><p>1</p></div>
      <div class="workforce-progress-bar tier_d" style="width:33%"><p>7</p></div>
    </div>

    <ul class="govuk-list">
      <li><span class="caseload-swatch tier_a"></span>Tier A: 5</li>
      <li><span class="caseload-swatch tier_b"></span>Tier B: 8</li>
      <li><span class="caseload-swatch tier_c"></span>Tier C: 1</li>
      <li><span class="caseload-swatch tier_d"></span>Tier D: 7</li>
      <li><span class="caseload-swatch tier_other"></span>Tier N/A: 0</li>
    </ul>



    

    <div class="govuk-grid-row" style="margin-left: 0px; margin-right: 0px; margin-top: 40px;">
      
      <h3 class="govuk-heading-s">
        Current workload
      </h3>


      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">2</span>
            <p>allocations in last 7 days
            </p></a>
        </div>
      </div>

      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">4</span>
            <p>parole cases
            </p></a>
        </div>
      </div>

      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">8</span>
            <p>handover cases
            </p></a>
        </div>
      </div>

    </div>



    <div class="govuk-grid-row" style="margin-left: 0px; margin-right: 0px;">

      <!-- <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">14</span>
          <p>high complexity cases</p></a>
        </div>
      </div> -->

      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">10</span>
          <p>OASys assessments</br>due in the next 2 months</p></a>
        </div>
      </div>

      
    </div>







    <form method="post" action="/allocations/final/reallocate/step3-confirm-allocation-simon-riley">
  

    <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
      Allocate
    </button>

  </form>

  </div>
          
          
          </div>
        </div>
      </div>
  
      
    </div>
  </div>





<!--

        <div class="govuk-grid-column-one-third">

          <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]">
            <div class="govuk-cookie-banner__message govuk-width-container">
          
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h2 class="govuk-cookie-banner__heading govuk-heading-m" style="margin-left: 20px;">	Katy McCann</h2>
          
                  <div class="govuk-cookie-banner__content" style="margin-left: 20px; margin-right: 40px;">
  
                    <ul class="govuk-list">
                      <li>– Full time</li>
                      <li>– <strong>27</strong> total cases</li>
                      <li>– <strong>12</strong> parole cases</li>
                      <li>– <strong>0</strong> handover cases</li>
                      <li>– <strong>0</strong> Allocations in last 7 days</li>
                  </ul>
              
                  
            <h3 class="govuk-heading-s">
              Case mix by tier
            </h3>
        
            <div class="workforce-progress-container">
              <div class="workforce-progress-bar tier_a" style="width:40%"><p style="govuk-colour("white")">5</p></div>
              <div class="workforce-progress-bar tier_b" style="width:55%"><p>8</p></div>
              <div class="workforce-progress-bar tier_c" style="width:5%"><p style="govuk-colour("white")">1</p></div>
            </div>
        
            <ul class="govuk-list">
              <li><span class="caseload-swatch tier_a"></span>Tier A: 5</li>
              <li><span class="caseload-swatch tier_b"></span>Tier B: 8</li>
              <li><span class="caseload-swatch tier_c"></span>Tier C: 1</li>
              <li><span class="caseload-swatch tier_d"></span>Tier D: 0</li>
              <li><span class="caseload-swatch tier_other"></span>Tier N/A: 0</li>
            </ul>
        
        
            <h3 class="govuk-heading-s govuk-!-margin-top-6">
              Case mix by POM role
            </h3>
        
            <div class="workforce-progress-container">
              <div class="workforce-progress-bar tier_a" style="width:50%"><p style="govuk-colour("white")">7</p></div>
              <div class="workforce-progress-bar tier_d" style="width:45%"><p>6</p></div>
              <div class="workforce-progress-bar tier_other" style="width:5%"><p>1</p></div>
            </div>
        
            <ul class="govuk-list">
              <li><span class="caseload-swatch tier_a"></span>Responsible: 7</li>
              <li><span class="caseload-swatch tier_d"></span>Supporting: 6</li>
              <li><span class="caseload-swatch tier_other"></span>Co-working: 1</li>
            </ul>
      
  
            <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
              Allocate
            </button>
  
          </div>
                  
                  
                  </div>
                </div>
              </div>
          
              
            </div>
          </div>

-->



<!--Teaser 3-->
 

<div class="govuk-grid-column-one-quarter">

  <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]">
    <div class="govuk-cookie-banner__message govuk-width-container">
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m" style="margin-left: 25px; margin-top: 0px; margin-bottom: 5px;">Sophie Hill
            </h2>
            <p style="margin-left: 25px;">Full time</p>
            <!--<span class="secondary overdue" style="margin-left: 25px;">Previously allocated</span>-->
          
  
          <div class="govuk-cookie-banner__content" style="margin-left: 25px; margin-right: 25px; margin-top: 80px;">

            <h3 class="govuk-heading-s">
              Case mix by role
            </h3>

            <div class="workforce-progress-container">
              <div class="workforce-progress-bar tier_a" style="width:45%"><p>10<p></div>
              <div class="workforce-progress-bar tier_b" style="width:40%; background-color:#f499be"><p>8</p></div>
              <div class="workforce-progress-bar tier_c" style="width:10%; background-color: #b1b4b6; padding-left: 5px; padding-right: 5px;"><p>1<p></div>
            </div>

            <ul class="govuk-list">
              <li><span class="caseload-swatch tier_a"></span>Responsible: 10</li>
              <li><span class="caseload-swatch tier_d"></span>Supporting: 8</li>
              <li><span class="caseload-swatch tier_other"></span>Co-working: 1</li>
            </ul>
          
    <h3 class="govuk-heading-s">
      Case mix by tier
    </h3>

    <div class="workforce-progress-container">
      <div class="workforce-progress-bar tier_a" style="width:25%"><p>5</p></div>
      <div class="workforce-progress-bar tier_b" style="width:40%"><p>8</p></div>
      <div class="workforce-progress-bar tier_c" style="width:5%; padding-left: 5px; padding-right: 5px;"><p>1</p></div>
      <div class="workforce-progress-bar tier_d" style="width:25%"><p>5</p></div>
    </div>

    <ul class="govuk-list">
      <li><span class="caseload-swatch tier_a"></span>Tier A: 5</li>
      <li><span class="caseload-swatch tier_b"></span>Tier B: 8</li>
      <li><span class="caseload-swatch tier_c"></span>Tier C: 1</li>
      <li><span class="caseload-swatch tier_d"></span>Tier D: 5</li>
      <li><span class="caseload-swatch tier_other"></span>Tier N/A: 0</li>
    </ul>



    

    <div class="govuk-grid-row" style="margin-left: 0px; margin-right: 0px; margin-top: 40px;">
      
      <h3 class="govuk-heading-s">
        Current workload
      </h3>


      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">4</span>
            <p>allocations in last 7 days
            </p></a>
        </div>
      </div>

      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">2</span>
            <p>parole cases
            </p></a>
        </div>
      </div>

      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">3</span>
            <p>handover cases
            </p></a>
        </div>
      </div>

    </div>



    <div class="govuk-grid-row" style="margin-left: 0px; margin-right: 0px;">
<!-- 
      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">14</span>
          <p>high complexity cases</p></a>
        </div>
      </div> -->

      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">3</span>
          <p>OASys assessments</br>due in the next 2 months</p></a>
        </div>
      </div>

      
    </div>









    <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
      Allocate
    </button>

  </div>
          
          
          </div>
        </div>
      </div>
  
      
    </div>
  </div>


<!--Teaser 4-->



<div class="govuk-grid-column-one-quarter">

  <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]">
    <div class="govuk-cookie-banner__message govuk-width-container">
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m" style="margin-left: 25px; margin-top: 0px; margin-bottom: 5px;">Jim Roantree</h2>
          <p style="margin-left: 25px;">Full time</p>

          <div class="govuk-cookie-banner__content" style="margin-left: 25px; margin-right: 25px; margin-top: 80px;">

            <h3 class="govuk-heading-s">
              Case mix by role
            </h3>

            <div class="workforce-progress-container">
              <div class="workforce-progress-bar tier_a" style="width:30%"><p>9<p></div>
              <div class="workforce-progress-bar tier_b" style="width:60%; background-color:#f499be"><p>17</p></div>
              <div class="workforce-progress-bar tier_c" style="width:5%; background-color: #b1b4b6; padding-left: 5px; padding-right: 5px;"><p>1<p></div>
            </div>

            <ul class="govuk-list">
              <li><span class="caseload-swatch tier_a"></span>Responsible: 9</li>
              <li><span class="caseload-swatch tier_d"></span>Supporting: 17</li>
              <li><span class="caseload-swatch tier_other"></span>Co-working: 1</li>
            </ul>
            
          
    <h3 class="govuk-heading-s">
      Case mix by tier
    </h3>

    <div class="workforce-progress-container">
      <div class="workforce-progress-bar tier_a" style="width:18%"><p>5</p></div>
      <div class="workforce-progress-bar tier_b" style="width:29%"><p>8</p></div>
      <div class="workforce-progress-bar tier_c" style="width:40%"><p>11</p></div>
      <div class="workforce-progress-bar tier_d" style="width:11%"><p>3</p></div>
    </div>

    <ul class="govuk-list">
      <li><span class="caseload-swatch tier_a"></span>Tier A: 5</li>
      <li><span class="caseload-swatch tier_b"></span>Tier B: 8</li>
      <li><span class="caseload-swatch tier_c"></span>Tier C: 11</li>
      <li><span class="caseload-swatch tier_d"></span>Tier D: 3</li>
      <li><span class="caseload-swatch tier_other"></span>Tier N/A: 0</li>
    </ul>



    

    <div class="govuk-grid-row" style="margin-left: 0px; margin-right: 0px; margin-top: 40px;">
      
      <h3 class="govuk-heading-s">
        Current workload
      </h3>


      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">3</span>
            <p>allocations in last 7 days
            </p></a>
        </div>
      </div>

      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">4</span>
            <p>parole cases
            </p></a>
        </div>
      </div>

      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">8</span>
            <p>handover cases
            </p></a>
        </div>
      </div>

    </div>



    <div class="govuk-grid-row" style="margin-left: 0px; margin-right: 0px;">

      <!-- <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">14</span>
          <p>high complexity cases</p></a>
        </div>
      </div> -->

      <div class="govuk-grid-column-half">
        <div class="card card-total">
          <a href="#" class="govuk-link--no-visited-state"><span class="card__heading">14</span>
          <p>OASys assessments</br>due in the next 2 months</p></a>
        </div>
      </div>

      
    </div>







    

    <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
      Allocate
    </button>

  



  </div>
          
          
          </div>
        </div>
      </div>
  
      
    </div>
  </div>








<!--

          <div class="govuk-grid-column-one-third">

            <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]">
              <div class="govuk-cookie-banner__message govuk-width-container">
            
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">
                    <h2 class="govuk-cookie-banner__heading govuk-heading-m" style="margin-left: 20px;">Andrien Ricketts</h2>
            
                    <div class="govuk-cookie-banner__content" style="margin-left: 20px; margin-right: 40px;">
    
                      <ul class="govuk-list">
                        <li>– Full time</li>
                        <li>– <strong>27</strong> total cases</li>
                        <li>– <strong>12</strong> parole cases</li>
                        <li>– <strong>0</strong> handover cases</li>
                        <li>– <strong>0</strong> Allocations in last 7 days</li>
                    </ul>
                
                    
              <h3 class="govuk-heading-s">
                Case mix by tier
              </h3>
          
              <div class="workforce-progress-container">
                <div class="workforce-progress-bar tier_a" style="width:40%"><p style="govuk-colour("white")">5</p></div>
                <div class="workforce-progress-bar tier_b" style="width:55%"><p>8</p></div>
                <div class="workforce-progress-bar tier_c" style="width:5%"><p style="govuk-colour("white")">1</p></div>
              </div>
          
              <ul class="govuk-list">
                <li><span class="caseload-swatch tier_a"></span>Tier A: 5</li>
                <li><span class="caseload-swatch tier_b"></span>Tier B: 8</li>
                <li><span class="caseload-swatch tier_c"></span>Tier C: 1</li>
                <li><span class="caseload-swatch tier_d"></span>Tier D: 0</li>
                <li><span class="caseload-swatch tier_other"></span>Tier N/A: 0</li>
              </ul>
          
          
              <h3 class="govuk-heading-s govuk-!-margin-top-6">
                Case mix by POM role
              </h3>
          
              <div class="workforce-progress-container">
                <div class="workforce-progress-bar tier_a" style="width:50%"><p style="govuk-colour("white")">7</p></div>
                <div class="workforce-progress-bar tier_d" style="width:45%"><p>6</p></div>
                <div class="workforce-progress-bar tier_other" style="width:5%"><p>1</p></div>
              </div>
          
              <ul class="govuk-list">
                <li><span class="caseload-swatch tier_a"></span>Responsible: 7</li>
                <li><span class="caseload-swatch tier_d"></span>Supporting: 6</li>
                <li><span class="caseload-swatch tier_other"></span>Co-working: 1</li>
              </ul>
        
    
              <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Allocate
              </button>
    
            </div>
                    
                    
                    </div>
                  </div>
                </div>
            
                
              </div>
            </div>
  
  
  -->
  




{% endblock %}
