{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
Make allocations – Digital Prison Services
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl govuk-!-margin-top-6">
  POM cases
 </h1>
 
 
 <div class="govuk-grid-row">
   <div class="govuk-grid-column-one-half">
   
 
     <div class="moj-search">
 
       <form action="#" method="post">
     
         <div class="govuk-form-group">
           <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
             Find a case
           </label>
     
           <!--<div id="search-hint" class="govuk-hint moj-search__hint ">
             Search by name, email or username
           </div>-->
     
           <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
     
         </div>
     
         <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
           Search
         </button>
     
       </form>
     </div>
 
  
 </div>
 </div>
 
 
 
 <div class="govuk-grid-row govuk-!-margin-top-8">
   <div class="govuk-grid-column-full">
 
     <h2 class="govuk-heading-m">
      Allocate and manage cases
      </h2>

      <hr class="govuk-section-break govuk-section-break--visible">

   </div>
 </div>


<div class="homepage-content" style="margin-top: -50px;">

  <div class="govuk-width-container">
    <ul class="govuk-grid-row card-group">

      <li class="govuk-grid-column-one-third card-group__item">
        <div class="card card--clickable" data-test="secure-move">
            <h2 class="govuk-heading-m card__heading">
              <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Make allocations</a></h2>
                <p class="govuk-body card__description">x</p>
        </div>
      </li>
        

    </ul>
  </div>
  
</div>






<div class="govuk-grid-row govuk-!-margin-top-8">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-m">
     Manage staff
     </h2>

     <hr class="govuk-section-break govuk-section-break--visible">

  </div>
</div>


<div class="homepage-content" style="margin-top: -50px;">

  <div class="card card--clickable">
    <h2 class="govuk-heading-m card__heading">
       <a class="govuk-link card__link" href="/public">Visit someone in prison</a>
    </h2>
    <strong class="govuk-tag govuk-tag--yellow">
      Private Beta
    </strong>
    <br><br>
    <p class="govuk-body card__description">A new public service that will replace the existing booking request service.</p>
 </div>

 <div class="govuk-width-container">
   <ul class="govuk-grid-row card-group">

     <li class="govuk-grid-column-one-third card-group__item">
       <div class="card card--clickable" data-test="secure-move">
           <h2 class="govuk-heading-m card__heading">
             <a class="govuk-link card__link govuk-link--no-visited-state" href="#">View all POMs</a></h2>
               <p class="govuk-body card__description">See what POMs are working on and change their availability.</p>
       </div>
     </li>


     <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="secure-move">
          <h2 class="govuk-heading-m card__heading">
            <a class="govuk-link card__link govuk-link--no-visited-state" href="../add-pom/find-staff-member.html">Add a POM</a></h2>
              <p class="govuk-body card__description">Add a POM so you can allocate to them.</p>
      </div>
    </li>
       

   </ul>
 </div>
 
</div>






{% endblock %}
