{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
Confirm allocation
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}

{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    
    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title govuk-!-margin-top-6">
        <h1 class="govuk-heading-l">Case information for Jack Smith</h1></br>
        <span class="govuk-caption-l">Prison number: G4198UW</span>
        <span class="govuk-caption-l">Date of birth: 01 Oct 1985 (36)</span>
      </div>
    </div>


    <form method="post" action="">




<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Save
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Save and allocate
  </button>
</div>





    </form>






  
    </div>
  </div>
{% endblock %}
