{% extends "layout-mens-homd.html" %}


{% block pageTitle %}
Confirm allocation
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}

{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    
    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title govuk-!-margin-top-6">
        <h1 class="govuk-heading-l">Add missing details for Lila Jones</h1></br>
        <span class="govuk-caption-l">Prison number: G2911GD</span>
        <span class="govuk-caption-l">Date of birth: 22 Feb 1980 ([age])</span>
      </div>
    </div>


    <p class="govuk-body">This information ensures the service recommends the correct POM type and knows which kind of handover this person needs.</p>

    <p class="govuk-body">When information from NDelius becomes available, it will replace what you enter here. </p>




<form action="/casemissingdetails" method="post" >


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset govuk-!-margin-top-9">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        What is this person’s ROSH?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rosh" name="rosh" type="radio" value="veryhigh">
        <label class="govuk-label govuk-radios__label" for="rosh">
          Very high
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rosh-2" name="rosh" type="radio" value="high">
        <label class="govuk-label govuk-radios__label" for="rosh-2">
          High
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rosh-3" name="rosh" type="radio" value="medium">
        <label class="govuk-label govuk-radios__label" for="rosh-3">
          Medium
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rosh-4" name="rosh" type="radio" value="low">
        <label class="govuk-label govuk-radios__label" for="rosh-4">
          Low
        </label>
      </div>
    </div>
  </fieldset>


    <fieldset class="govuk-fieldset govuk-!-margin-top-9">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        What is this person’s complexity of need level?
      </h1>
    </legend>
    <div id="changedName-hint" class="govuk-hint">
      
      Find this in NOMIS by going to NOMIS MIS reporting. Then open the folder 085 – OASys & BCS and select Female Complexity Report.
 
      If no level has been recorded, complete a manual assessment using this <a class="govuk-link" href="#">assessment form</a>. Find more information in this <a class="govuk-link" href="#">guidance</a>.

    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="complexity" name="complexity" type="radio" value="high">
        <label class="govuk-label govuk-radios__label" for="complexity">
          High
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="complexity-2" name="complexity" type="radio" value="medium">
        <label class="govuk-label govuk-radios__label" for="complexity-2">
          Medium
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="complexity-3" name="complexity" type="radio" value="low">
        <label class="govuk-label govuk-radios__label" for="complexity-3">
          Low
        </label>
      </div>
    </div>
  </fieldset>


</div>





      <div class="govuk-button-group govuk-!-margin-top-9">
        <button type="submit" class="govuk-button" data-module="govuk-button" name="MissingCaseDetails" value="save">
          Save
        </button>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="MissingCaseDetails" value="saveandallocate">
          Save and allocate
        </button>
      </div>


</form>






  
    </div>
  </div>
{% endblock %}
