{% extends "layout-homd-test-nav.html" %}


{% block pageTitle %}
Handover cases
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
      Handover cases
    </h1>
  
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>

<!--Tab Labels-->
    

      <ul class="govuk-tabs__list">

<!--
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#overview-dashboard">
            Overview
          </a>
        </li>
-->


        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#upcoming-handovers">
            Upcoming handovers (7)
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#handovers-in-progress">
            Handovers in progress (23)
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#overdue-tasks">
            Overdue tasks (3)
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#com-allocation-overdue">
            COM allocation overdue (3)
          </a>
        </li>

      </ul>




<!--Tab 1 Content: Upcoming Handovers-->


      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="upcoming-handovers">
        <h2 class="govuk-heading-m">Upcoming handovers</h2>
     
          <p>A COM will be allocated in the next 8 weeks. The POM should start getting ready to hand the case over to the community.</p>
  
          <nav class="moj-pagination" id="pagination-label">
            <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
            <ul class="moj-pagination__list">
            <li class="moj-pagination__item moj-pagination__item--active"></li>
            </ul>
            <p class="moj-pagination__results">Showing <b>1</b> to <b>7</b> of <b>7</b> results</p>
          </nav>



          <table class="govuk-table govuk-!-margin-top-6" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="none">Prisoner details</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">POM</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending">COM responsible</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Tier</th>
                  <th scope="col" class="govuk-table__header" style="padding-left: 20px;">Handover progress</br>recorded by POM</th>
              </tr>
            </thead>


            <tbody class="govuk-table__body">
  

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Nguyen" href="#">Nguyễn, Bảo</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Dicks" href="#">Stephen Dicks</a></td>
                
                  <td class="govuk-table__cell due-date" data-sort-value="2021.07.28">
                    <span class="date highlight">COM responsible: </br>28 Jul 2021</span>
                    <span class="secondary highlight">Handover due soon</span>
                  </td>

                  <td class="govuk-table__cell" data-sort-value="2022.03.28">TED: </br>28 Mar 2022</td>
                <td class="govuk-table__cell" data-sort-value="B"><strong>B</strong> <br> NPS (legacy)</td>
                <td class="govuk-table__cell">
            <ul class="govuk-list govuk-body-s task-summary-checklist">
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>
                Review OASys</li>
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</a></li>
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Attend handover meeting</li>
            </ul>
          </td>
              </tr>
  


  
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Musial" href="#">Musial, Kwasi</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Adams" href="#">Richard Adams</a></td>
               

                <td class="govuk-table__cell due-date" data-sort-value="2021.07.28">
                  <span class="date highlight"data-sort-value="2021.08.01">COM responsible: </br>01 Aug 2021</span>
                  <span class="secondary highlight">Handover due soon</span>
                </td>

                <td class="govuk-table__cell" data-sort-value="2021.11.01">HDCED: </br>01 Nov 2021</td>
                <td class="govuk-table__cell" data-sort-value="C"><strong>C</strong> <br> CRC (legacy)</td>
                <td class="govuk-table__cell">
            <ul class="govuk-list govuk-body-s task-summary-checklist">
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</a></li>
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Send handover report</a></li>
            </ul>
          </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Niemec" href="#">Niemec, Tobiasz</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="King" href="#">Jessica King</a></td>
                <td class="govuk-table__cell" data-sort-value="2021.08.26">COM responsible: </br>26 Aug 2021</td>
                <td class="govuk-table__cell" data-sort-value="2022.11.26">ARD: </br>26 Nov 2022</td>
                <td class="govuk-table__cell" data-sort-value="B"><strong>B</strong>  <br>NPS (legacy)</td>
                <td class="govuk-table__cell">
            <ul class="govuk-list govuk-body-s task-summary-checklist">
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>
                Review OASys</li>
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</a></li>
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Send handover report</li>
            </ul>
          </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Parker" href="#">Parker, Hadyn</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Bayram" href="#">Eve Bayram</a></td>
                <td class="govuk-table__cell" data-sort-value="2021.09.02">COM responsible: </br>02 Sep 2021</td>
                <td class="govuk-table__cell" data-sort-value="2022.05.02">PED:</br> 02 May 2022</td>
                <td class="govuk-table__cell" data-sort-value="B"><strong>B</strong> <br>NPS (legacy)</td>
                <td class="govuk-table__cell">
            <ul class="govuk-list govuk-body-s task-summary-checklist">
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not complete"/>
                Review OASys</li>
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not complete"/>Have contact from COM</li>
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Send handover report</li>
            </ul>
          </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Dalton" href="#">Shane, Dalton</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Hanson" href="#">Matthew Hanson</a></td>
                <td class="govuk-table__cell" data-sort-value="2021.09.11">COM responsible: </br>11 Sep 2021</td>
                <td class="govuk-table__cell" data-sort-value="2021.12.11">HDCED: </br>11 Dec 2021</td>
                <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
                <td class="govuk-table__cell">
            <ul class="govuk-list govuk-body-s task-summary-checklist">
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</a></li>
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Send handover report</li>
            </ul>
          </td>
              </tr>

  
              
            
  
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Simpkin" href="#">Simpkin, Derick</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Hill" href="#">Sophie Hill</a></td>
                <td class="govuk-table__cell" data-sort-value="2021.11.23">COM supporting: </br>23 Aug 2021 <br><p style="padding-top: 10px;">COM responsible:</br> 23 Nov 2021</p></td>
                <td class="govuk-table__cell" data-sort-value="2022.04.08">ARD: </br>08 Apr 2022</td>
                <td class="govuk-table__cell" data-sort-value="C"><strong>C</strong> <br>NPS (legacy)</td>
                <td class="govuk-table__cell">
            <ul class="govuk-list govuk-body-s task-summary-checklist">
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>
                Review OASys</li>
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</li>
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Attend handover meeting</li>
            </ul>
          </td>
              </tr>
  
              


              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Robinson" href="#">Robinson, Jack</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#" data-sort-value="Doe">Peter Doe</a></td>
                <td class="govuk-table__cell" data-sort-value="2021.1206">COM supporting:</br> 06 Sep 2021</br>
                  <p style="padding-top: 10px;">COM responsible: </br>06 Dec 2021</p></td>
                <td class="govuk-table__cell" data-sort-value="2022.04.23">CRD: </br>23 Apr 2022</td>
                <td class="govuk-table__cell" data-sort-value="A"><strong>A</strong> <br>NPS (legacy)</td>
                <td class="govuk-table__cell">
            <ul class="govuk-list govuk-body-s task-summary-checklist">
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</li>
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Attend handover meeting</li>
            </ul>
          </td>
              </tr>              
  
  
            </tbody>
          </table>



          <nav class="moj-pagination" id="pagination-label">
            <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
            <ul class="moj-pagination__list">
            <li class="moj-pagination__item moj-pagination__item--active"></li>
            </ul>
            <p class="moj-pagination__results">Showing <b>1</b> to <b>7</b> of <b>7</b> results</p>
          </nav>

        </div>


<!--Tab 2 Content: Handover in progress-->


      
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="handovers-in-progress">
        <h2 class="govuk-heading-m">Handovers in progress</h2>

        <p>The POM should start sharing information about the case with the COM, highlighting any pre-release or pre-parole needs they have identified.</p>
        <p>For NPS (legacy) cases, the POM should be preparing to attend the handover meeting. POMs handing over CRC (legacy) cases must complete a POM to COM handover report.</p>


        <nav class="moj-pagination" id="pagination-label">
          <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
          <ul class="moj-pagination__list">
          <li class="moj-pagination__item moj-pagination__item--active"></li>
          </ul>
          <p class="moj-pagination__results">Showing <b>1</b> to <b>23</b> of <b>23</b> results</p>
        </nav>


    <table class="govuk-table govuk-!-margin-top-6" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none">Prisoner details</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">POM</th>
          <th scope="col" class="govuk-table__header" aria-sort="none"> COM</th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">COM responsible</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Tier</th>
            <th scope="col" class="govuk-table__header" style="padding-left: 20px;">Handover progress recorded by POM</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">


        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Perry" href="#">Perry, Bryn</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Barker" href="#">Sylvie Barker</a></td>
          <td class="govuk-table__cell" data-sort-value="Hillier">Michael Hillier</td>
        <td class="govuk-table__cell" data-sort-value="2020.12.01">COM responsible: </br>01 Dec 2020</td>
          <td class="govuk-table__cell" data-sort-value="2021.08.01">TED: </br>01 Aug 2021</td>
          <td class="govuk-table__cell" data-sort-value="B"><strong>B</strong> <br>NPS (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Attend handover meeting</li>
      </ul>
    </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Jameson" href="#">Jameson, Pharrell</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Gordon" href="#">James Gordon</a></td>
          <td class="govuk-table__cell"data-sort-value="Simpson">Deborah Simpson</td>
          <td class="govuk-table__cell" data-sort-value="2021.03.02">COM supporting: </br>02 Dec 2020<br>
            <p style="padding-top: 10px;">COM responsible: </br>02 Mar 2021</p></td>
          <td class="govuk-table__cell" data-sort-value="2021.07.16">CRD: </br>16 Jul 2021</td>
          <td class="govuk-table__cell" data-sort-value="C"><strong>C</strong> <br>NPS (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>
          Review OASys</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Attend handover meeting</li>
      </ul>
    </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Morris" href="#">Morris, Otto</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="King" href="#">Jessica King</a></td>
          <td class="govuk-table__cell" data-sort-value="Champion">Victoria Champion</td>
        <td class="govuk-table__cell" data-sort-value="2021.04.03">COM supporting: </br>03 Jan 2021<br>
          <p style="padding-top: 10px;">COM responsible: </br>03 Apr 2021</p></td>
          <td class="govuk-table__cell" data-sort-value="2021.08.27">ARD: </br>27 Aug 2021</td>
          <td class="govuk-table__cell" data-sort-value="B"><strong>B</strong> <br>NPS (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Attend handover meeting</li>
      </ul>
    </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Osborne" href="#">Osborne, Harry</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Doe" href="#">Peter Doe</a></td>
          <td class="govuk-table__cell" data-sort-value="O'Connell">Niall O'Connell</td>
        <td class="govuk-table__cell" data-sort-value="2021.04.12">COM responsible: </br>12 Apr 2021</td>
          <td class="govuk-table__cell" data-sort-value="2021.07.18">HDC: </br>18 Jul 2021</td>
          <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</a></li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Send handover report</li>
      </ul>
    </td>
        </tr>



        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Farmer" href="#">Farmer, Michael</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Barker" href="#">Sylvie Barker</a></td>
          <td class="govuk-table__cell" data-sort-value="Taylor">Rebecca Taylor</td>
        <td class="govuk-table__cell" data-sort-value="2021.04.21">COM responsible: </br>21 Apr 2021</td>
          <td class="govuk-table__cell" data-sort-value="2021.07.14">HDC: </br>14 Jul 2021</td>
          <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</a></li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Send handover report</li>
      </ul>
    </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Armstrong" href="#">Armstrong, Dylan</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Adams" href="#">Richard Adams</a></td>
          <td class="govuk-table__cell" data-sort-value="Cawley">Sam Cawley</td>
        <td class="govuk-table__cell" data-sort-value="2021.04.30">COM supporting: </br>30 Mar 2021<br>
          <p style="padding-top: 10px;">COM responsible: </br>30 Apr 2021</p></td>
          <td class="govuk-table__cell" data-sort-value="2021.12.15">CRD: </br>15 Dec 2021</td>
          <td class="govuk-table__cell" data-sort-value="A"><strong>A</strong> <br>NPS (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Attend handover meeting</li>
      </ul>
    </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Patel" href="#">Patel, Kirit</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Barker" href="#">Sylvie Barker</a></td>
          <td class="govuk-table__cell" data-sort-value="Bailey">Sarah Bailey</td>
        <td class="govuk-table__cell" data-sort-value="2021.05.01">COM supporting:</br> 01 Feb 2021<br>
          <p style="padding-top: 10px;">COM responsible: </br>01 May 2021</p></td>
          <td class="govuk-table__cell" data-sort-value="2021.09.14">CRD: </br>14 Sep 2021</td>
          <td class="govuk-table__cell" data-sort-value="B"><strong>B</strong> <br>NPS (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Attend handover meeting</li>
      </ul>
    </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Holmes" href="#">Holmes, Benjamin</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Santos" href="#">Carlos Santos</a></td>
          <td class="govuk-table__cell" data-sort-value="Kenny">Graham Kenny</td>
        <td class="govuk-table__cell" data-sort-value="2021.05.02">COM responsible: </br>02 May 2021</td>
          <td class="govuk-table__cell" data-sort-value="2021.07.25">HDC: </br>25 Jul 2021</td>
          <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</a></li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Send handover report</li>
      </ul>
    </td>
        </tr>
      


        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Udin" href="#">Udin, Amit</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Barker" href="#">Sylvie Barker</a></td>
          <td class="govuk-table__cell due-date" data-sort-value="Unknown">
            <span class="date overdue">Unknown</span>
            <span class="secondary overdue">Allocation overdue</span>
          </td>
        <td class="govuk-table__cell due-date" data-sort-value="2021.05.03">
          <span class="date overdue">COM responsible:</br> 03 May 2021</span>
          <span class="secondary overdue">Handover tasks overdue</span>
        </td>
        <td class="govuk-table__cell due-date" data-sort-value="2021.07.26">CRD: </br>26 Jul 2021</td>
          <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</a></li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Send handover report</li>
      </ul>
    </td>
        </tr>



        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Hall" href="#">Hall, David</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Column" href="#">Geoff Colum</a></td>
          <td class="govuk-table__cell" data-sort-value="Butcher">Rebecca Butcher</td>
        <td class="govuk-table__cell" data-sort-value="2021.05.12">COM responsible: </br>12 May 2021</td>
          <td class="govuk-table__cell" data-sort-value="2021.08.12">ARD:</br> 12 Aug 2021</td>
          <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</a></li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Send handover report</li>
      </ul>
    </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Afolayan" href="#">Afolayan, Imani</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="James" href="#">Helen James</a></td>
          <td class="govuk-table__cell" data-sort-value="Capello">Antonia Capello</td>
          <td class="govuk-table__cell due-date" data-sort-value="2021.05.13">
            <span class="date overdue">COM supporting: </br>13 Feb 2021<br>COM responsible: </br>13 May 2021</span>
            <span class="secondary overdue">Handover tasks overdue</span>
          </td>
          <td class="govuk-table__cell due-date" data-sort-value="2021.09.30">ARD: </br>30 Sep 2021</td>
          <td class="govuk-table__cell" data-sort-value="C"><strong>C</strong> <br>NPS (legacy)</td>
          <td class="govuk-table__cell">
     <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Review OASys</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Attend handover meeting</li>
      </ul>
    </td>
        </tr>



        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Okafor" href="#">Okafor, Ngozi</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Hanson" href="#">Michael Hanson</a></td>
          <td class="govuk-table__cell" data-sort-value="Oliver">Michaela Oliver</td>
        <td class="govuk-table__cell" data-sort-value="2021.05.15">COM supporting: </br>15 Feb 2021<br>
          <p style="padding-top: 10px;">COM responsible: </br>15 May 2021</p></td>
          <td class="govuk-table__cell" data-sort-value="2021.12.01">ARD: </br>01 Dec 2021</td>
          <td class="govuk-table__cell" data-sort-value="B"><strong>B</strong> <br>NPS (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Attend handover meeting</li>
      </ul>
    </td>
        </tr>



        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Parker" href="#">Parker, Harrison</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Yates" href="#">Laura Yates</a></td>
          <td class="govuk-table__cell" data-sort-value="Jones">Liam Jones</td>
          <td class="govuk-table__cell due-date" data-sort-value="2021.05.23">
            <span class="date overdue">COM responsible: </br>23 May 2021</span>
            <span class="secondary overdue">Handover tasks overdue</span>
          </td>
          <td class="govuk-table__cell due-date" data-sort-value="2021.08.15">HDCED: </br>15 Aug 2021</td>
         <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-body-s task-summary-checklist">
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</a></li>
              <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Send handover report</li>
            </ul>
          </td>
        </tr>



        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Adams" href="#">Adams, Alan</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Hill" href="#">Sophie Hill</a></td>
          <td class="govuk-table__cell" data-sort-value="Morgan">Francine Morgan</td>
        <td class="govuk-table__cell" data-sort-value="2021.06.01">COM responsible: </br>01 Jun 2021</td>
          <td class="govuk-table__cell" data-sort-value="2021.08.24">HDCED: </br>24 Aug 2021</td>
          <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</a></li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Send handover report</li>
      </ul>
    </td>
        </tr>

      

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Shanawy" href="#">Shanawy, Mo</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Santos" href="#">Carlos Santos</a></td>
          <td class="govuk-table__cell" data-sort-value="Mayowa">Yasmine Mayowa</td>
        <td class="govuk-table__cell" data-sort-value="2021.06.03">COM responsible: </br>03 Jun 2021</td>
          <td class="govuk-table__cell" data-sort-value="2021.08.26">CRD: </br>26 Aug 2021</td>
          <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</a></li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Send handover report</li>
      </ul>
    </td>
        </tr>



        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Ahmed" href="#">Ahmed, Adam</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="James" href="#">Helen James</a></td>
          <td class="govuk-table__cell" data-sort-value="Hawes">Melissa Hawes</td>
        <td class="govuk-table__cell" data-sort-value="2021.06.13">COM responsible: </br>13 Jun 2021</td>
          <td class="govuk-table__cell" data-sort-value="2021.09.05">HDCED: </br>05 Sep 2021</td>
          <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</a></li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Send handover report</li>
      </ul>
    </td>
        </tr>



        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Dunn" href="#">Dunn, Laurence</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Hill" href="#">Sophie Hill</a></td>
          <td class="govuk-table__cell" data-sort-value="O'Connell">Niall O'Connell</td>
        <td class="govuk-table__cell" data-sort-value="2021.06.22">COM responsible: </br>22 Jun 2021</td>
          <td class="govuk-table__cell" data-sort-value="2021.09.14">HDCED: </br>14 Sep 2021</td>
          <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</a></li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Send handover report</li>
      </ul>
    </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Adams" href="#">Adams, Damien</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Barker" href="#">Sylvie Barker</a></td>
          <td class="govuk-table__cell due-date" data-sort-value="Unknown">
            <span class="date overdue">Unknown</span>
            <span class="secondary overdue">Allocation overdue</span>
          </td>
        <td class="govuk-table__cell" data-sort-value="2021.06.30">COM responsible: </br>30 Jun 2021</td>
        <td class="govuk-table__cell" data-sort-value="2022.02.28">PRD: </br>28 Feb 2022</td>
          <td class="govuk-table__cell" data-sort-value="B"><strong>B</strong> <br>NPS (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Attend handover meeting</li>
      </ul>
    </td>
        </tr>



        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Enuku" href="#">Enuku, Michael</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Roantree" href="#">Jim Roantree</a></td>
          <td class="govuk-table__cell" data-sort-value="Smith">Gemma Smith</td>
        <td class="govuk-table__cell" data-sort-value="2021.07.01">COM responsible: </br>01 Jul 2021</td>
          <td class="govuk-table__cell" data-sort-value="2021.09.23">HDCED: </br>23 Sep 2021</td>
          <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</a></li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Send handover report</li>
      </ul>
    </td>
        </tr>



        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Townsend" href="#">Townsend, Zachary</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Yates" href="#">Laura Yates</a></td>
          <td class="govuk-table__cell" data-sort-value="Rose">Nadia Rose</td>
        <td class="govuk-table__cell" data-sort-value="2021.07.05">COM responsible: </br>05 Jul 2021</td>
          <td class="govuk-table__cell" data-sort-value="2021.09.27">ARD: </br>27 Sep 2021</td>
          <td class="govuk-table__cell" data-sort-value="C"><strong>C</strong> <br>CRC (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</a></li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Send handover report</li>
      </ul>
    </td>
        </tr>



        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"data-sort-value="Coggins"  href="#">Coggins, Jerry</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Doe" href="#">Peter Doe</a></td>
          <td class="govuk-table__cell due-date" data-sort-value="Unknown">
            <span class="date overdue">Unknown</span>
            <span class="secondary overdue">Allocation overdue</span>
          </td>
          <td class="govuk-table__cell" data-sort-value="2021.07.20">COM supporting: </br>20 Apr 2021<br>
            <p style="padding-top: 10px;">COM responsible: </br>20 Jul 2021</p></td>
          <td class="govuk-table__cell" data-sort-value="2021.12.03">CRD: </br>03 Dec 2021</td>
          <td class="govuk-table__cell" data-sort-value="B"><strong>B</strong> <br>NPS (legacy)</td>
          <td class="govuk-table__cell">
        <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Attend handover meeting</li>
        </ul>
        </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Smith" href="#">Smith, Ryan</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="James" href="#">Helen James</a></td>
          <td class="govuk-table__cell" data-sort-value="Lane">Penny Lane</td>
        <td class="govuk-table__cell" data-sort-value="2021.10.11">COM supporting:</br> 11 Jul 2021<br>
          <p style="padding-top: 10px;">COM responsible:</br> 11 Oct 2021</p></td>
          <td class="govuk-table__cell" data-sort-value="2022.03.01">ARD: </br>01 Mar 2022</td>
          <td class="govuk-table__cell" data-sort-value="B"><strong>B</strong> <br>NPS (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Attend handover meeting</li>
      </ul>
    </td>
        </tr>
        


        
       


        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Moody" href="#">Moody, Peter</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Hanson" href="#">Michael Hanson</a></td>
          <td class="govuk-table__cell" data-sort-value="Lane">Penny Lane</td>
        <td class="govuk-table__cell" data-sort-value="2021.10.12">COM supporting: </br>12 Jul 2021<br>
          <p style="padding-top: 10px;">COM responsible:</br> 12 Oct 2021</p></td>
          <td class="govuk-table__cell" data-sort-value="2022.02.28">CRD: </br>28 Feb 2022</td>
          <td class="govuk-table__cell" data-sort-value="C"><strong>C</strong> <br>NPS (legacy)</td>
          <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Review OASys</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Attend handover meeting</li>
      </ul>
    </td>
        </tr>


        

    

      </tbody>
    </table>







        <nav class="moj-pagination" id="pagination-label">
          <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
          <ul class="moj-pagination__list">
          <li class="moj-pagination__item moj-pagination__item--active"></li>
          </ul>
          <p class="moj-pagination__results">Showing <b>1</b> to <b>23</b> of <b>23</b> results</p>
        </nav>



</div>




<!--Tab 3 Content: Overdue tasks-->


<div class="govuk-tabs__panel" id="overdue-tasks">
  <h2 class="govuk-heading-m">Overdue tasks</h2>

  <p>Responsibility for these cases has transferred to the community, but some handover tasks are still recorded as incomplete. </p>


  <nav class="moj-pagination" id="pagination-label">
    <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
    <ul class="moj-pagination__list">
    <li class="moj-pagination__item moj-pagination__item--active"></li>
    </ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>3</b> of <b>3</b> results</p>
  </nav>







<table class="govuk-table govuk-!-margin-top-6">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header" aria-sort="none">Prisoner details</th>
    <th scope="col" class="govuk-table__header" aria-sort="none">POM</th>
    <th scope="col" class="govuk-table__header">COM</th>
    <th scope="col" class="govuk-table__header" aria-sort="ascending">COM responsible</th>
    <th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>
    <th scope="col" class="govuk-table__header" aria-sort="none">Tier</th>
      <th scope="col" class="govuk-table__header" style="padding-left: 20px;">POM handover progress</th>
  </tr>
</thead>
<tbody class="govuk-table__body">




  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Udin" href="#">Udin, Amit</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
    <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Barker" href="#">Sylvie Barker</a></td>
    <td class="govuk-table__cell due-date">
      <span class="date overdue">Unknown</span>
      <span class="secondary overdue">Allocation overdue</span>
    </td>
  

  <td class="govuk-table__cell due-date" data-sort-value="2021.05.03">
    <span class="date overdue">COM responsible: </br>03 May 2021</span>
    <span class="secondary overdue">Handover tasks overdue</span>
  </td>
  <td class="govuk-table__cell due-date" data-sort-value="2021.07.26">CRD: </br>26 Jul 2021</td>
    <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
    <td class="govuk-table__cell">
<ul class="govuk-list govuk-body-s task-summary-checklist">
  <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</a></li>
  <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Send handover report</li>
</ul>
</td>
  </tr>


  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Afolayan" href="#">Afolayan, Imani</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
    <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="James" href="#">Helen James</a></td>
    <td class="govuk-table__cell">Antonia Capello</td>
    <td class="govuk-table__cell due-date" data-sort-value="2021.05.13">
      <span class="date overdue">COM supporting: </br>13 Feb 2021<br>
    COM responsible: </br>13 May 2021</span>
      <span class="secondary overdue">Handover tasks overdue</span>
    </td>
    <td class="govuk-table__cell due-date" data-sort-value="2021.09.30">ARD: </br>30 Sep 2021</td>
    <td class="govuk-table__cell" data-sort-value="C"><strong>C</strong> <br>NPS (legacy)</td>
    <td class="govuk-table__cell">
<ul class="govuk-list govuk-body-s task-summary-checklist">
  <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Review OASys</li>
  <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Have contact from COM</li>
  <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Attend handover meeting</li>
</ul>
</td>
  </tr>


  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" data-sort-value="Parker" href="#">Parker, Harrison</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
    <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" data-sort-value="Yates" href="#">Laura Yates</a></td>
    <td class="govuk-table__cell">Liam Jones</td>
    <td class="govuk-table__cell due-date" data-sort-value="2021.05.23">
      <span class="date overdue">COM responsible:</br> 23 May 2021</span>
      <span class="secondary overdue">Handover tasks overdue</span>
    </td>
    <td class="govuk-table__cell due-date" data-sort-value="2021.08.15">HDCED: </br>15 Aug 2021</td>
   <td class="govuk-table__cell" data-sort-value="D"><strong>D</strong> <br>CRC (legacy)</td>
    <td class="govuk-table__cell">
      <ul class="govuk-list govuk-body-s task-summary-checklist">
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/check.png" alt="task complete"/>Have contact from COM</a></li>
        <li class="none"><img style="width:7%; padding-right: 5px;" src="/public/images/cross.png" alt="task not started"/>Send handover report</li>
      </ul>
    </td>
  </tr>


</tbody>
</table>




  <nav class="moj-pagination" id="pagination-label">
    <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
    <ul class="moj-pagination__list">
    <li class="moj-pagination__item moj-pagination__item--active"></li>
    </ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>3</b> of <b>3</b> results</p>
  </nav>


  

</div>



<!--Tab 4 Content: COM allocation overdue-->


<div class="govuk-tabs__panel" id="com-allocation-overdue">
  
  <h1 class="govuk-heading-m">
    COM allocation overdue
  </h1>
  <p>These cases have an overdue handover date and are missing COM details on NDelius.</p>

  <nav class="moj-pagination" id="pagination-label">
    <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
    <ul class="moj-pagination__list">
    <li class="moj-pagination__item moj-pagination__item--active"></li>
    </ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>3</b> of <b>3</b> results</p>
  </nav>

  <table class="govuk-table govuk-!-margin-top-6">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Prisoner details</th>
        <th scope="col" class="govuk-table__header">POM</th>
        <th scope="col" class="govuk-table__header">COM responsible</th>
        <th scope="col" class="govuk-table__header">Earliest </br>release date</th>
        <th scope="col" class="govuk-table__header">Tier</th>
        <th scope="col" class="govuk-table__header">Days </br>overdue</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Local divisional unit (LDU) details</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">


      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Amit, Udin</a><br> <span class="govuk-!-margin-bottom-0"> G2911GD </span></td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Sylvie Barker</a></td>
        <td class="govuk-table__cell">COM responsible:</br>03 May 2021</td>
        <td class="govuk-table__cell">CRD: </br>26 Jul 2021</td>
        <td class="govuk-table__cell"><strong>D</strong><br>CRC (legacy)</td>
        <td class="govuk-table__cell due-date">
          <span class="date overdue">28</span>
        </td>
        <td class="govuk-table__cell"><p>Cornwall and Isles of Scilly</p><p style="margin-top: -10px;">PlymouthCornwallandIslesofScilly-omic@justice.gov.uk</p></td>
      </tr>


      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Damien, Adams</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Sylvie Barker</a></td>
        <td class="govuk-table__cell">COM responsible:<br>30 Jun 2021</td>
        <td class="govuk-table__cell">PRD: </br>28 Feb 2022</td>
        <td class="govuk-table__cell"><strong>B</strong><br>NPS (legacy)</td>
        <td class="govuk-table__cell due-date">
          <span class="date overdue">16</span>
        </td>
        <td class="govuk-table__cell">Check how to contact Swansea, Neath Port-Talbot LDU. We do not have an email address recorded for it.</td>
      </tr>


      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Coggins, Jerry</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Peter Doe</a></td>
        <td class="govuk-table__cell">COM supporting:<br>20 Apr 2021<br><p style="padding-top: 10px;">COM responsible:<br>20 Jul 2021</p></td>
        <td class="govuk-table__cell">CRD: </br>03 Dec 2021</td>
        <td class="govuk-table__cell"><strong>B</strong><br>NPS (legacy)</td>
        <td class="govuk-table__cell due-date">
          <span class="date overdue">5</span>
        </td>
        <td class="govuk-table__cell">We don’t have this information.
          <a class="govuk-link govuk-link--no-visited-state" href="#">Check DPS to find where this person was sentenced</a> and then try contacting the LDU for that area.</td>
      </tr>



    </tbody>
  </table>





  <nav class="moj-pagination" id="pagination-label">
    <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
    <ul class="moj-pagination__list">
    <li class="moj-pagination__item moj-pagination__item--active"></li>
    </ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>3</b> of <b>3</b> results</p>
  </nav>
  
  </div>



<!--End Five Content-->




    </div>
  </div>
</div>




{% endblock %}

