{% extends "layout-homd-test-nav.html" %}


{% block pageTitle %}
Handover cases
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-bottom-3"></div>
<a href="/handover/oversight/prison-handover-overview" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <h1 class="govuk-heading-l">
    COM allocation overdue
  </h1>
  <p>These cases have an overdue handover date and are missing COM details on NDelius.</p>

  <nav class="moj-pagination" id="pagination-label">
    <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
    <ul class="moj-pagination__list">
    <li class="moj-pagination__item moj-pagination__item--active"></li>
    </ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>3</b> of <b>3</b> results</p>
  </nav>

  <table class="govuk-table govuk-!-margin-top-6">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Case</th>
        <th scope="col" class="govuk-table__header">COM supports case</th>
        <th scope="col" class="govuk-table__header">COM responsible for case</th>
        <th scope="col" class="govuk-table__header">Days since COM<br> allocation requested</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">LDU email address</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Amit Udin</a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
        <td class="govuk-table__cell">Legacy CRC case – no supporting COM required</td>
        <td class="govuk-table__cell">01 May 2021</td>
        <td class="govuk-table__cell">35</td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">doncaster-omic@justice.gov.uk</a></td>
      </tr>
      
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Jerry Coggins</a><br> <span class="govuk-!-margin-bottom-0"> G2911GD </span></td>
        <td class="govuk-table__cell">01 Apr 2021</td>
        <!-- <td class="govuk-table__cell due-date">

          <span class="date overdue">01 Apr 2021</span>
          <span class="secondary overdue">Allocation overdue</span>
        </td> -->
        <td class="govuk-table__cell">01 Jun 2021</td>
        <td class="govuk-table__cell">Email could not<br> be sent</td>
        <td class="govuk-table__cell">We don’t have this information.
<a class="govuk-link govuk-link--no-visited-state" href="#">Check DPS to find where this person was sentenced</a> and then try contacting the LDU for that area.</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Damien Adams </a><br> <span class="govuk-hint govuk-!-margin-bottom-0"> G2911GD </span></td>
        <td class="govuk-table__cell">15 May 2021</td>
        <td class="govuk-table__cell">15 Aug 2021</td>
        <td class="govuk-table__cell">23</td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">kent-omic@justice.gov.uk</a></td>
      </tr>

    </tbody>
  </table>

  <nav class="moj-pagination" id="pagination-label">
    <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
    <ul class="moj-pagination__list">
    <li class="moj-pagination__item moj-pagination__item--active"></li>
    </ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>3</b> of <b>3</b> results</p>
  </nav>





</div>

  </div>



{% endblock %}
