{% extends "layout-search-homd.html" %}


{% block pageTitle %}
Prisoner profile - remain in closed conditions
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="./parole" class="govuk-back-link govuk-!-margin-top-6" style="margin-bottom: -20px;">Back</a>
{% endblock %}


{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-top-3">Allocation information</h1>

    <p><span class="moj-badge moj-badge--blue" style="margin-right: 5px;">Indeterminate</span><span class="moj-badge moj-badge--grey">Parole eligible</span></p>

  </div>

</div>
  



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom: -10px;">Prisoner information</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
 
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Name</td>
      <td class="govuk-table__cell govuk-!-width-one-third">Kirit Patel</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Prisoner number</td>
      <td class="govuk-table__cell govuk-!-width-one-third">G2407UH</td>
      <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link govuk-link--no-visited-state" href="#">View case on DPS</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Date of birth</td>
      <td class="govuk-table__cell govuk-!-width-one-third">18 Dec 1972</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Category</td>
      <td class="govuk-table__cell govuk-!-width-one-third">Cat A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>

  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Tiering calculation</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Tier A</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link govuk-link--no-visited-state" href="#">Change</a></td>
  </tr>

  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Current responsibility</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Custody</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>

  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Last known address in Wales</td>
    <td class="govuk-table__cell govuk-!-width-one-third">No</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>

  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Service provider</td>
    <td class="govuk-table__cell govuk-!-width-one-third">NPS (Legacy)</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>


  </tbody>
</table>

<h2 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom: -10px;">Sentence</h2>

<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header"></th>
    <th scope="col" class="govuk-table__header"></th>
    <th scope="col" class="govuk-table__header"></th>
  </tr>
</thead>
<tbody class="govuk-table__body">

<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Main offence</td>
  <td class="govuk-table__cell govuk-!-width-one-third">An offence under section 1 of the Sexual Offences Act</td>
  <td class="govuk-table__cell govuk-!-width-one-third"></td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Sentence type</td>
  <td class="govuk-table__cell govuk-!-width-one-third">Indeterminate</td>
  <td class="govuk-table__cell govuk-!-width-one-third"></td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third">Sentence start date</td>
  <td class="govuk-table__cell govuk-!-width-one-third">14 Mar 2000</td>
  <td class="govuk-table__cell govuk-!-width-one-third"></td>
</tr>

</tbody>
</table>





<h2 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom: -10px;">Parole</h2>

<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header"></th>
    <th scope="col" class="govuk-table__header"></th>
    <th scope="col" class="govuk-table__header"></th>
  </tr>
</thead>

<tbody class="govuk-table__body">

  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Tariff expiry date</td>
    <td class="govuk-table__cell govuk-!-width-one-third">02 Jun 2013</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  
  
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Custody report due</td>
    <td class="govuk-table__cell govuk-!-width-one-third">05 Sep 2021</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Target hearing date</td>
    <td class="govuk-table__cell govuk-!-width-one-third">01 Nov 2021</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Hearing outcome</td>
    <td class="govuk-table__cell govuk-!-width-one-third">No hearing outcome yet</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>


</tbody>
</table>


<h2 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom: -10px;">Previous parole application
</h2>

<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header"></th>
    <th scope="col" class="govuk-table__header"></th>
    <th scope="col" class="govuk-table__header"></th>
  </tr>
</thead>
<tbody class="govuk-table__body">

  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Hearing outcome</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Sep 2019 – Remain in closed conditions</td><br>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>

  
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third"></td>
  <td class="govuk-table__cell govuk-!-width-one-third">Aug 2017– Remain in closed conditions</td>
  <td class="govuk-table__cell govuk-!-width-one-third"></td>
</tr>


<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-width-one-third"></td>
  <td class="govuk-table__cell govuk-!-width-one-third">Oct 2015 – Remain in closed conditions</td>
  <td class="govuk-table__cell govuk-!-width-one-third"></td>
</tr>

</tbody>
</table>





  <h2 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom: -10px;">Prison allocation</h2>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">POM role</td>
      <td class="govuk-table__cell govuk-!-width-one-third">Responsible</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>

    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Handover start date</td>
      <td class="govuk-table__cell govuk-!-width-one-third">07 Feb 2023</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>

  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Responsibility handover</td>
    <td class="govuk-table__cell govuk-!-width-one-third">07 Feb 2023</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>

    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">POM</td>
      <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link govuk-link--no-visited-state" href="#">James Gordon</a></td>
      <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link govuk-link--no-visited-state" href="#">Reallocate</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Co-working POM</td>
      <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
      <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link govuk-link--no-visited-state" href="#">Allocate</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Allocation history</td>
      <td class="govuk-table__cell govuk-!-width-one-third">POM reallocated on 10 Aug 2021</td>
      <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Keyworker</td>
      <td class="govuk-table__cell govuk-!-width-one-third">Jim Roantree</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>

    </tbody>
  </table>


  <h2 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom: -10px;">Community information</h2>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Local divisional unit (LDU)</td>
      <td class="govuk-table__cell govuk-!-width-one-third"><span style="margin-left: 30px;">Birmingham</span></td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>

    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Local divisional unit (LDU) email address</td>
      <td class="govuk-table__cell govuk-!-width-one-third"><span style="margin-left: 30px;">birmingham@digital.justice.gov.uk</span></td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Team</td>
      <td class="govuk-table__cell govuk-!-width-one-third"><span style="margin-left: 30px;">Unknown</span></td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third due-date">
        Community Offender Manager (COM) name
        </td>

      <td class="govuk-table__cell govuk-!-width-one-third"><span style="margin-left: 30px;">Michael Hanson</span></td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    
    </tbody>
  </table>


  <h2 class="govuk-heading-s govuk-!-margin-top-4" style="margin-bottom: -10px;">Victim Liaison Officer (VLO) <span class="moj-badge moj-badge--red" style="margin-left: 10px;">Non-disclosable</span></h2>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Victim Liaison Officer name</td>
      <td class="govuk-table__cell govuk-!-width-one-third">Laura Yates</td>
      <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link govuk-link--no-visited-state" href="#">Add new VLO contact</a></td>


    </tbody>
  </table>


  </div>
</div>


{% endblock %}
