{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">

<div class="govuk-width-container">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

<a href="allocations" class="govuk-back-link">Back</a>


<h1 class="govuk-heading-l">
  Allocate a Prison Offender Manager
</h1>

<span class="moj-badge" style="margin-right:5px">Determinate</span>
<span class="moj-badge moj-badge--grey">Recall</span>

<div class="govuk-!-margin-top-6">

  <h2 class="govuk-heading-m">Prisoner</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                Stanford, Andrew
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                5 January 1978
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Prisoner number
              </dt>
              <dd class="govuk-summary-list__value">
                G4198UW
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  View DPS profile<span class="govuk-visually-hidden"> DPS link</span>
                </a>
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Offence</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main offence
              </dt>
              <dd class="govuk-summary-list__value">
                Theft of motor vehicle
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Sentence type
              </dt>
              <dd class="govuk-summary-list__value">
                Determinate
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Sentence start date
              </dt>
              <dd class="govuk-summary-list__value">
                29 May 2015
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Conditional release date
              </dt>
              <dd class="govuk-summary-list__value">
                11 June 2017
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Automatic release date
              </dt>
              <dd class="govuk-summary-list__value">
                N/A
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Parole eligibility
              </dt>
              <dd class="govuk-summary-list__value">
                N/A
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Home detention curfew eligibility
              </dt>
              <dd class="govuk-summary-list__value">
                5 April 2017
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Tariff date
              </dt>
              <dd class="govuk-summary-list__value">
                N/A
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Parole review date
              </dt>
              <dd class="govuk-summary-list__value">
                N/A
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Post recall release date
              </dt>
              <dd class="govuk-summary-list__value">
                N/A
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Sentence/ licence end date
              </dt>
              <dd class="govuk-summary-list__value">
                2 August 2018
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
          </dl>


          <h2 class="govuk-heading-m">Case information</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current case owner
              </dt>
              <dd class="govuk-summary-list__value">
                Community
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                POM role
              </dt>
              <dd class="govuk-summary-list__value">
                Supporting
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Last known address in Wales
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> change address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service provider
              </dt>
              <dd class="govuk-summary-list__value">
                National Probation Service (NPS)
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> change service provider</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Tiering calculation
              </dt>
              <dd class="govuk-summary-list__value">
                Tier B
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> change tier</span>
                </a>
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Community information</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Local divisional unit (LDU)
              </dt>
              <dd class="govuk-summary-list__value">
                Unknown
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Local divisional unit (LDU) email address
              </dt>
              <dd class="govuk-summary-list__value">
                Unknown
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Team
              </dt>
              <dd class="govuk-summary-list__value">
                Unknown
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Community Offender Manager (COM) name
              </dt>
              <dd class="govuk-summary-list__value">
                Unknown
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
          </dl>

        </div>

      </div>


<!--add in the allocation part OR link to another page? -->
<!--how does the user access allocation history? Important to see this at the point of allocatio -->

<div class="govuk-grid-column-full">
<h2 class="govuk-heading-m">
  Recommendation: Prison officer POM
</h2>

<p>This recommendation takes the prisoner's tier and
time left to serve into account.</p>

<h3 class="govuk-heading-s">Active prison officer POMs</h3>

<table class="govuk-table responsive">
  <thead class="govuk-table__head">

  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">Name</th>
    <th class="govuk-table__header" scope="col">Previous<br>allocation</th>
    <th class="govuk-table__header" scope="col">Tier A<br>cases</th>
    <th class="govuk-table__header" scope="col">Tier B<br>cases</th>
    <th class="govuk-table__header" scope="col">Tier C<br>cases</th>
    <th class="govuk-table__header" scope="col">Tier D<br>cases</th>
    <th class="govuk-table__header" scope="col">No Tier<br>cases</th>
    <th class="govuk-table__header" scope="col">Total</th>
    <th class="govuk-table__header" scope="col">Working<br>pattern</th>
    <th class="govuk-table__header" scope="col">Action</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row recommended_pom_row_0">
      <td aria-label="POM name" class="govuk-table__cell ">Ricketts, Andrien</td>
      <td aria-label="Previous allocation" class="govuk-table__cell">

      </td>
      <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">3</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">5</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">3</td>
      <td aria-label="No tier cases" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell ">11</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Part time</td>
      <td aria-label="Action" class="govuk-table__cell table_cell__left_align">
      <a class="govuk-link" href=#>Allocate</a>
      </td>
    </tr>
    <tr class="govuk-table__row recommended_pom_row_1">
      <td aria-label="POM name" class="govuk-table__cell ">Dicks, Stephen</td>
      <td aria-label="Previous allocation" class="govuk-table__cell">

      </td>
      <td aria-label="Tier A cases" class="govuk-table__cell ">11</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">4</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">5</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">6</td>
      <td aria-label="No tier cases" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell ">26</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Part time</td>
      <td aria-label="Action" class="govuk-table__cell table_cell__left_align">
      <a class="govuk-link" href=#>Allocate</a>
      </td>
    </tr>
    <tr class="govuk-table__row recommended_pom_row_2">
      <td aria-label="POM name" class="govuk-table__cell ">Bayram, Eve</td>
      <td aria-label="Previous allocation" class="govuk-table__cell">

      </td>
      <td aria-label="Tier A cases" class="govuk-table__cell ">6</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">5</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">3</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">7</td>
      <td aria-label="No tier cases" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell ">21</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Part time</td>
      <td aria-label="Action" class="govuk-table__cell table_cell__left_align">
      <a class="govuk-link" href=#>Allocate</a>
      </td>
    </tr>
    <tr class="govuk-table__row recommended_pom_row_3">
      <td aria-label="POM name" class="govuk-table__cell ">Cufflin, Amy</td>
      <td aria-label="Previous allocation" class="govuk-table__cell">

      </td>
      <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">0</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">2</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">1</td>
      <td aria-label="No tier cases" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell ">3</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Part time</td>
      <td aria-label="Action" class="govuk-table__cell table_cell__left_align">
      <a class="govuk-link" href=#>Allocate</a>
      </td>
    </tr>
    <tr class="govuk-table__row recommended_pom_row_4">
      <td aria-label="POM name" class="govuk-table__cell ">Hindocha, Binit</td>
      <td aria-label="Previous allocation" class="govuk-table__cell">

      </td>
      <td aria-label="Tier A cases" class="govuk-table__cell ">0</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">1</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">0</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">1</td>
      <td aria-label="No tier cases" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell ">2</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Part time</td>
      <td aria-label="Action" class="govuk-table__cell table_cell__left_align">
      <a class="govuk-link" href=#>Allocate</a>
      </td>
    </tr>
    <tr class="govuk-table__row recommended_pom_row_5">
      <td aria-label="POM name" class="govuk-table__cell ">Treend, Ollie</td>
      <td aria-label="Previous allocation" class="govuk-table__cell">

      </td>
      <td aria-label="Tier A cases" class="govuk-table__cell ">1</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">0</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">0</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">1</td>
      <td aria-label="No tier cases" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell ">2</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Part time</td>
      <td aria-label="Action" class="govuk-table__cell table_cell__left_align">
      <a class="govuk-link" href=#>Allocate</a>
      </td>
    </tr>
    <tr class="govuk-table__row recommended_pom_row_6">
      <td aria-label="POM name" class="govuk-table__cell ">Mccann, Katherine</td>
      <td aria-label="Previous allocation" class="govuk-table__cell">

      </td>
      <td aria-label="Tier A cases" class="govuk-table__cell ">2</td>
      <td aria-label="Tier B cases" class="govuk-table__cell ">1</td>
      <td aria-label="Tier C cases" class="govuk-table__cell ">0</td>
      <td aria-label="Tier D cases" class="govuk-table__cell ">2</td>
      <td aria-label="No tier cases" class="govuk-table__cell ">0</td>
      <td aria-label="Total" class="govuk-table__cell ">5</td>
      <td aria-label="Working pattern" class="govuk-table__cell">Part time</td>
      <td aria-label="Action" class="govuk-table__cell table_cell__left_align">
      <a class="govuk-link" href=#>Allocate</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="govuk-grid-column-full govuk-!-margin-top-4"></div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Show active probation officer POMs
    </span>
  </summary>
  <div class="govuk-details__text">
    <h2 class="govuk-heading-m">
      </h2><table class="govuk-table responsive">

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Name</th>
        <th class="govuk-table__header" scope="col">Previous<br>allocation</th>
        <th class="govuk-table__header" scope="col">Tier A<br>cases</th>
        <th class="govuk-table__header" scope="col">Tier B<br>cases</th>
        <th class="govuk-table__header" scope="col">Tier C<br>cases</th>
        <th class="govuk-table__header" scope="col">Tier D<br>cases</th>
        <th class="govuk-table__header" scope="col">No tier<br>cases</th>
        <th class="govuk-table__header" scope="col">Total</th>
        <th class="govuk-table__header" scope="col">Working<br>pattern</th>
        <th class="govuk-table__header" scope="col">Action</th>
      </tr>

      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row not_recommended_pom_row_0">
          <td aria-label="POM name" class="govuk-table__cell ">Integration-Tests, Moic</td>
          <td aria-label="Previous allocation" class="govuk-table__cell">

          </td>
          <td aria-label="Tier A cases" class="govuk-table__cell ">1</td>
          <td aria-label="Tier B cases" class="govuk-table__cell ">2</td>
          <td aria-label="Tier C cases" class="govuk-table__cell ">1</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">3</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
          <td aria-label="Total" class="govuk-table__cell ">7</td>
          <td aria-label="Working pattern" class="govuk-table__cell">Part time</td>
          <td aria-label="Action" class="govuk-table__cell table_cell__right_align">
          <a class="govuk-link" href=#>Allocate</a>
          </td>
        </tr>
        <tr class="govuk-table__row not_recommended_pom_row_1">
          <td aria-label="POM name" class="govuk-table__cell ">Money, Leigh</td>
          <td aria-label="Previous allocation" class="govuk-table__cell">

          </td>
          <td aria-label="Tier A cases" class="govuk-table__cell ">5</td>
          <td aria-label="Tier B cases" class="govuk-table__cell ">0</td>
          <td aria-label="Tier C cases" class="govuk-table__cell ">1</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
          <td aria-label="Total" class="govuk-table__cell ">6</td>
          <td aria-label="Working pattern" class="govuk-table__cell">Part time</td>
          <td aria-label="Action" class="govuk-table__cell table_cell__right_align">
          <a class="govuk-link" href=#>Allocate</a>
          </td>
        </tr>
        <tr class="govuk-table__row not_recommended_pom_row_2">
          <td aria-label="POM name" class="govuk-table__cell ">Jara Duncan, Laura</td>
          <td aria-label="Previous allocation" class="govuk-table__cell">

          </td>
          <td aria-label="Tier A cases" class="govuk-table__cell ">2</td>
          <td aria-label="Tier B cases" class="govuk-table__cell ">2</td>
          <td aria-label="Tier C cases" class="govuk-table__cell ">1</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">2</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
          <td aria-label="Total" class="govuk-table__cell ">7</td>
          <td aria-label="Working pattern" class="govuk-table__cell">Part time</td>
          <td aria-label="Action" class="govuk-table__cell table_cell__right_align">
          <a class="govuk-link" href=#>Allocate</a>
          </td>
        </tr>
        <tr class="govuk-table__row not_recommended_pom_row_3">
          <td aria-label="POM name" class="govuk-table__cell ">Henley, Mary</td>
          <td aria-label="Previous allocation" class="govuk-table__cell">

          </td>
          <td aria-label="Tier A cases" class="govuk-table__cell ">1</td>
          <td aria-label="Tier B cases" class="govuk-table__cell ">0</td>
          <td aria-label="Tier C cases" class="govuk-table__cell ">0</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
          <td aria-label="Tier D cases" class="govuk-table__cell ">0</td>
          <td aria-label="Total" class="govuk-table__cell ">1</td>
          <td aria-label="Working pattern" class="govuk-table__cell">Part time</td>
          <td aria-label="Action" class="govuk-table__cell table_cell__right_align">
          <a class="govuk-link" href=#>Allocate</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</details>

<p>
    There are 2 POMs unavailable for new allocations.
      <a href=#>See all POMs</a>
  </p>






</div>


</main>




{% endblock %}
