{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-width-container">

<a href="#" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">


          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Check answers before sending this assessment to the community probation team</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of last OASys risk assessment
            </dt>
            <dd class="govuk-summary-list__value">
              01/11/2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> oasys</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Convicted under Terrorism Act 2000
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> terrorism act</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Identified as 'high profile'
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> high profile</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has Serious Crime Prevention Order
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">No</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> crime prevention order</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Requires management as a Multi-Agency Public Protection (MAPPA) level 3
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> MAPPA</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Likely to be a Critical Public Protection Case (CPPC)
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> cppc</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has been held in an extremism separation centre
            </dt>
            <dd class="govuk-summary-list__value">
              Yes - not due for release until more than 24 months
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> extremism separation centre</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Presents a very high risk of serious harm
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> serious harm</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Requires management as a Multi-Agency Public Protection (MAPPA) level 2
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> MAPPA 2</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Identified through the 'pathfinder' process
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> pathfinder</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other reason for consideration for early allocation to the probation team
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> other</span>
              </a>
            </dd>
          </div>
        </dl>

        <!-- <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">Eligible and discretionary assessments will be sent to the community probation team 18 months before release.</p> -->

        <div class="govuk-!-padding-bottom-4"></div>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

        </form>

      </div>


          <div class="govuk-grid-column-one-third">

            <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

            <aside class="app-related-items" role="complementary">
              <h2 class="govuk-heading-m" id="subsection-title">
                Guidance
              </h2>
              <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                  <li>
                    <a class="govuk-link" href="#">
                      View EQuiP guidance
                    </a>
                  </li>
                </ul>
              </nav>
            </aside>

          </div>
        </div>
      </main>
    </div>

</div>
</div>
</div>
</main>
</div>






{% endblock %}
