{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">

<div class="govuk-width-container">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

<a href="#" class="govuk-back-link">Back</a>
<div class="govuk-!-padding-bottom-3"></div>

<h1 class="govuk-heading-l">Case activity</h1>
<div class="govuk-!-padding-bottom-3"></div>

<h2 class="govuk-heading-m">HMP Bristol</h1>

  <div class="moj-timeline">

    <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Early allocation decision recorded</h2>
      <p class="moj-timeline__byline">by Eve Bayram</p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">12 Jan 2021 at 9:01am</time>
    </p>
    <div class="moj-timeline__description">
      <p>The community probation team declined the early allocation referral.</p>


    </div>
  </div>
    <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Early allocation decision recorded</h2>
      <p class="moj-timeline__byline">by Eve Bayram</p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">12 Jan 2021 at 9:01am</time>
    </p>
    <div class="moj-timeline__description">
      <p>The community probation team accepted the early allocation referral.</p>
        <p>The case handover date has been updated. The community probation team will allocate a COM to take responsibility for this case early.</p>


    </div>
  </div>


    <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Early allocation decision requested</h2>
      <p class="moj-timeline__byline">email sent automatically</p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">12 Jan 2021 at 9:01am</time>
    </p>
    <div class="moj-timeline__description">
      <p>The LDU for Central Birmingham Team 1 - <a href="#" class="govuk-link">ldu.example@justice.gov.uk</a> - was sent a copy of the discretionary early allocation assessment.</p>

      <p>The allocated POM was copied into this email.</p>


    </div>
  </div>

  <div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Early allocation assessment form completed</h2>
    <p class="moj-timeline__byline">by Eve Bayram</p>
  </div>
  <p class="moj-timeline__date">
    <time datetime="2019-06-14T14:01:00.000Z">12 Jan 2021 at 9:01am</time>
  </p>
  <div class="moj-timeline__description">
    <p>Assessment outcome is discretionary.</p>
    <p>The community probation team will need to make a decision.</p>
    <!-- <p>The LDU for Central Birmingham Team 1 - <a href="#" class="govuk-link">ldu.example@justice.gov.uk</a> - was sent the assessment and new handover dates.</p> -->

  </p><a href="view-past-ea-form" class="govuk-link">View saved assessment</a></p>
  </div>

  </div>


    <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Early allocation assessment form sent</h2>
      <p class="moj-timeline__byline">email sent automatically</p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">12 Jan 2021 at 9:01am</time>
    </p>
    <div class="moj-timeline__description">
      <p>The LDU for Central Birmingham Team 1 - <a href="#" class="govuk-link">ldu.example@justice.gov.uk</a> - was sent a copy of the eligible early allocation assessment and new handover dates.</p>

      <p>The allocated POM was copied into this email.</p>
    </div>

    </div>

    <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Early allocation assessment form completed</h2>
      <p class="moj-timeline__byline">by Eve Bayram</p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">12 Jan 2021 at 9:01am</time>
    </p>
    <div class="moj-timeline__description">
      <p>Assessment outcome: eligible.</p>
      <p>The case handover date has been updated. The community probation team will allocate a COM to take responsibility for this case early.</p>
      <!-- <p>The LDU for Central Birmingham Team 1 - <a href="#" class="govuk-link">ldu.example@justice.gov.uk</a> - was sent the assessment and new handover dates.</p> -->

    </p><a href="view-past-ea-form" class="govuk-link">View saved assessment</a></p>
    </div>

    </div>

  <div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Early allocation assessment form completed</h2>
    <p class="moj-timeline__byline">by Eve Bayram</p>
  </div>
  <p class="moj-timeline__date">
    <time datetime="2019-06-14T14:01:00.000Z">14 Nov 2020 at 3:01pm</time>
  </p>
  <div class="moj-timeline__description">
    <p>Assessment outcome: discretionary.</p>
    <p>The assessment has not been sent to the community probation team.</p>
    <p>We will remind the allocated POM to make a new assessment 18 months before release.</p>
  </p><a href="view-past-ea-form" class="govuk-link">View saved assessment</a></p>
  </div>

  </div>

  <div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Early allocation assessment form completed</h2>
    <p class="moj-timeline__byline">by Eve Bayram</p>
  </div>
  <p class="moj-timeline__date">
    <time datetime="2019-06-14T14:01:00.000Z">14 Nov 2020 at 3:01pm</time>
  </p>
  <div class="moj-timeline__description">
    <p>Assessment outcome: eligible.</p>
    <p>The assessment has not been sent to the community probation team.</p>
    <p>We will remind the allocated POM to make a new assessment 18 months before release.</p>
  </p><a href="view-past-ea-form" class="govuk-link">View saved assessment</a></p>
  </div>

  </div>

  <div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Early allocation assessment completed</h2>
    <p class="moj-timeline__byline">by Eve Bayram</p>
  </div>
  <p class="moj-timeline__date">
    <time datetime="2019-06-14T14:01:00.000Z">14 Nov 2020 at 3:01pm</time>
  </p>
  <div class="moj-timeline__description">
    <p>Assessment outcome: not eligible.</p>
  </p><a href="view-past-ea-form" class="govuk-link">View saved assessment</a></p>
  </div>

  </div>



  <div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Prison Offender Manager (POM) allocated</h2>
    <p class="moj-timeline__byline">by Joe Bloggs</p>
  </div>
  <p class="moj-timeline__date">
    <time datetime="2019-06-14T14:01:00.000Z">14 June 2019 at 2:01pm</time>
  </p>
  <div class="moj-timeline__description">
    <p>Eve Bayram (Prison staff POM) <a href="#" class="govuk-link">eve.bayram@justice.gov.uk</a> allocated</p>
  </div>

  </div>
</div>
</div>

</div>
</div>
</div>
</main>
</div>

</main>

<div>




{% endblock %}
