{% extends "layout-pom.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/service-user-banner.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="#" class="govuk-back-link">Back to my cases</a>
{% endblock %}


{% block content %}

<!-- <main class="govuk-main-wrapper"> -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="pom-v2-prisoner-profile-info-tab">Case summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="pom-v2-prisoner-profile-contacts-tab">Contacts</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="pom-v2-prisoner-profile-activity-tab">Case activity</a>
        </li>
      </ul>

    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Contacts</h1>

  <h2 class="govuk-heading-m govuk-!-margin-top-6">Community probation team</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Local divisional unit (LDU)</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Birmingham LDU</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>

  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Local divisional unit (LDU) email address</td>
    <td class="govuk-table__cell govuk-!-width-one-third">example@ldu.gov.uk</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Team</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Central Birmingham Team 1</td>
    <td class="govuk-table__cell govuk-!-width-one-third"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-third">Community Offender Manager (COM) name</td>
    <td class="govuk-table__cell govuk-!-width-one-third">Unallocated</td>
    <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="#"></a></td>
  </tr>
  </tbody>
</table>

  <h2 class="govuk-heading-m govuk-!-margin-top-6">Prison OMiC staff</h2>


  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-third">POM name</td>
        <td class="govuk-table__cell govuk-!-width-one-third">Hardy, Sue</td>
        <td class="govuk-table__cell govuk-!-width-one-third"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-third">Co-working POM name</td>
        <td class="govuk-table__cell govuk-!-width-one-third">N/A</td>
        <td class="govuk-table__cell govuk-!-width-one-third"></td>
      </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-third">Keyworker name</td>
      <td class="govuk-table__cell govuk-!-width-one-third">Adams, Richard</td>
      <td class="govuk-table__cell govuk-!-width-one-third"></td>
    </tr>
    </tbody>
  </table>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Victim Liaison Officer (VLO) <span class="moj-badge moj-badge--red" style="margin-left: 10px;">Non-disclosable</span></h2>
    <!-- <p class="govuk-body"> You must not share VLO information with the offender.</p> -->
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">First contact</th>
            <th scope="col" class="govuk-table__header"></th>
            <td scope="col" class="govuk-table__cell"><a href="delete-vlo" class="govuk-link" color="	#d4351c">Delete contact</a></td>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-one-third">Victim Liaison Officer name</td>
            <td class="govuk-table__cell govuk-!-width-one-third">Higgins, Grainne</td>
            <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="/add-vlo-edit">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-one-third">Email adress</td>
            <td class="govuk-table__cell govuk-!-width-one-third">example.email@vlo.com</td>
            <td class="govuk-table__cell govuk-!-width-one-third"><a class="govuk-link" href="/add-vlo-edit">Change</a></td>
          </tr>
        </tbody>
      </table>

      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-2" href="/add-vlo-v2">Add new VLO contact</a></p>
    </div>


      <div class="govuk-grid-column-one-third">
          <ul class="govuk-list">
            <!-- <li>
              <a class="govuk-link govuk-link--no-visited-state" href="appointment">Change POM allocation</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="appointment">Allocate co-working POM</a>
            </li> -->
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">View case on DPS</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">Add a case note</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="ea-start-page">Assess early allocation referral</a>
            </li>
          </ul>
        </div>


    </div>
  </div>
</div>

    </main>




{% endblock %}
