{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-width-container">

<a href="ea-start-page" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">


          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">View previous early allocation assessment</h1>

            <h2 class="govuk-heading-m">Summary</h2>

            <table class="govuk-table">
              <!-- <caption class="govuk-table__caption">Previously saved assessments</caption> -->
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header app-custom-class">Assessment date</th>
                  <th scope="col" class="govuk-table__header app-custom-class">Outcome</th>
                  <th scope="col" class="govuk-table__header app-custom-class">POM name</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">05/12/2020</td>
                  <td class="govuk-table__cell">Discretionary - the community probation team will make a decision</td>
                  <td class="govuk-table__cell">Mary Henley</td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-m">Assessment details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of last OASys risk assessment
            </dt>
            <dd class="govuk-summary-list__value">
              01/11/2020
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Convicted under Terrorism Act 2000
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Identified as 'high profile'
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has Serious Crime Prevention Order
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">No</p>
            </dd>
          </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Requires management as a Multi-Agency Public Protection (MAPPA) level 3
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Likely to be a Critical Public Protection Case (CPPC)
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Has been held in an extremism separation centre
              </dt>
              <dd class="govuk-summary-list__value">
                Yes - not due for release until more than 24 months
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Presents a very high risk of serious harm
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Requires management as a Multi-Agency Public Protection (MAPPA) level 2
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Identified through the 'pathfinder' process
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other reason for consideration for early allocation to the probation team
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
          </div>
        </dl>


      </div>


          <div class="govuk-grid-column-one-third">

            <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

            <aside class="app-related-items" role="complementary">
              <h2 class="govuk-heading-m" id="subsection-title">
                Guidance
              </h2>
              <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                  <li>
                    <a class="govuk-link" href="#">
                      View EQuiP guidance
                    </a>
                  </li>
                </ul>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <h2 class="govuk-heading-m" id="subsection-title">
                Prisoner information
              </h2>
              <ul class="govuk-list govuk-!-font-size-16">
                <li>
                  <p class="govuk-body">Name: Frogspawn, Bob </p>
                  <p class="govuk-body">Date of birth: 15/01/2000 </p>
                  <p class="govuk-body">NOMIS number: G2911GD</p>
              </ul>
              </nav>
            </aside>

          </div>
        </div>
      </main>
    </div>

</div>
</div>
</div>
</main>
</div>






{% endblock %}
